salescloud/cx/projects/Accelerator.SalesCloud.Client/Service References/AccountProxyService/Account.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:ns2="http://xmlns.oracle.com/apps/crmCommon/notes/noteService" xmlns:sdoXML="commonj.sdo/xml" xmlns:sdoJava="commonj.sdo/java" xmlns:ns0="http://xmlns.oracle.com/adf/svc/types/" xmlns="http://xmlns.oracle.com/apps/crmCommon/salesParties/accountService/" xmlns:ns3="http://xmlns.oracle.com/apps/cdm/foundation/parties/organizationService/" xmlns:ns1="http://xmlns.oracle.com/apps/crmCommon/salesParties/commonService/" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/crmCommon/salesParties/accountService/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="https://slcai761.us.oracle.com:10616/crmCommonSalesParties/AccountService?XSD=/META-INF/wsdl/BC4JService.xsd" namespace="http://xmlns.oracle.com/adf/svc/types/" />
  <xsd:import schemaLocation="https://slcai761.us.oracle.com:10616/crmCommonSalesParties/AccountService?XSD=/oracle/apps/crmCommon/salesParties/commonService/PrimaryAddress.xsd" namespace="http://xmlns.oracle.com/apps/crmCommon/salesParties/commonService/" />
  <xsd:import schemaLocation="https://slcai761.us.oracle.com:10616/crmCommonSalesParties/AccountService?XSD=/oracle/apps/crmCommon/salesParties/commonService/SalesTeamMember.xsd" namespace="http://xmlns.oracle.com/apps/crmCommon/salesParties/commonService/" />
  <xsd:import schemaLocation="https://slcai761.us.oracle.com:10616/crmCommonSalesParties/AccountService?XSD=/oracle/apps/crmCommon/notes/noteService/Note.xsd" namespace="http://xmlns.oracle.com/apps/crmCommon/notes/noteService" />
  <xsd:import schemaLocation="https://slcai761.us.oracle.com:10616/crmCommonSalesParties/AccountService?XSD=/sessiondef/extensibility/app/crmCommon/views/common/O_INT_SBL_Match_c.xsd" namespace="http://xmlns.oracle.com/apps/cdm/foundation/parties/organizationService/" />
  <xsd:import schemaLocation="https://slcai761.us.oracle.com:10616/crmCommonSalesParties/AccountService?XSD=/sessiondef/extensibility/app/crmCommon/views/common/ICS_CRM1_c.xsd" namespace="http://xmlns.oracle.com/apps/cdm/foundation/parties/organizationService/" />
  <xsd:import schemaLocation="https://slcai761.us.oracle.com:10616/crmCommonSalesParties/AccountService?XSD=/xml/sdoJava.xsd" namespace="commonj.sdo/java" />
  <xsd:import schemaLocation="https://slcai761.us.oracle.com:10616/crmCommonSalesParties/AccountService?XSD=/xml/sdoXML.xsd" namespace="commonj.sdo/xml" />
  <xsd:annotation>
    <xsd:documentation xmlns:oer="http://xmlns.oracle.com/oer">
      <name xmlns="http://xmlns.oracle.com/apps/crmCommon/salesParties/accountService/">Sales Cloud Account SDO</name>
      <description xmlns="http://xmlns.oracle.com/apps/crmCommon/salesParties/accountService/">An object that includes attributes used to store values while creating or updating an account.</description>
      <oer:attributes xmlns:oer="http://xmlns.oracle.com/oer">
        <oer:attribute description="Account Party Identifier. Generated by System during Create. Primary Key. Mandatory if SourceSystemReferenceAltKey or PartyNumberBusinessKey is not passed" name="PartyId" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Unique identifier for the Account Party. Can be system generated or user-provided during create, defined in profile option &quot;HZ_GENERATE_PARTY_NUMBER&quot;. Alternate Key. Mandatory if PK or SourceSystemReferenceAltKey is not passed in update. Mandatory based on profile option HZ_GENERATE_PARTY_NUMBER." name="PartyNumber" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Name of external source system, which are defined by an Admin as part of system setup. Part of Alternate Key (Along with SourceSystemReference). Mandatory if PK or PartyNumberBusinessKey is not passed in update" name="SourceSystem" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Identifier for this record from external source system. Part of Alternate Key (Along with SourceSystemReference) . Mandatory if PK or PartyNumberBusinessKey is not passed in update." name="SourceSystemReferenceValue" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Name of the account." name="OrganizationName" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Captures system generated or manually overridden suffix." name="UniqueNameSuffix" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Derived column. It is concatenation of unique_name_alias and suffix." name="PartyUniqueName" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Type of Sales Account. Possible values are ZCA_CUSTOMER or ZCA_PROSPECT" name="Type" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="ID of Sales Account Owner. To assign an owner to the sales account, one can either provide one of: Owner's party ID, PartyNumber or Email Address." name="OwnerPartyId" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Party Number of Sales Account Owner. To assign an owner to the sales account, one can either provide one of: Owner's party ID, PartyNumber or Email Address." name="OwnerPartyNumber" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Email Address of Sales Account Owner. To assign an owner to the sales account, one can either provide one of: Owner's party ID, PartyNumber or Email Address." name="OwnerEmailAddress" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Name of Sales Account Owner" name="OwnerName" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="ID of the primary contact. To specify the contact for an account, one can either provide one of: Contact's party ID, PartyNumber or (SourceSystem, SourceSystemReference) ." name="PrimaryContactPartyId" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Party Number of the primary contact. To specify the contact for an account, one can either provide one of: Contact's party ID, PartyNumber or (SourceSystem, SourceSystemReference) ." name="PrimaryContactPartyNumber" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="SourceSystem of the primary contact. To specify the contact for an account, one can either provide one of: Contact's party ID, PartyNumber or (SourceSystem, SourceSystemReference) ." name="PrimaryContactSourceSystem" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="SourceSystemReference of the primary contact. To specify the contact for an account, one can either provide one of: Contact's party ID, PartyNumber or (SourceSystem, SourceSystemReference) ." name="PrimaryContactSourceSystemReferenceValue" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Name of the primary contact." name="PrimaryContactName" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Email address of the primary contact." name="PrimaryContactEmail" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Phone number of the primary contact." name="PrimaryContactPhone" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="The indicator showing whether there is an existing selling or billing relationship with the sales account. Possible Values: true or false." name="ExistingCustomerFlag" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Date when the Existing flag is last modified" name="ExistingCustomerFlagLastUpdateDate" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="The indicator for whether a sales account is a named sales account. Possible Values: true or false." name="NamedFlag" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="The date indicating when the Sales Account Territory Assignment was last run by Assignment Manager." name="LastAssignmentDate" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="The timestamp indicating when the Sales Account Territory Assignment was last run by Assignment Manager." name="LastAssignmentDateTime" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Indicator showing whether the sales account had the required dimensions to allow assignment manager to assign territories to the sales account. Possible Values: true or false." name="AssignmentExceptionFlag" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="A valid user defined status of the sales account." name="SalesProfileStatus" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Classification Category. Should be a valid class category code defined by an admin." name="IndustryCodeType" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Valid code defined under classification category specified in IndustryCodeType attributes" name="IndustryCode" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="ID of Parent Account's party. To assign a Parent Account to the sales account, one can either provide one of: Party Account's party ID, PartyNumber or Source System Reference." name="ParentAccountPartyId" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Number of Parent Account's party. To assign a Parent Account to the sales account, one can either provide one of: Party Account's party ID, PartyNumber or (SourceSystem, SourceSystemReference)." name="ParentAccountPartyNumber" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="SourceSystem of Parent Account's party. To assign a Parent Account to the sales account, one can either provide one of: Party Account's party ID, PartyNumber or (SourceSystem, SourceSystemReference)." name="ParentAccountSourceSystem" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="SourceSystemReference of Parent Account's party. To assign a Parent Account to the sales account, one can either provide one of: Party Account's party ID, PartyNumber or (SourceSystem, SourceSystemReference)." name="ParentAccountSourceSystemReferenceValue" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Year that the organization began doing business" name="YearEstablished" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Year when current ownership gained control" name="ControlYear" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Year that the business was incorporated" name="YearIncorporated" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Corporate Stock Symbol, e.g. ORCL" name="StockSymbol" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Month that the fiscal year ends for organization" name="FiscalYearendMonth" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Current Fiscal Year Potential Revenue Amount" name="CurrentFiscalYearPotentialRevenueAmount" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Organization's default currency code" name="PreferredFunctionalCurrency" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Fiscal year used as the source for financial information" name="AnalysisFiscalYear" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Organization's potential revenue for next fiscal year" name="NextFiscalYearPotentialRevenueAmount" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Total number of payment experiences" name="TotalPaymentAmount" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Taxpayer identification number, often unique identifier of person or organization. Can be SSN or income taxpayer ID in US, fiscal code or NIF in Europe" name="TaxpayerIdentificationNumber" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Certification level an organization party. HZ_PARTY_CERT_LEVEL lookup type" name="CertificationLevel" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Reason for organization party's current certification level assignment. HZ_PARTY_CERT_REASON lookup type" name="CertificationReasonCode" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="DUNS_NUMBER in VARCHAR format. Column value not restricted to nine digit DUNS Number." name="DUNSNumber" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Dun &amp; Bradstreet credit rating" name="DUNSCreditRating" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Parent is a corporation that owns more than 50% of another corporation's capital stock. The parent company can also be a subsidiary of another corporation. If the parent also has branches, then it is a headquarters as well as being a parent company. A headquarters is a business establishment that has branches or divisions reporting to it, and is financially responsible for those branches or divisions. If the headquarters has more than 50% of capital stock owned by anothe corporation, it also will be a subsidiary. If it owns more than 50% of capital stock of another corporation, then it is also a parent." name="ParentDUNSNumber" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="DUNS Number for the Domestic Ultimate, which is the hieghest family member in the same country as this business entity. A subject may be its own Domestic Ultimate." name="DomesticUltimateDUNSNumber" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="DUNS Number for the Global Ultimate, which is the highest family member in the same country as this business entity as you walk up this branch of the tree. A case may be its own ultimate." name="GlobalUltimateDUNSNumber" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Name of the chief executive officer" name="CEOName" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Formal title of the chief executive officer" name="CEOTitle" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Indicates if the organization is privately owned. Y for a privately owned organization, N for a publicly owned organization." name="PublicPrivateOwnershipFlag" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Indicates if this company is an importer. Y for an importer, N for an organization that does not import." name="ImportIndicator" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Indicates if this company is an exporter. Y for an exporter, N for an organization that does not export." name="ExportIndicator" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Indicates if this company is considered to be a small business. Y for small businesses, N for all other firms." name="SmallBusinessIndicator" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Indicates if this company is primarily owned by women. Y for a women-owned frim, N for a firm that is not primarily owned by women." name="WomanOwnedIndicator" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Indicates if this is a US federal agency supported by the General Services Administration (GSA). Y for organizations served by the GSA, N for organizations that are not served by the GSA." name="GeneralServicesAdministrationFlag" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Indicates if this company is primarily owned by ethnic or racial minorities. Y for a minority-owned frim, N for a firm that is not owned by minorities" name="MinorityOwnedIndicator" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="The type of minority-owned frim" name="MinorityOwnedType" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Indicates if this company owns or rents its place of business. Lookup of values for rent, own, lease, and so on." name="RentOrOwnIndicator" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Indicates if this company operates in an area with a labor surplus. Y for a surplus, N for no surplus exists." name="LaborSurplusIndicator" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Indicates if this organization is out of business. Y for businesses that are out of business, N for active businesses." name="OutOfBusinessIndicator" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Status of this site. Identifies if the location is the HQ, a branch, or a single location." name="HQBranchIndicator" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Lookup that indicates if organization is a parent or subsidiary location" name="ParentOrSubsidiaryIndicator" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Indicates if this company is considered disadvantaged by the US governement under Title 8A. Y for a Title 8A disadvantaged firm, N for all other firms." name="DisadvantageIndicator" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Number of employees at the referenced address" name="EmployeesAtPrimaryAddress" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Qualifies calculation of employees at the primary address as estimated" name="EmployeesAtPrimaryAddressEstimation" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Qualifies calculation of employees at the primary address as minimum" name="EmployeesAtPrimaryAddressMinimum" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Number of employees at the referenced address which cannot be mapped to a number" name="EmployeesAtPrimaryAddressText" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Total number of employees" name="EmployeesTotal" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Lookup that indicates whether the employee total is estimated. A for estimated, N for not estimated or actual." name="TotalEmployeesEstimatedIndicator" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Lookup that indicates whether subsidiaries are included in the calculation of total employees A for totals without subsidiaries, B for totals with subsidiaries." name="TotalEmployeesIndicator" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Lookup that indicates whether the number is a minimum, maximum, or average number of total employees. A for minimum, B for maximum, and C for average." name="TotalEmployeesMinimumIndicator" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Total number of personnel employeed if can not be mapped to numeric field." name="TotalEmployeesText" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Size of an organization based on revenue, number of employees etc." name="OrganizationSize" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Not used in Fusion V1" name="OrganizationType" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Title of the highest ranking person in the company" name="PrincipalTitle" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Name of the highest ranking person in the company" name="PrincipalName" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Legal structure. For example, partnership, corporation, and so on." name="LegalStatus" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="The physical class of business in which a business participates. For example, local, national, or international." name="BusinessScope" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Lookup for type of registration, such as nonprofit." name="RegistrationType" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Corporate charter of organization" name="MissionStatement" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Taxation classification for corporation entities. For example, Chapter S in the US." name="CorporationClass" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Growth Strategy Description." name="GrowthStrategyDescription" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="U.S. Congressional District" name="CongressionalDistrictCode" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Type of business activities performed at this site" name="LineOfBusiness" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="HOME COUNTRY" name="HomeCountry" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Indicates existence of similarly named business." name="DoNotConfuseWith" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Local activity classification code" name="LocalActivityCode" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Local activity classification code type identifier" name="LocalActivityCodeType" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Primary identifier assigned to businesses by government agency, Chamber of Commerce, or other authority. Generally used outside US." name="LocalBusinessIdentifier" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Lookup that represents most common business identifier in a country. For example, Chamber of Commerce Number in Italy, Government Registration Number in Taiwan." name="LocalBusinessIdentifierType" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Location of account - optional part of User Primary Key" name="SiebelLocation" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Corporate charter of organization" name="Comments" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Dun &amp; Bradstreet Business Information Report" name="BusinessReport" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Currency Code This attribute is used by CRM Extensibility framework" name="CurrencyCode" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Currency Conversion Rate Type This attribute is used by CRM Extensibility framework" name="CurcyConvRateType" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Corporate Currency Code This attribute is used by CRM Extensibility framework" name="CorpCurrencyCode" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Specifies the enrichment status of the organization." name="DataCloudStatus" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Specifies date this organization was last enriched in DaaS." name="LastEnrichmentDate" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Status of the account." name="PartyStatus" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="TCA Who column" name="CreatedByModule" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Who column: indicates the user who created the row." name="CreatedBy" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Who column: indicates the date and time of the creation of the row." name="CreationDate" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Who column: indicates the date and time of the last update of the row." name="LastUpdateDate" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Who column: indicates the session login associated to the user who last updated the row." name="LastUpdateLogin" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Who column: indicates the user who last updated the row." name="LastUpdatedBy" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="How a organization prefers to be contacted. Validated against lookup HZ_PREFERRED_CONTACT_METHOD." name="PreferredContactMethod" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="International country code for a telephone number. For example, 33 for France." name="PhoneCountryCode" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="The area code within a country code." name="PhoneAreaCode" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="A telephone number formatted in the local format. The number should not include area code, country code, or extension." name="PhoneNumber" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Additional number addressed after initial connection to an internal telephone system." name="PhoneExtension" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Formatted phone number information." name="FormattedPhoneNumber" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="International country code for a telephone number. For example, 33 for France." name="FaxCountryCode" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="The area code within a country code." name="FaxAreaCode" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="A telephone number formatted in the local format. The number should not include area code, country code, or extension." name="FaxNumber" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Additional number addressed after initial connection to an internal telephone system." name="FaxExtension" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Formatted fax number information." name="FormattedFaxNumber" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Indicates the preferred format for e-mail addressed to this address. For example, HTML or ASCII." name="EmailFormat" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="E-mail address of the contact point" name="EmailAddress" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Uniform resource locator" name="URL" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Display search results under selected record set." name="RecordSet" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Primary Address of the account Address attributes of the account are grouped under a PrimaryAddress entity for clarity." name="PrimaryAddress" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Sales Team Member" name="SalesTeamMember" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Note about the account." name="Note" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="sadasd" name="OrganizationDEO_Displabel_c" xmlns:oer="http://xmlns.oracle.com/oer" />
      </oer:attributes>
    </xsd:documentation>
  </xsd:annotation>
  <xsd:complexType name="AccountResult">
    <xsd:complexContent mixed="false">
      <xsd:extension base="ns0:MethodResult">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="Value" type="Account" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Account">
    <xsd:annotation>
      <xsd:appinfo source="http://xmlns.oracle.com/adf/svc/metadata/">
        <key xmlns="http://xmlns.oracle.com/adf/svc/metadata/">
          <attribute>PartyId</attribute>
          <attribute>OrganizationProfileId</attribute>
          <attribute>SalesProfileId</attribute>
        </key>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element sdoXML:dataType="sdoJava:LongObject" minOccurs="0" name="PartyId" type="xsd:long" />
      <xsd:element minOccurs="0" name="PartyNumber" type="xsd:string" />
      <xsd:element minOccurs="0" name="SourceSystem" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="SourceSystemReferenceValue" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="OrganizationName" type="xsd:string" />
      <xsd:element minOccurs="0" name="UniqueNameSuffix" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="PartyUniqueName" type="xsd:string" />
      <xsd:element minOccurs="0" name="Type" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="OwnerPartyId" nillable="true" type="xsd:long" />
      <xsd:element minOccurs="0" name="OwnerPartyNumber" type="xsd:string" />
      <xsd:element minOccurs="0" name="OwnerEmailAddress" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="OwnerName" type="xsd:string" />
      <xsd:element minOccurs="0" name="PrimaryContactPartyId" nillable="true" type="xsd:long" />
      <xsd:element minOccurs="0" name="PrimaryContactPartyNumber" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="PrimaryContactSourceSystem" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="PrimaryContactSourceSystemReferenceValue" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="PrimaryContactName" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="PrimaryContactEmail" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="PrimaryContactPhone" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="ExistingCustomerFlag" nillable="true" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="ExistingCustomerFlagLastUpdateDate" nillable="true" type="ns0:date-Date" />
      <xsd:element minOccurs="0" name="NamedFlag" nillable="true" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="LastAssignmentDate" nillable="true" type="ns0:date-Date" />
      <xsd:element minOccurs="0" name="LastAssignmentDateTime" nillable="true" type="ns0:dateTime-Timestamp" />
      <xsd:element minOccurs="0" name="AssignmentExceptionFlag" nillable="true" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="SalesProfileStatus" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="IndustryCodeType" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="IndustryCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="ParentAccountPartyId" nillable="true" type="xsd:long" />
      <xsd:element minOccurs="0" name="ParentAccountPartyNumber" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="ParentAccountSourceSystem" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="ParentAccountSourceSystemReferenceValue" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="YearEstablished" nillable="true" type="xsd:int" />
      <xsd:element minOccurs="0" name="ControlYear" nillable="true" type="xsd:decimal" />
      <xsd:element minOccurs="0" name="YearIncorporated" nillable="true" type="xsd:int" />
      <xsd:element minOccurs="0" name="StockSymbol" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="FiscalYearendMonth" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="CurrentFiscalYearPotentialRevenueAmount" nillable="true" type="ns0:AmountType" />
      <xsd:element minOccurs="0" name="PreferredFunctionalCurrency" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="AnalysisFiscalYear" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="NextFiscalYearPotentialRevenueAmount" nillable="true" type="ns0:AmountType" />
      <xsd:element minOccurs="0" name="TotalPaymentAmount" nillable="true" type="ns0:AmountType" />
      <xsd:element minOccurs="0" name="TaxpayerIdentificationNumber" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="CertificationLevel" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="CertificationReasonCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="DUNSNumber" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="DUNSCreditRating" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="ParentDUNSNumber" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="DomesticUltimateDUNSNumber" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="GlobalUltimateDUNSNumber" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="CEOName" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="CEOTitle" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="PublicPrivateOwnershipFlag" nillable="true" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="ImportIndicator" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="ExportIndicator" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="SmallBusinessIndicator" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="WomanOwnedIndicator" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="GeneralServicesAdministrationFlag" nillable="true" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="MinorityOwnedIndicator" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="MinorityOwnedType" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="RentOrOwnIndicator" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="LaborSurplusIndicator" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="OutOfBusinessIndicator" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="HQBranchIndicator" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="ParentOrSubsidiaryIndicator" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="DisadvantageIndicator" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="EmployeesAtPrimaryAddress" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="EmployeesAtPrimaryAddressEstimation" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="EmployeesAtPrimaryAddressMinimum" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="EmployeesAtPrimaryAddressText" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="EmployeesTotal" nillable="true" type="xsd:decimal" />
      <xsd:element minOccurs="0" name="TotalEmployeesEstimatedIndicator" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="TotalEmployeesIndicator" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="TotalEmployeesMinimumIndicator" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="TotalEmployeesText" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="OrganizationSize" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="OrganizationType" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="PrincipalTitle" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="PrincipalName" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="LegalStatus" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="BusinessScope" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="RegistrationType" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="MissionStatement" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="CorporationClass" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="GrowthStrategyDescription" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="CongressionalDistrictCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="LineOfBusiness" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="HomeCountry" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="DoNotConfuseWith" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="LocalActivityCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="LocalActivityCodeType" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="LocalBusinessIdentifier" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="LocalBusinessIdentifierType" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="SiebelLocation" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="Comments" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="BusinessReport" nillable="true" type="ns0:base64Binary-DataHandler" />
      <xsd:element minOccurs="0" name="CurrencyCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="CurcyConvRateType" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="CorpCurrencyCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="DataCloudStatus" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="LastEnrichmentDate" nillable="true" type="ns0:date-Date" />
      <xsd:element minOccurs="0" name="PartyStatus" type="xsd:string" />
      <xsd:element minOccurs="0" default="HZ_WS" name="CreatedByModule" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="CreatedBy" type="xsd:string" />
      <xsd:element minOccurs="0" name="CreationDate" type="ns0:dateTime-Timestamp" />
      <xsd:element minOccurs="0" name="LastUpdateDate" type="ns0:dateTime-Timestamp" />
      <xsd:element minOccurs="0" name="LastUpdateLogin" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="LastUpdatedBy" type="xsd:string" />
      <xsd:element minOccurs="0" name="PreferredContactMethod" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="PhoneCountryCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="PhoneAreaCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="PhoneNumber" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="PhoneExtension" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="FormattedPhoneNumber" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="FaxCountryCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="FaxAreaCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="FaxNumber" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="FaxExtension" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="FormattedFaxNumber" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="EmailFormat" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="EmailAddress" type="xsd:string" />
      <xsd:element minOccurs="0" name="URL" type="xsd:string" />
      <xsd:element minOccurs="0" name="RecordSet" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="PrimaryAddress" type="ns1:PrimaryAddress" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="SalesTeamMember" type="ns1:SalesTeamMember" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="Note" type="ns2:Note" />
      <xsd:element minOccurs="0" name="OrganizationDEO_O_INT_SBL_Sync_Status_c" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="OrganizationDEO_Test_fix_c" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="OrganizationDEO_Test_fix_cMeaning" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="OrganizationDEO_Displabel_c" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="OrganizationDEO_O_INT_SBL_MatchCollection_c" type="ns3:O_INT_SBL_Match_c" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="OrganizationDEO_ICS_CRMCollection_c" type="ns3:ICS_CRM1_c" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="accountResult" type="AccountResult" />
  <xsd:element name="account" type="Account" />
</xsd:schema>