salescloud/cx/projects/Accelerator.SalesCloud.Client/Service References/AccountProxyService/AccountService.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:tns="http://xmlns.oracle.com/apps/crmCommon/salesParties/accountService/types/" xmlns:ns1="http://xmlns.oracle.com/apps/crmCommon/salesParties/accountService/" xmlns:ns0="http://xmlns.oracle.com/adf/svc/types/" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/crmCommon/salesParties/accountService/types/" xmlns="http://www.w3.org/2001/XMLSchema">
  <import schemaLocation="https://slcai761.us.oracle.com:10616/crmCommonSalesParties/AccountService?XSD=/META-INF/wsdl/BC4JService.xsd" namespace="http://xmlns.oracle.com/adf/svc/types/" />
  <import schemaLocation="https://slcai761.us.oracle.com:10616/crmCommonSalesParties/AccountService?XSD=/oracle/apps/crmCommon/salesParties/accountService/Account.xsd" namespace="http://xmlns.oracle.com/apps/crmCommon/salesParties/accountService/" />
  <import schemaLocation="https://slcai761.us.oracle.com:10616/crmCommonSalesParties/AccountService?XSD=/META-INF/wsdl/BC4JServiceCS.xsd" namespace="http://xmlns.oracle.com/adf/svc/types/" />
  <element name="processCSAccount">
    <complexType>
      <sequence>
        <element name="processData" type="ns0:ProcessData" />
        <element name="processControl" type="ns0:ProcessControl" />
      </sequence>
    </complexType>
  </element>
  <element name="processCSAccountResponse">
    <complexType>
      <sequence>
        <element name="result" type="ns0:ProcessData" />
      </sequence>
    </complexType>
  </element>
  <element name="processCSAccountAsync">
    <complexType>
      <sequence>
        <element name="processData" type="ns0:ProcessData" />
        <element name="processControl" type="ns0:ProcessControl" />
      </sequence>
    </complexType>
  </element>
  <element name="processCSAccountAsyncResponse">
    <complexType>
      <sequence>
        <element name="result" type="ns0:ProcessData" />
      </sequence>
    </complexType>
  </element>
  <element name="getDfltObjAttrHints">
    <complexType>
      <sequence>
        <element name="viewName" type="string" />
        <element name="localeName" type="string" />
      </sequence>
    </complexType>
  </element>
  <element name="getDfltObjAttrHintsResponse">
    <complexType>
      <sequence>
        <element name="result" type="ns0:ObjAttrHints" />
      </sequence>
    </complexType>
  </element>
  <element name="getServiceLastUpdateTime">
    <complexType>
      <sequence />
    </complexType>
  </element>
  <element name="getServiceLastUpdateTimeResponse">
    <complexType>
      <sequence>
        <element name="result" type="ns0:dateTime-Timestamp" />
      </sequence>
    </complexType>
  </element>
  <element name="getEntityList">
    <complexType>
      <sequence />
    </complexType>
  </element>
  <element name="getEntityListResponse">
    <complexType>
      <sequence>
        <element minOccurs="0" maxOccurs="unbounded" name="result" type="ns0:ServiceViewInfo" />
      </sequence>
    </complexType>
  </element>
  <element name="getEntityListAsync">
    <complexType>
      <sequence />
    </complexType>
  </element>
  <element name="getEntityListAsyncResponse">
    <complexType>
      <sequence>
        <element minOccurs="0" maxOccurs="unbounded" name="result" type="ns0:ServiceViewInfo" />
      </sequence>
    </complexType>
  </element>
  <element name="getDfltObjAttrHintsAsync">
    <complexType>
      <sequence>
        <element name="viewName" type="string" />
        <element name="localeName" type="string" />
      </sequence>
    </complexType>
  </element>
  <element name="getDfltObjAttrHintsAsyncResponse">
    <complexType>
      <sequence>
        <element name="result" type="ns0:ObjAttrHints" />
      </sequence>
    </complexType>
  </element>
  <element name="getServiceLastUpdateTimeAsync">
    <complexType>
      <sequence />
    </complexType>
  </element>
  <element name="getServiceLastUpdateTimeAsyncResponse">
    <complexType>
      <sequence>
        <element name="result" type="ns0:dateTime-Timestamp" />
      </sequence>
    </complexType>
  </element>
  <element name="getAccount">
    <complexType>
      <sequence>
        <element name="PartyId" type="long" />
      </sequence>
    </complexType>
  </element>
  <element name="getAccountResponse">
    <complexType>
      <sequence>
        <element name="result" type="ns0:DataObjectResult" />
      </sequence>
    </complexType>
  </element>
  <element name="createAccount">
    <complexType>
      <sequence>
        <element name="account" type="ns1:Account" />
      </sequence>
    </complexType>
  </element>
  <element name="createAccountResponse">
    <complexType>
      <sequence>
        <element name="result" type="ns0:DataObjectResult" />
      </sequence>
    </complexType>
  </element>
  <element name="updateAccount">
    <complexType>
      <sequence>
        <element name="account" type="ns1:Account" />
      </sequence>
    </complexType>
  </element>
  <element name="updateAccountResponse">
    <complexType>
      <sequence>
        <element name="result" type="ns0:DataObjectResult" />
      </sequence>
    </complexType>
  </element>
  <element name="deleteAccount">
    <complexType>
      <sequence>
        <element name="account" type="ns1:Account" />
      </sequence>
    </complexType>
  </element>
  <element name="deleteAccountResponse">
    <complexType>
      <sequence>
        <element name="result" type="ns0:MethodResult" />
      </sequence>
    </complexType>
  </element>
  <element name="mergeAccount">
    <complexType>
      <sequence>
        <element name="account" type="ns1:Account" />
      </sequence>
    </complexType>
  </element>
  <element name="mergeAccountResponse">
    <complexType>
      <sequence>
        <element name="result" type="ns0:DataObjectResult" />
      </sequence>
    </complexType>
  </element>
  <element name="findAccount">
    <complexType>
      <sequence>
        <element name="findCriteria" type="ns0:FindCriteria" />
        <element name="findControl" type="ns0:FindControl" />
      </sequence>
    </complexType>
  </element>
  <element name="findAccountResponse">
    <complexType>
      <sequence>
        <element name="result" type="ns0:DataObjectResult" />
      </sequence>
    </complexType>
  </element>
  <element name="processAccount">
    <complexType>
      <sequence>
        <element name="changeOperation" type="string" />
        <element minOccurs="0" maxOccurs="unbounded" name="account" type="ns1:Account" />
        <element name="processControl" type="ns0:ProcessControl" />
      </sequence>
    </complexType>
  </element>
  <element name="processAccountResponse">
    <complexType>
      <sequence>
        <element name="result" type="ns0:DataObjectResult" />
      </sequence>
    </complexType>
  </element>
  <element name="findAccountAsync">
    <complexType>
      <sequence>
        <element name="findCriteria" type="ns0:FindCriteria" />
        <element name="findControl" type="ns0:FindControl" />
      </sequence>
    </complexType>
  </element>
  <element name="findAccountAsyncResponse">
    <complexType>
      <sequence>
        <element name="result" type="ns0:DataObjectResult" />
      </sequence>
    </complexType>
  </element>
  <element name="updateAccountAsync">
    <complexType>
      <sequence>
        <element name="account" type="ns1:Account" />
      </sequence>
    </complexType>
  </element>
  <element name="updateAccountAsyncResponse">
    <complexType>
      <sequence>
        <element name="result" type="ns0:DataObjectResult" />
      </sequence>
    </complexType>
  </element>
  <element name="createAccountAsync">
    <complexType>
      <sequence>
        <element name="account" type="ns1:Account" />
      </sequence>
    </complexType>
  </element>
  <element name="createAccountAsyncResponse">
    <complexType>
      <sequence>
        <element name="result" type="ns0:DataObjectResult" />
      </sequence>
    </complexType>
  </element>
  <element name="mergeAccountAsync">
    <complexType>
      <sequence>
        <element name="account" type="ns1:Account" />
      </sequence>
    </complexType>
  </element>
  <element name="mergeAccountAsyncResponse">
    <complexType>
      <sequence>
        <element name="result" type="ns0:DataObjectResult" />
      </sequence>
    </complexType>
  </element>
  <element name="getAccountAsync">
    <complexType>
      <sequence>
        <element name="PartyId" type="long" />
      </sequence>
    </complexType>
  </element>
  <element name="getAccountAsyncResponse">
    <complexType>
      <sequence>
        <element name="result" type="ns0:DataObjectResult" />
      </sequence>
    </complexType>
  </element>
  <element name="processAccountAsync">
    <complexType>
      <sequence>
        <element name="changeOperation" type="string" />
        <element minOccurs="0" maxOccurs="unbounded" name="account" type="ns1:Account" />
        <element name="processControl" type="ns0:ProcessControl" />
      </sequence>
    </complexType>
  </element>
  <element name="processAccountAsyncResponse">
    <complexType>
      <sequence>
        <element name="result" type="ns0:DataObjectResult" />
      </sequence>
    </complexType>
  </element>
  <element name="deleteAccountAsync">
    <complexType>
      <sequence>
        <element name="account" type="ns1:Account" />
      </sequence>
    </complexType>
  </element>
  <element name="deleteAccountAsyncResponse">
    <complexType>
      <sequence>
        <element name="result" type="ns0:MethodResult" />
      </sequence>
    </complexType>
  </element>
</schema>