salescloud/cx/projects/Accelerator.SalesCloud.Client/Service References/AccountProxyService/ServiceException.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:sdoJava="commonj.sdo/java" xmlns:tns="http://xmlns.oracle.com/adf/svc/errors/" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/adf/svc/errors/" sdoJava:package="oracle.jbo.service.errors" xmlns="http://www.w3.org/2001/XMLSchema">
  <import schemaLocation="https://slcai761.us.oracle.com:10616/crmCommonSalesParties/AccountService?XSD=/xml/sdoJava.xsd" namespace="commonj.sdo/java" />
  <element name="ServiceErrorMessage" type="tns:ServiceErrorMessage" />
  <complexType name="ServiceMessage">
    <sequence>
      <element minOccurs="0" maxOccurs="1" name="code" type="string" />
      <element minOccurs="0" maxOccurs="1" name="message" type="string" />
      <element minOccurs="0" maxOccurs="1" name="severity" type="string" />
      <element minOccurs="0" maxOccurs="unbounded" name="detail" type="tns:ServiceMessage" />
    </sequence>
  </complexType>
  <complexType name="ServiceErrorMessage">
    <complexContent mixed="false">
      <extension base="tns:ServiceMessage">
        <sequence>
          <element minOccurs="0" maxOccurs="1" name="sdoObject" type="anyType" />
          <element minOccurs="0" maxOccurs="1" name="exceptionClassName" type="string" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ServiceAttrValErrorMessage">
    <complexContent mixed="false">
      <extension base="tns:ServiceErrorMessage">
        <sequence>
          <element minOccurs="0" maxOccurs="1" name="attributeName" type="string" />
          <element minOccurs="0" maxOccurs="1" name="attributeValue" type="anySimpleType" />
          <element minOccurs="0" maxOccurs="1" name="objectName" type="string" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ServiceRowValErrorMessage">
    <complexContent mixed="false">
      <extension base="tns:ServiceErrorMessage">
        <sequence>
          <element minOccurs="0" maxOccurs="1" name="objectName" type="string" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ServiceDMLErrorMessage">
    <complexContent mixed="false">
      <extension base="tns:ServiceErrorMessage">
        <sequence>
          <element minOccurs="0" maxOccurs="1" name="operation" type="string" />
          <element minOccurs="0" maxOccurs="1" name="statement" type="string" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
</schema>