fieldservice/toa/cx/projects/Oracle.RightNow.Toa.Client/Service References/RightNowProxyService/RightNow.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:rna_v1_2="urn:metadata.ws.rightnow.com/v1_2" xmlns:rnm_v1_2="urn:messages.ws.rightnow.com/v1_2" xmlns:rnf_v1_2="urn:faults.ws.rightnow.com/v1_2" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:rnb_v1_2="urn:base.ws.rightnow.com/v1_2" xmlns:rng_v1_2="urn:generic.ws.rightnow.com/v1_2" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:rno_v1_2="urn:objects.ws.rightnow.com/v1_2" xmlns:rnw_v1_2="urn:wsdl.ws.rightnow.com/v1_2" xmlns:rnn_v1_2="urn:nullfields.ws.rightnow.com/v1_2" xmlns="http://schemas.xmlsoap.org/wsdl/" name="RightNow" targetNamespace="urn:wsdl.ws.rightnow.com/v1_2" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>
    <version>1.2</version>
    <wsdlRevision>1.2.15.2</wsdlRevision>
  </wsdl:documentation>
  <wsp:Policy xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" wsu:Id="SyncPolicy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding>
          <wsp:Policy>
            <wsp:ExactlyOne>
              <wsp:All>
                <sp:TransportToken>
                  <wsp:Policy>
                    <wsp:ExactlyOne>
                      <sp:HttpsToken />
                    </wsp:ExactlyOne>
                  </wsp:Policy>
                </sp:TransportToken>
                <sp:AlgorithmSuite>
                  <wsp:Policy>
                    <sp:Basic256 />
                  </wsp:Policy>
                </sp:AlgorithmSuite>
                <sp:Layout>
                  <wsp:Policy>
                    <wsp:ExactlyOne>
                      <sp:Lax />
                    </wsp:ExactlyOne>
                  </wsp:Policy>
                </sp:Layout>
              </wsp:All>
            </wsp:ExactlyOne>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsp:ExactlyOne>
          <!-- Begin SignedSupportingTokens -->
          <sp:SignedSupportingTokens>
            <wsp:Policy>
              <wsp:ExactlyOne>
                <sp:UsernameToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
                  <wsp:Policy>
                    <wsp:ExactlyOne>
                      <sp:WssUsernameToken10 />
                    </wsp:ExactlyOne>
                  </wsp:Policy>
                </sp:UsernameToken>
              </wsp:ExactlyOne>
            </wsp:Policy>
          </sp:SignedSupportingTokens>
          <!-- End SignedSupportingTokens -->
          <!-- Begin SupportingTokens -->
          <sp:SupportingTokens>
            <wsp:Policy>
              <wsp:ExactlyOne>
                <sp:UsernameToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
                  <wsp:Policy>
                    <wsp:ExactlyOne>
                      <sp:WssUsernameToken10 />
                    </wsp:ExactlyOne>
                  </wsp:Policy>
                </sp:UsernameToken>
              </wsp:ExactlyOne>
            </wsp:Policy>
          </sp:SupportingTokens>
          <!-- End SupportingTokens -->
        </wsp:ExactlyOne>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" wsu:Id="FedAuthSyncPolicy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:t="http://docs.oasis-open.org/ws-sx/ws-trust/200512" xmlns:wsaw="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding>
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Lax />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <sp:SignedSupportingTokens xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
          <wsp:Policy>
            <sp:IssuedToken sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
              <sp:RequestSecurityTokenTemplate>
                <t:TokenType>http://docs.oasis-open.org/wss/oasis-wss-saml-token-profile-1.1#SAMLV2.0</t:TokenType>
                <t:KeyType>http://docs.oasis-open.org/ws-sx/ws-trust/200512/Bearer</t:KeyType>
                <t:CanonicalizationAlgorithm>http://www.w3.org/2001/10/xml-exc-c14n#</t:CanonicalizationAlgorithm>
                <t:SignWith>http://www.w3.org/2000/09/xmldsig#hmac-sha1</t:SignWith>
                <t:SignatureAlgorithm>http://www.w3.org/2000/09/xmldsig#rsa-sha1</t:SignatureAlgorithm>
              </sp:RequestSecurityTokenTemplate>
              <wsp:Policy>
                <sp:RequireInternalReference />
              </wsp:Policy>
              <sp:Issuer>
                <wsaw:Address>
                </wsaw:Address>
                <wsaw:Metadata>
                  <wsx:Metadata>
                    <wsx:MetadataSection>
                      <wsx:MetadataReference>
                        <wsaw:Address>
                        </wsaw:Address>
                      </wsx:MetadataReference>
                    </wsx:MetadataSection>
                  </wsx:Metadata>
                </wsaw:Metadata>
              </sp:Issuer>
            </sp:IssuedToken>
          </wsp:Policy>
        </sp:SignedSupportingTokens>
        <sp:Wss11>
          <wsp:Policy />
        </sp:Wss11>
        <sp:Trust13>
          <wsp:Policy>
            <sp:MustSupportIssuedTokens />
          </wsp:Policy>
        </sp:Trust13>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import schemaLocation="http://toa-15-2-b122-pks--tushar.qb.lan/cgi-bin/toa_15_2_b122_pks.cfg/services/soap?xsd=base_v1.2" namespace="urn:base.ws.rightnow.com/v1_2" />
      <xs:import schemaLocation="http://toa-15-2-b122-pks--tushar.qb.lan/cgi-bin/toa_15_2_b122_pks.cfg/services/soap?xsd=generic_v1.2" namespace="urn:generic.ws.rightnow.com/v1_2" />
      <xs:import schemaLocation="http://toa-15-2-b122-pks--tushar.qb.lan/cgi-bin/toa_15_2_b122_pks.cfg/services/soap?xsd=nullfields_v1.2" namespace="urn:nullfields.ws.rightnow.com/v1_2" />
      <xs:import schemaLocation="http://toa-15-2-b122-pks--tushar.qb.lan/cgi-bin/toa_15_2_b122_pks.cfg/services/soap?xsd=objects_v1.2" namespace="urn:objects.ws.rightnow.com/v1_2" />
      <xs:import schemaLocation="http://toa-15-2-b122-pks--tushar.qb.lan/cgi-bin/toa_15_2_b122_pks.cfg/services/soap?xsd=metadata_v1.2" namespace="urn:metadata.ws.rightnow.com/v1_2" />
      <xs:import schemaLocation="http://toa-15-2-b122-pks--tushar.qb.lan/cgi-bin/toa_15_2_b122_pks.cfg/services/soap?xsd=faults_v1.2" namespace="urn:faults.ws.rightnow.com/v1_2" />
      <xs:import schemaLocation="http://toa-15-2-b122-pks--tushar.qb.lan/cgi-bin/toa_15_2_b122_pks.cfg/services/soap?xsd=messagestyped_v1.2" namespace="urn:messages.ws.rightnow.com/v1_2" />
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="RNFault">
    <wsdl:part name="fault" type="rnf_v1_2:RNFault" />
  </wsdl:message>
  <wsdl:message name="RequestErrorFault">
    <wsdl:part name="fault" element="rnf_v1_2:RequestErrorFault" />
  </wsdl:message>
  <wsdl:message name="ServerErrorFault">
    <wsdl:part name="fault" element="rnf_v1_2:ServerErrorFault" />
  </wsdl:message>
  <wsdl:message name="UnexpectedErrorFault">
    <wsdl:part name="fault" element="rnf_v1_2:UnexpectedErrorFault" />
  </wsdl:message>
  <wsdl:message name="ClientInfoHeader">
    <wsdl:part name="request_header" element="rnm_v1_2:ClientInfoHeader" />
  </wsdl:message>
  <wsdl:message name="CreateRequest">
    <wsdl:part name="parameters" element="rnm_v1_2:Create" />
  </wsdl:message>
  <wsdl:message name="CreateResponse">
    <wsdl:part name="parameters" element="rnm_v1_2:CreateResponse" />
  </wsdl:message>
  <wsdl:message name="GetRequest">
    <wsdl:part name="parameters" element="rnm_v1_2:Get" />
  </wsdl:message>
  <wsdl:message name="GetResponse">
    <wsdl:part name="parameters" element="rnm_v1_2:GetResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateRequest">
    <wsdl:part name="parameters" element="rnm_v1_2:Update" />
  </wsdl:message>
  <wsdl:message name="UpdateResponse">
    <wsdl:part name="parameters" element="rnm_v1_2:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="DestroyRequest">
    <wsdl:part name="parameters" element="rnm_v1_2:Destroy" />
  </wsdl:message>
  <wsdl:message name="DestroyResponse">
    <wsdl:part name="parameters" element="rnm_v1_2:DestroyResponse" />
  </wsdl:message>
  <wsdl:message name="QueryCSVRequest">
    <wsdl:part name="parameters" element="rnm_v1_2:QueryCSV" />
  </wsdl:message>
  <wsdl:message name="QueryCSVResponse">
    <wsdl:part name="parameters" element="rnm_v1_2:QueryCSVResponse" />
  </wsdl:message>
  <wsdl:message name="QueryObjectsRequest">
    <wsdl:part name="parameters" element="rnm_v1_2:QueryObjects" />
  </wsdl:message>
  <wsdl:message name="QueryObjectsResponse">
    <wsdl:part name="parameters" element="rnm_v1_2:QueryObjectsResponse" />
  </wsdl:message>
  <wsdl:message name="RunAnalyticsReportRequest">
    <wsdl:part name="parameters" element="rnm_v1_2:RunAnalyticsReport" />
  </wsdl:message>
  <wsdl:message name="RunAnalyticsReportResponse">
    <wsdl:part name="parameters" element="rnm_v1_2:RunAnalyticsReportResponse" />
  </wsdl:message>
  <wsdl:message name="ExecuteMarketingFlowRequest">
    <wsdl:part name="parameters" element="rnm_v1_2:ExecuteMarketingFlow" />
  </wsdl:message>
  <wsdl:message name="ExecuteMarketingFlowResponse">
    <wsdl:part name="parameters" element="rnm_v1_2:ExecuteMarketingFlowResponse" />
  </wsdl:message>
  <wsdl:message name="GetFileDataRequest">
    <wsdl:part name="parameters" element="rnm_v1_2:GetFileData" />
  </wsdl:message>
  <wsdl:message name="GetFileDataResponse">
    <wsdl:part name="parameters" element="rnm_v1_2:GetFileDataResponse" />
  </wsdl:message>
  <wsdl:message name="ResetContactPasswordRequest">
    <wsdl:part name="parameters" element="rnm_v1_2:ResetContactPassword" />
  </wsdl:message>
  <wsdl:message name="ResetContactPasswordResponse">
    <wsdl:part name="parameters" element="rnm_v1_2:ResetContactPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="SendMailingToContactRequest">
    <wsdl:part name="parameters" element="rnm_v1_2:SendMailingToContact" />
  </wsdl:message>
  <wsdl:message name="SendMailingToContactResponse">
    <wsdl:part name="parameters" element="rnm_v1_2:SendMailingToContactResponse" />
  </wsdl:message>
  <wsdl:message name="TransferSubObjectsRequest">
    <wsdl:part name="parameters" element="rnm_v1_2:TransferSubObjects" />
  </wsdl:message>
  <wsdl:message name="TransferSubObjectsResponse">
    <wsdl:part name="parameters" element="rnm_v1_2:TransferSubObjectsResponse" />
  </wsdl:message>
  <wsdl:message name="BatchRequest">
    <wsdl:part name="parameters" element="rnm_v1_2:Batch" />
  </wsdl:message>
  <wsdl:message name="BatchResponse">
    <wsdl:part name="parameters" element="rnm_v1_2:BatchResponse" />
  </wsdl:message>
  <wsdl:message name="GetMetaDataRequest">
    <wsdl:part name="parameters" element="rnm_v1_2:GetMetaData" />
  </wsdl:message>
  <wsdl:message name="GetMetaDataResponse">
    <wsdl:part name="parameters" element="rnm_v1_2:GetMetaDataResponse" />
  </wsdl:message>
  <wsdl:message name="GetMetaDataForClassRequest">
    <wsdl:part name="parameters" element="rnm_v1_2:GetMetaDataForClass" />
  </wsdl:message>
  <wsdl:message name="GetMetaDataForClassResponse">
    <wsdl:part name="parameters" element="rnm_v1_2:GetMetaDataForClassResponse" />
  </wsdl:message>
  <wsdl:message name="GetMetaDataLastChangeTimeRequest">
    <wsdl:part name="parameters" element="rnm_v1_2:GetMetaDataLastChangeTime" />
  </wsdl:message>
  <wsdl:message name="GetMetaDataLastChangeTimeResponse">
    <wsdl:part name="parameters" element="rnm_v1_2:GetMetaDataLastChangeTimeResponse" />
  </wsdl:message>
  <wsdl:message name="GetValuesForNamedIDRequest">
    <wsdl:part name="parameters" element="rnm_v1_2:GetValuesForNamedID" />
  </wsdl:message>
  <wsdl:message name="GetValuesForNamedIDResponse">
    <wsdl:part name="parameters" element="rnm_v1_2:GetValuesForNamedIDResponse" />
  </wsdl:message>
  <wsdl:message name="GetValuesForNamedIDHierarchyRequest">
    <wsdl:part name="parameters" element="rnm_v1_2:GetValuesForNamedIDHierarchy" />
  </wsdl:message>
  <wsdl:message name="GetValuesForNamedIDHierarchyResponse">
    <wsdl:part name="parameters" element="rnm_v1_2:GetValuesForNamedIDHierarchyResponse" />
  </wsdl:message>
  <wsdl:message name="ConvertGenericToObjectRequest">
    <wsdl:part name="parameters" element="rnm_v1_2:ConvertGenericToObject" />
  </wsdl:message>
  <wsdl:message name="ConvertGenericToObjectResponse">
    <wsdl:part name="parameters" element="rnm_v1_2:ConvertGenericToObjectResponse" />
  </wsdl:message>
  <wsdl:message name="ConvertObjectToGenericRequest">
    <wsdl:part name="parameters" element="rnm_v1_2:ConvertObjectToGeneric" />
  </wsdl:message>
  <wsdl:message name="ConvertObjectToGenericResponse">
    <wsdl:part name="parameters" element="rnm_v1_2:ConvertObjectToGenericResponse" />
  </wsdl:message>
  <wsdl:portType name="RightNowSyncPort">
    <wsdl:operation name="Create">
      <wsdl:input message="rnw_v1_2:CreateRequest" />
      <wsdl:output message="rnw_v1_2:CreateResponse" />
      <wsdl:fault name="RequestErrorFault" message="rnw_v1_2:RequestErrorFault" />
      <wsdl:fault name="ServerErrorFault" message="rnw_v1_2:ServerErrorFault" />
      <wsdl:fault name="UnexpectedErrorFault" message="rnw_v1_2:UnexpectedErrorFault" />
    </wsdl:operation>
    <wsdl:operation name="Get">
      <wsdl:input message="rnw_v1_2:GetRequest" />
      <wsdl:output message="rnw_v1_2:GetResponse" />
      <wsdl:fault name="RequestErrorFault" message="rnw_v1_2:RequestErrorFault" />
      <wsdl:fault name="ServerErrorFault" message="rnw_v1_2:ServerErrorFault" />
      <wsdl:fault name="UnexpectedErrorFault" message="rnw_v1_2:UnexpectedErrorFault" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input message="rnw_v1_2:UpdateRequest" />
      <wsdl:output message="rnw_v1_2:UpdateResponse" />
      <wsdl:fault name="RequestErrorFault" message="rnw_v1_2:RequestErrorFault" />
      <wsdl:fault name="ServerErrorFault" message="rnw_v1_2:ServerErrorFault" />
      <wsdl:fault name="UnexpectedErrorFault" message="rnw_v1_2:UnexpectedErrorFault" />
    </wsdl:operation>
    <wsdl:operation name="Destroy">
      <wsdl:input message="rnw_v1_2:DestroyRequest" />
      <wsdl:output message="rnw_v1_2:DestroyResponse" />
      <wsdl:fault name="RequestErrorFault" message="rnw_v1_2:RequestErrorFault" />
      <wsdl:fault name="ServerErrorFault" message="rnw_v1_2:ServerErrorFault" />
      <wsdl:fault name="UnexpectedErrorFault" message="rnw_v1_2:UnexpectedErrorFault" />
    </wsdl:operation>
    <wsdl:operation name="QueryObjects">
      <wsdl:input message="rnw_v1_2:QueryObjectsRequest" />
      <wsdl:output message="rnw_v1_2:QueryObjectsResponse" />
      <wsdl:fault name="RequestErrorFault" message="rnw_v1_2:RequestErrorFault" />
      <wsdl:fault name="ServerErrorFault" message="rnw_v1_2:ServerErrorFault" />
      <wsdl:fault name="UnexpectedErrorFault" message="rnw_v1_2:UnexpectedErrorFault" />
    </wsdl:operation>
    <wsdl:operation name="QueryCSV">
      <wsdl:input message="rnw_v1_2:QueryCSVRequest" />
      <wsdl:output message="rnw_v1_2:QueryCSVResponse" />
      <wsdl:fault name="RequestErrorFault" message="rnw_v1_2:RequestErrorFault" />
      <wsdl:fault name="ServerErrorFault" message="rnw_v1_2:ServerErrorFault" />
      <wsdl:fault name="UnexpectedErrorFault" message="rnw_v1_2:UnexpectedErrorFault" />
    </wsdl:operation>
    <wsdl:operation name="RunAnalyticsReport">
      <wsdl:input message="rnw_v1_2:RunAnalyticsReportRequest" />
      <wsdl:output message="rnw_v1_2:RunAnalyticsReportResponse" />
      <wsdl:fault name="RequestErrorFault" message="rnw_v1_2:RequestErrorFault" />
      <wsdl:fault name="ServerErrorFault" message="rnw_v1_2:ServerErrorFault" />
      <wsdl:fault name="UnexpectedErrorFault" message="rnw_v1_2:UnexpectedErrorFault" />
    </wsdl:operation>
    <wsdl:operation name="ExecuteMarketingFlow">
      <wsdl:input message="rnw_v1_2:ExecuteMarketingFlowRequest" />
      <wsdl:output message="rnw_v1_2:ExecuteMarketingFlowResponse" />
      <wsdl:fault name="RequestErrorFault" message="rnw_v1_2:RequestErrorFault" />
      <wsdl:fault name="ServerErrorFault" message="rnw_v1_2:ServerErrorFault" />
      <wsdl:fault name="UnexpectedErrorFault" message="rnw_v1_2:UnexpectedErrorFault" />
    </wsdl:operation>
    <wsdl:operation name="GetFileData">
      <wsdl:input message="rnw_v1_2:GetFileDataRequest" />
      <wsdl:output message="rnw_v1_2:GetFileDataResponse" />
      <wsdl:fault name="RequestErrorFault" message="rnw_v1_2:RequestErrorFault" />
      <wsdl:fault name="ServerErrorFault" message="rnw_v1_2:ServerErrorFault" />
      <wsdl:fault name="UnexpectedErrorFault" message="rnw_v1_2:UnexpectedErrorFault" />
    </wsdl:operation>
    <wsdl:operation name="ResetContactPassword">
      <wsdl:input message="rnw_v1_2:ResetContactPasswordRequest" />
      <wsdl:output message="rnw_v1_2:ResetContactPasswordResponse" />
      <wsdl:fault name="RequestErrorFault" message="rnw_v1_2:RequestErrorFault" />
      <wsdl:fault name="ServerErrorFault" message="rnw_v1_2:ServerErrorFault" />
      <wsdl:fault name="UnexpectedErrorFault" message="rnw_v1_2:UnexpectedErrorFault" />
    </wsdl:operation>
    <wsdl:operation name="SendMailingToContact">
      <wsdl:input message="rnw_v1_2:SendMailingToContactRequest" />
      <wsdl:output message="rnw_v1_2:SendMailingToContactResponse" />
      <wsdl:fault name="RequestErrorFault" message="rnw_v1_2:RequestErrorFault" />
      <wsdl:fault name="ServerErrorFault" message="rnw_v1_2:ServerErrorFault" />
      <wsdl:fault name="UnexpectedErrorFault" message="rnw_v1_2:UnexpectedErrorFault" />
    </wsdl:operation>
    <wsdl:operation name="TransferSubObjects">
      <wsdl:input message="rnw_v1_2:TransferSubObjectsRequest" />
      <wsdl:output message="rnw_v1_2:TransferSubObjectsResponse" />
      <wsdl:fault name="RequestErrorFault" message="rnw_v1_2:RequestErrorFault" />
      <wsdl:fault name="ServerErrorFault" message="rnw_v1_2:ServerErrorFault" />
      <wsdl:fault name="UnexpectedErrorFault" message="rnw_v1_2:UnexpectedErrorFault" />
    </wsdl:operation>
    <wsdl:operation name="Batch">
      <wsdl:input message="rnw_v1_2:BatchRequest" />
      <wsdl:output message="rnw_v1_2:BatchResponse" />
      <wsdl:fault name="RequestErrorFault" message="rnw_v1_2:RequestErrorFault" />
      <wsdl:fault name="ServerErrorFault" message="rnw_v1_2:ServerErrorFault" />
      <wsdl:fault name="UnexpectedErrorFault" message="rnw_v1_2:UnexpectedErrorFault" />
    </wsdl:operation>
    <wsdl:operation name="GetMetaData">
      <wsdl:input message="rnw_v1_2:GetMetaDataRequest" />
      <wsdl:output message="rnw_v1_2:GetMetaDataResponse" />
      <wsdl:fault name="RequestErrorFault" message="rnw_v1_2:RequestErrorFault" />
      <wsdl:fault name="ServerErrorFault" message="rnw_v1_2:ServerErrorFault" />
      <wsdl:fault name="UnexpectedErrorFault" message="rnw_v1_2:UnexpectedErrorFault" />
    </wsdl:operation>
    <wsdl:operation name="GetMetaDataForClass">
      <wsdl:input message="rnw_v1_2:GetMetaDataForClassRequest" />
      <wsdl:output message="rnw_v1_2:GetMetaDataForClassResponse" />
      <wsdl:fault name="RequestErrorFault" message="rnw_v1_2:RequestErrorFault" />
      <wsdl:fault name="ServerErrorFault" message="rnw_v1_2:ServerErrorFault" />
      <wsdl:fault name="UnexpectedErrorFault" message="rnw_v1_2:UnexpectedErrorFault" />
    </wsdl:operation>
    <wsdl:operation name="GetMetaDataLastChangeTime">
      <wsdl:input message="rnw_v1_2:GetMetaDataLastChangeTimeRequest" />
      <wsdl:output message="rnw_v1_2:GetMetaDataLastChangeTimeResponse" />
      <wsdl:fault name="RequestErrorFault" message="rnw_v1_2:RequestErrorFault" />
      <wsdl:fault name="ServerErrorFault" message="rnw_v1_2:ServerErrorFault" />
      <wsdl:fault name="UnexpectedErrorFault" message="rnw_v1_2:UnexpectedErrorFault" />
    </wsdl:operation>
    <wsdl:operation name="GetValuesForNamedID">
      <wsdl:input message="rnw_v1_2:GetValuesForNamedIDRequest" />
      <wsdl:output message="rnw_v1_2:GetValuesForNamedIDResponse" />
      <wsdl:fault name="RequestErrorFault" message="rnw_v1_2:RequestErrorFault" />
      <wsdl:fault name="ServerErrorFault" message="rnw_v1_2:ServerErrorFault" />
      <wsdl:fault name="UnexpectedErrorFault" message="rnw_v1_2:UnexpectedErrorFault" />
    </wsdl:operation>
    <wsdl:operation name="GetValuesForNamedIDHierarchy">
      <wsdl:input message="rnw_v1_2:GetValuesForNamedIDHierarchyRequest" />
      <wsdl:output message="rnw_v1_2:GetValuesForNamedIDHierarchyResponse" />
      <wsdl:fault name="RequestErrorFault" message="rnw_v1_2:RequestErrorFault" />
      <wsdl:fault name="ServerErrorFault" message="rnw_v1_2:ServerErrorFault" />
      <wsdl:fault name="UnexpectedErrorFault" message="rnw_v1_2:UnexpectedErrorFault" />
    </wsdl:operation>
    <wsdl:operation name="ConvertGenericToObject">
      <wsdl:input message="rnw_v1_2:ConvertGenericToObjectRequest" />
      <wsdl:output message="rnw_v1_2:ConvertGenericToObjectResponse" />
      <wsdl:fault name="RequestErrorFault" message="rnw_v1_2:RequestErrorFault" />
      <wsdl:fault name="ServerErrorFault" message="rnw_v1_2:ServerErrorFault" />
      <wsdl:fault name="UnexpectedErrorFault" message="rnw_v1_2:UnexpectedErrorFault" />
    </wsdl:operation>
    <wsdl:operation name="ConvertObjectToGeneric">
      <wsdl:input message="rnw_v1_2:ConvertObjectToGenericRequest" />
      <wsdl:output message="rnw_v1_2:ConvertObjectToGenericResponse" />
      <wsdl:fault name="RequestErrorFault" message="rnw_v1_2:RequestErrorFault" />
      <wsdl:fault name="ServerErrorFault" message="rnw_v1_2:ServerErrorFault" />
      <wsdl:fault name="UnexpectedErrorFault" message="rnw_v1_2:UnexpectedErrorFault" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="RightNowFedAuthSyncPort">
    <wsdl:operation name="Create">
      <wsdl:input message="rnw_v1_2:CreateRequest" />
      <wsdl:output message="rnw_v1_2:CreateResponse" />
      <wsdl:fault name="RequestErrorFault" message="rnw_v1_2:RequestErrorFault" />
      <wsdl:fault name="ServerErrorFault" message="rnw_v1_2:ServerErrorFault" />
      <wsdl:fault name="UnexpectedErrorFault" message="rnw_v1_2:UnexpectedErrorFault" />
    </wsdl:operation>
    <wsdl:operation name="Get">
      <wsdl:input message="rnw_v1_2:GetRequest" />
      <wsdl:output message="rnw_v1_2:GetResponse" />
      <wsdl:fault name="RequestErrorFault" message="rnw_v1_2:RequestErrorFault" />
      <wsdl:fault name="ServerErrorFault" message="rnw_v1_2:ServerErrorFault" />
      <wsdl:fault name="UnexpectedErrorFault" message="rnw_v1_2:UnexpectedErrorFault" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input message="rnw_v1_2:UpdateRequest" />
      <wsdl:output message="rnw_v1_2:UpdateResponse" />
      <wsdl:fault name="RequestErrorFault" message="rnw_v1_2:RequestErrorFault" />
      <wsdl:fault name="ServerErrorFault" message="rnw_v1_2:ServerErrorFault" />
      <wsdl:fault name="UnexpectedErrorFault" message="rnw_v1_2:UnexpectedErrorFault" />
    </wsdl:operation>
    <wsdl:operation name="Destroy">
      <wsdl:input message="rnw_v1_2:DestroyRequest" />
      <wsdl:output message="rnw_v1_2:DestroyResponse" />
      <wsdl:fault name="RequestErrorFault" message="rnw_v1_2:RequestErrorFault" />
      <wsdl:fault name="ServerErrorFault" message="rnw_v1_2:ServerErrorFault" />
      <wsdl:fault name="UnexpectedErrorFault" message="rnw_v1_2:UnexpectedErrorFault" />
    </wsdl:operation>
    <wsdl:operation name="QueryObjects">
      <wsdl:input message="rnw_v1_2:QueryObjectsRequest" />
      <wsdl:output message="rnw_v1_2:QueryObjectsResponse" />
      <wsdl:fault name="RequestErrorFault" message="rnw_v1_2:RequestErrorFault" />
      <wsdl:fault name="ServerErrorFault" message="rnw_v1_2:ServerErrorFault" />
      <wsdl:fault name="UnexpectedErrorFault" message="rnw_v1_2:UnexpectedErrorFault" />
    </wsdl:operation>
    <wsdl:operation name="QueryCSV">
      <wsdl:input message="rnw_v1_2:QueryCSVRequest" />
      <wsdl:output message="rnw_v1_2:QueryCSVResponse" />
      <wsdl:fault name="RequestErrorFault" message="rnw_v1_2:RequestErrorFault" />
      <wsdl:fault name="ServerErrorFault" message="rnw_v1_2:ServerErrorFault" />
      <wsdl:fault name="UnexpectedErrorFault" message="rnw_v1_2:UnexpectedErrorFault" />
    </wsdl:operation>
    <wsdl:operation name="RunAnalyticsReport">
      <wsdl:input message="rnw_v1_2:RunAnalyticsReportRequest" />
      <wsdl:output message="rnw_v1_2:RunAnalyticsReportResponse" />
      <wsdl:fault name="RequestErrorFault" message="rnw_v1_2:RequestErrorFault" />
      <wsdl:fault name="ServerErrorFault" message="rnw_v1_2:ServerErrorFault" />
      <wsdl:fault name="UnexpectedErrorFault" message="rnw_v1_2:UnexpectedErrorFault" />
    </wsdl:operation>
    <wsdl:operation name="ExecuteMarketingFlow">
      <wsdl:input message="rnw_v1_2:ExecuteMarketingFlowRequest" />
      <wsdl:output message="rnw_v1_2:ExecuteMarketingFlowResponse" />
      <wsdl:fault name="RequestErrorFault" message="rnw_v1_2:RequestErrorFault" />
      <wsdl:fault name="ServerErrorFault" message="rnw_v1_2:ServerErrorFault" />
      <wsdl:fault name="UnexpectedErrorFault" message="rnw_v1_2:UnexpectedErrorFault" />
    </wsdl:operation>
    <wsdl:operation name="GetFileData">
      <wsdl:input message="rnw_v1_2:GetFileDataRequest" />
      <wsdl:output message="rnw_v1_2:GetFileDataResponse" />
      <wsdl:fault name="RequestErrorFault" message="rnw_v1_2:RequestErrorFault" />
      <wsdl:fault name="ServerErrorFault" message="rnw_v1_2:ServerErrorFault" />
      <wsdl:fault name="UnexpectedErrorFault" message="rnw_v1_2:UnexpectedErrorFault" />
    </wsdl:operation>
    <wsdl:operation name="ResetContactPassword">
      <wsdl:input message="rnw_v1_2:ResetContactPasswordRequest" />
      <wsdl:output message="rnw_v1_2:ResetContactPasswordResponse" />
      <wsdl:fault name="RequestErrorFault" message="rnw_v1_2:RequestErrorFault" />
      <wsdl:fault name="ServerErrorFault" message="rnw_v1_2:ServerErrorFault" />
      <wsdl:fault name="UnexpectedErrorFault" message="rnw_v1_2:UnexpectedErrorFault" />
    </wsdl:operation>
    <wsdl:operation name="SendMailingToContact">
      <wsdl:input message="rnw_v1_2:SendMailingToContactRequest" />
      <wsdl:output message="rnw_v1_2:SendMailingToContactResponse" />
      <wsdl:fault name="RequestErrorFault" message="rnw_v1_2:RequestErrorFault" />
      <wsdl:fault name="ServerErrorFault" message="rnw_v1_2:ServerErrorFault" />
      <wsdl:fault name="UnexpectedErrorFault" message="rnw_v1_2:UnexpectedErrorFault" />
    </wsdl:operation>
    <wsdl:operation name="TransferSubObjects">
      <wsdl:input message="rnw_v1_2:TransferSubObjectsRequest" />
      <wsdl:output message="rnw_v1_2:TransferSubObjectsResponse" />
      <wsdl:fault name="RequestErrorFault" message="rnw_v1_2:RequestErrorFault" />
      <wsdl:fault name="ServerErrorFault" message="rnw_v1_2:ServerErrorFault" />
      <wsdl:fault name="UnexpectedErrorFault" message="rnw_v1_2:UnexpectedErrorFault" />
    </wsdl:operation>
    <wsdl:operation name="Batch">
      <wsdl:input message="rnw_v1_2:BatchRequest" />
      <wsdl:output message="rnw_v1_2:BatchResponse" />
      <wsdl:fault name="RequestErrorFault" message="rnw_v1_2:RequestErrorFault" />
      <wsdl:fault name="ServerErrorFault" message="rnw_v1_2:ServerErrorFault" />
      <wsdl:fault name="UnexpectedErrorFault" message="rnw_v1_2:UnexpectedErrorFault" />
    </wsdl:operation>
    <wsdl:operation name="GetMetaData">
      <wsdl:input message="rnw_v1_2:GetMetaDataRequest" />
      <wsdl:output message="rnw_v1_2:GetMetaDataResponse" />
      <wsdl:fault name="RequestErrorFault" message="rnw_v1_2:RequestErrorFault" />
      <wsdl:fault name="ServerErrorFault" message="rnw_v1_2:ServerErrorFault" />
      <wsdl:fault name="UnexpectedErrorFault" message="rnw_v1_2:UnexpectedErrorFault" />
    </wsdl:operation>
    <wsdl:operation name="GetMetaDataForClass">
      <wsdl:input message="rnw_v1_2:GetMetaDataForClassRequest" />
      <wsdl:output message="rnw_v1_2:GetMetaDataForClassResponse" />
      <wsdl:fault name="RequestErrorFault" message="rnw_v1_2:RequestErrorFault" />
      <wsdl:fault name="ServerErrorFault" message="rnw_v1_2:ServerErrorFault" />
      <wsdl:fault name="UnexpectedErrorFault" message="rnw_v1_2:UnexpectedErrorFault" />
    </wsdl:operation>
    <wsdl:operation name="GetMetaDataLastChangeTime">
      <wsdl:input message="rnw_v1_2:GetMetaDataLastChangeTimeRequest" />
      <wsdl:output message="rnw_v1_2:GetMetaDataLastChangeTimeResponse" />
      <wsdl:fault name="RequestErrorFault" message="rnw_v1_2:RequestErrorFault" />
      <wsdl:fault name="ServerErrorFault" message="rnw_v1_2:ServerErrorFault" />
      <wsdl:fault name="UnexpectedErrorFault" message="rnw_v1_2:UnexpectedErrorFault" />
    </wsdl:operation>
    <wsdl:operation name="GetValuesForNamedID">
      <wsdl:input message="rnw_v1_2:GetValuesForNamedIDRequest" />
      <wsdl:output message="rnw_v1_2:GetValuesForNamedIDResponse" />
      <wsdl:fault name="RequestErrorFault" message="rnw_v1_2:RequestErrorFault" />
      <wsdl:fault name="ServerErrorFault" message="rnw_v1_2:ServerErrorFault" />
      <wsdl:fault name="UnexpectedErrorFault" message="rnw_v1_2:UnexpectedErrorFault" />
    </wsdl:operation>
    <wsdl:operation name="GetValuesForNamedIDHierarchy">
      <wsdl:input message="rnw_v1_2:GetValuesForNamedIDHierarchyRequest" />
      <wsdl:output message="rnw_v1_2:GetValuesForNamedIDHierarchyResponse" />
      <wsdl:fault name="RequestErrorFault" message="rnw_v1_2:RequestErrorFault" />
      <wsdl:fault name="ServerErrorFault" message="rnw_v1_2:ServerErrorFault" />
      <wsdl:fault name="UnexpectedErrorFault" message="rnw_v1_2:UnexpectedErrorFault" />
    </wsdl:operation>
    <wsdl:operation name="ConvertGenericToObject">
      <wsdl:input message="rnw_v1_2:ConvertGenericToObjectRequest" />
      <wsdl:output message="rnw_v1_2:ConvertGenericToObjectResponse" />
      <wsdl:fault name="RequestErrorFault" message="rnw_v1_2:RequestErrorFault" />
      <wsdl:fault name="ServerErrorFault" message="rnw_v1_2:ServerErrorFault" />
      <wsdl:fault name="UnexpectedErrorFault" message="rnw_v1_2:UnexpectedErrorFault" />
    </wsdl:operation>
    <wsdl:operation name="ConvertObjectToGeneric">
      <wsdl:input message="rnw_v1_2:ConvertObjectToGenericRequest" />
      <wsdl:output message="rnw_v1_2:ConvertObjectToGenericResponse" />
      <wsdl:fault name="RequestErrorFault" message="rnw_v1_2:RequestErrorFault" />
      <wsdl:fault name="ServerErrorFault" message="rnw_v1_2:ServerErrorFault" />
      <wsdl:fault name="UnexpectedErrorFault" message="rnw_v1_2:UnexpectedErrorFault" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RightNowSyncBinding" type="rnw_v1_2:RightNowSyncPort">
    <wsp:PolicyReference URI="#SyncPolicy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Create">
      <soap:operation soapAction="Create" style="document" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
        <soap:header message="rnw_v1_2:ClientInfoHeader" part="request_header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="RequestErrorFault">
        <soap:fault use="literal" name="RequestErrorFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ServerErrorFault">
        <soap:fault use="literal" name="ServerErrorFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="UnexpectedErrorFault">
        <soap:fault use="literal" name="UnexpectedErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Get">
      <soap:operation soapAction="Get" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="rnw_v1_2:ClientInfoHeader" part="request_header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="RequestErrorFault">
        <soap:fault use="literal" name="RequestErrorFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ServerErrorFault">
        <soap:fault use="literal" name="ServerErrorFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="UnexpectedErrorFault">
        <soap:fault use="literal" name="UnexpectedErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
        <soap:header message="rnw_v1_2:ClientInfoHeader" part="request_header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="RequestErrorFault">
        <soap:fault use="literal" name="RequestErrorFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ServerErrorFault">
        <soap:fault use="literal" name="ServerErrorFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="UnexpectedErrorFault">
        <soap:fault use="literal" name="UnexpectedErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Destroy">
      <soap:operation soapAction="Destroy" style="document" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
        <soap:header message="rnw_v1_2:ClientInfoHeader" part="request_header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="RequestErrorFault">
        <soap:fault use="literal" name="RequestErrorFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ServerErrorFault">
        <soap:fault use="literal" name="ServerErrorFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="UnexpectedErrorFault">
        <soap:fault use="literal" name="UnexpectedErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="QueryCSV">
      <soap:operation soapAction="QueryCSV" style="document" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
        <soap:header message="rnw_v1_2:ClientInfoHeader" part="request_header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="RequestErrorFault">
        <soap:fault use="literal" name="RequestErrorFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ServerErrorFault">
        <soap:fault use="literal" name="ServerErrorFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="UnexpectedErrorFault">
        <soap:fault use="literal" name="UnexpectedErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="QueryObjects">
      <soap:operation soapAction="QueryObjects" style="document" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
        <soap:header message="rnw_v1_2:ClientInfoHeader" part="request_header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="RequestErrorFault">
        <soap:fault use="literal" name="RequestErrorFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ServerErrorFault">
        <soap:fault use="literal" name="ServerErrorFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="UnexpectedErrorFault">
        <soap:fault use="literal" name="UnexpectedErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RunAnalyticsReport">
      <soap:operation soapAction="RunAnalyticsReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
        <soap:header message="rnw_v1_2:ClientInfoHeader" part="request_header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="RequestErrorFault">
        <soap:fault use="literal" name="RequestErrorFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ServerErrorFault">
        <soap:fault use="literal" name="ServerErrorFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="UnexpectedErrorFault">
        <soap:fault use="literal" name="UnexpectedErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ExecuteMarketingFlow">
      <soap:operation soapAction="ExecuteMarketingFlow" style="document" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
        <soap:header message="rnw_v1_2:ClientInfoHeader" part="request_header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="RequestErrorFault">
        <soap:fault use="literal" name="RequestErrorFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ServerErrorFault">
        <soap:fault use="literal" name="ServerErrorFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="UnexpectedErrorFault">
        <soap:fault use="literal" name="UnexpectedErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetFileData">
      <soap:operation soapAction="GetFileData" style="document" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
        <soap:header message="rnw_v1_2:ClientInfoHeader" part="request_header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="RequestErrorFault">
        <soap:fault use="literal" name="RequestErrorFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ServerErrorFault">
        <soap:fault use="literal" name="ServerErrorFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="UnexpectedErrorFault">
        <soap:fault use="literal" name="UnexpectedErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ResetContactPassword">
      <soap:operation soapAction="ResetContactPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
        <soap:header message="rnw_v1_2:ClientInfoHeader" part="request_header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="RequestErrorFault">
        <soap:fault use="literal" name="RequestErrorFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ServerErrorFault">
        <soap:fault use="literal" name="ServerErrorFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="UnexpectedErrorFault">
        <soap:fault use="literal" name="UnexpectedErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SendMailingToContact">
      <soap:operation soapAction="SendMailingToContact" style="document" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
        <soap:header message="rnw_v1_2:ClientInfoHeader" part="request_header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="RequestErrorFault">
        <soap:fault use="literal" name="RequestErrorFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ServerErrorFault">
        <soap:fault use="literal" name="ServerErrorFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="UnexpectedErrorFault">
        <soap:fault use="literal" name="UnexpectedErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="TransferSubObjects">
      <soap:operation soapAction="TransferSubObjects" style="document" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
        <soap:header message="rnw_v1_2:ClientInfoHeader" part="request_header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="RequestErrorFault">
        <soap:fault use="literal" name="RequestErrorFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ServerErrorFault">
        <soap:fault use="literal" name="ServerErrorFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="UnexpectedErrorFault">
        <soap:fault use="literal" name="UnexpectedErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Batch">
      <soap:operation soapAction="Batch" style="document" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
        <soap:header message="rnw_v1_2:ClientInfoHeader" part="request_header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="RequestErrorFault">
        <soap:fault use="literal" name="RequestErrorFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ServerErrorFault">
        <soap:fault use="literal" name="ServerErrorFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="UnexpectedErrorFault">
        <soap:fault use="literal" name="UnexpectedErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ConvertGenericToObject">
      <soap:operation soapAction="ConvertGenericToObject" style="document" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
        <soap:header message="rnw_v1_2:ClientInfoHeader" part="request_header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="RequestErrorFault">
        <soap:fault use="literal" name="RequestErrorFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ServerErrorFault">
        <soap:fault use="literal" name="ServerErrorFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="UnexpectedErrorFault">
        <soap:fault use="literal" name="UnexpectedErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ConvertObjectToGeneric">
      <soap:operation soapAction="ConvertObjectToGeneric" style="document" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
        <soap:header message="rnw_v1_2:ClientInfoHeader" part="request_header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="RequestErrorFault">
        <soap:fault use="literal" name="RequestErrorFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ServerErrorFault">
        <soap:fault use="literal" name="ServerErrorFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="UnexpectedErrorFault">
        <soap:fault use="literal" name="UnexpectedErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetMetaData">
      <soap:operation soapAction="GetMetaData" style="document" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
        <soap:header message="rnw_v1_2:ClientInfoHeader" part="request_header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="RequestErrorFault">
        <soap:fault use="literal" name="RequestErrorFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ServerErrorFault">
        <soap:fault use="literal" name="ServerErrorFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="UnexpectedErrorFault">
        <soap:fault use="literal" name="UnexpectedErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetMetaDataForClass">
      <soap:operation soapAction="GetMetaDataForClass" style="document" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
        <soap:header message="rnw_v1_2:ClientInfoHeader" part="request_header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="RequestErrorFault">
        <soap:fault use="literal" name="RequestErrorFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ServerErrorFault">
        <soap:fault use="literal" name="ServerErrorFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="UnexpectedErrorFault">
        <soap:fault use="literal" name="UnexpectedErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetMetaDataLastChangeTime">
      <soap:operation soapAction="GetMetaDataLastChangeTime" style="document" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
        <soap:header message="rnw_v1_2:ClientInfoHeader" part="request_header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="RequestErrorFault">
        <soap:fault use="literal" name="RequestErrorFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ServerErrorFault">
        <soap:fault use="literal" name="ServerErrorFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="UnexpectedErrorFault">
        <soap:fault use="literal" name="UnexpectedErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetValuesForNamedID">
      <soap:operation soapAction="GetValuesForNamedID" style="document" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
        <soap:header message="rnw_v1_2:ClientInfoHeader" part="request_header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="RequestErrorFault">
        <soap:fault use="literal" name="RequestErrorFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ServerErrorFault">
        <soap:fault use="literal" name="ServerErrorFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="UnexpectedErrorFault">
        <soap:fault use="literal" name="UnexpectedErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetValuesForNamedIDHierarchy">
      <soap:operation soapAction="GetValuesForNamedIDHierarchy" style="document" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
        <soap:header message="rnw_v1_2:ClientInfoHeader" part="request_header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="RequestErrorFault">
        <soap:fault use="literal" name="RequestErrorFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ServerErrorFault">
        <soap:fault use="literal" name="ServerErrorFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="UnexpectedErrorFault">
        <soap:fault use="literal" name="UnexpectedErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RightNowFedAuthSyncBinding" type="rnw_v1_2:RightNowFedAuthSyncPort">
    <wsp:PolicyReference URI="#FedAuthSyncPolicy" xmlns:wsp="http://www.w3.org/ns/ws-policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Create">
      <soap:operation soapAction="Create" style="document" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
        <soap:header message="rnw_v1_2:ClientInfoHeader" part="request_header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="RequestErrorFault">
        <soap:fault use="literal" name="RequestErrorFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ServerErrorFault">
        <soap:fault use="literal" name="ServerErrorFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="UnexpectedErrorFault">
        <soap:fault use="literal" name="UnexpectedErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Get">
      <soap:operation soapAction="Get" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="rnw_v1_2:ClientInfoHeader" part="request_header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="RequestErrorFault">
        <soap:fault use="literal" name="RequestErrorFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ServerErrorFault">
        <soap:fault use="literal" name="ServerErrorFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="UnexpectedErrorFault">
        <soap:fault use="literal" name="UnexpectedErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
        <soap:header message="rnw_v1_2:ClientInfoHeader" part="request_header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="RequestErrorFault">
        <soap:fault use="literal" name="RequestErrorFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ServerErrorFault">
        <soap:fault use="literal" name="ServerErrorFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="UnexpectedErrorFault">
        <soap:fault use="literal" name="UnexpectedErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Destroy">
      <soap:operation soapAction="Destroy" style="document" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
        <soap:header message="rnw_v1_2:ClientInfoHeader" part="request_header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="RequestErrorFault">
        <soap:fault use="literal" name="RequestErrorFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ServerErrorFault">
        <soap:fault use="literal" name="ServerErrorFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="UnexpectedErrorFault">
        <soap:fault use="literal" name="UnexpectedErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="QueryCSV">
      <soap:operation soapAction="QueryCSV" style="document" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
        <soap:header message="rnw_v1_2:ClientInfoHeader" part="request_header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="RequestErrorFault">
        <soap:fault use="literal" name="RequestErrorFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ServerErrorFault">
        <soap:fault use="literal" name="ServerErrorFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="UnexpectedErrorFault">
        <soap:fault use="literal" name="UnexpectedErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="QueryObjects">
      <soap:operation soapAction="QueryObjects" style="document" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
        <soap:header message="rnw_v1_2:ClientInfoHeader" part="request_header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="RequestErrorFault">
        <soap:fault use="literal" name="RequestErrorFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ServerErrorFault">
        <soap:fault use="literal" name="ServerErrorFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="UnexpectedErrorFault">
        <soap:fault use="literal" name="UnexpectedErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RunAnalyticsReport">
      <soap:operation soapAction="RunAnalyticsReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
        <soap:header message="rnw_v1_2:ClientInfoHeader" part="request_header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="RequestErrorFault">
        <soap:fault use="literal" name="RequestErrorFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ServerErrorFault">
        <soap:fault use="literal" name="ServerErrorFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="UnexpectedErrorFault">
        <soap:fault use="literal" name="UnexpectedErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ExecuteMarketingFlow">
      <soap:operation soapAction="ExecuteMarketingFlow" style="document" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
        <soap:header message="rnw_v1_2:ClientInfoHeader" part="request_header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="RequestErrorFault">
        <soap:fault use="literal" name="RequestErrorFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ServerErrorFault">
        <soap:fault use="literal" name="ServerErrorFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="UnexpectedErrorFault">
        <soap:fault use="literal" name="UnexpectedErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetFileData">
      <soap:operation soapAction="GetFileData" style="document" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
        <soap:header message="rnw_v1_2:ClientInfoHeader" part="request_header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="RequestErrorFault">
        <soap:fault use="literal" name="RequestErrorFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ServerErrorFault">
        <soap:fault use="literal" name="ServerErrorFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="UnexpectedErrorFault">
        <soap:fault use="literal" name="UnexpectedErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ResetContactPassword">
      <soap:operation soapAction="ResetContactPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
        <soap:header message="rnw_v1_2:ClientInfoHeader" part="request_header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="RequestErrorFault">
        <soap:fault use="literal" name="RequestErrorFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ServerErrorFault">
        <soap:fault use="literal" name="ServerErrorFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="UnexpectedErrorFault">
        <soap:fault use="literal" name="UnexpectedErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SendMailingToContact">
      <soap:operation soapAction="SendMailingToContact" style="document" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
        <soap:header message="rnw_v1_2:ClientInfoHeader" part="request_header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="RequestErrorFault">
        <soap:fault use="literal" name="RequestErrorFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ServerErrorFault">
        <soap:fault use="literal" name="ServerErrorFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="UnexpectedErrorFault">
        <soap:fault use="literal" name="UnexpectedErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="TransferSubObjects">
      <soap:operation soapAction="TransferSubObjects" style="document" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
        <soap:header message="rnw_v1_2:ClientInfoHeader" part="request_header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="RequestErrorFault">
        <soap:fault use="literal" name="RequestErrorFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ServerErrorFault">
        <soap:fault use="literal" name="ServerErrorFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="UnexpectedErrorFault">
        <soap:fault use="literal" name="UnexpectedErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Batch">
      <soap:operation soapAction="Batch" style="document" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
        <soap:header message="rnw_v1_2:ClientInfoHeader" part="request_header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="RequestErrorFault">
        <soap:fault use="literal" name="RequestErrorFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ServerErrorFault">
        <soap:fault use="literal" name="ServerErrorFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="UnexpectedErrorFault">
        <soap:fault use="literal" name="UnexpectedErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ConvertGenericToObject">
      <soap:operation soapAction="ConvertGenericToObject" style="document" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
        <soap:header message="rnw_v1_2:ClientInfoHeader" part="request_header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="RequestErrorFault">
        <soap:fault use="literal" name="RequestErrorFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ServerErrorFault">
        <soap:fault use="literal" name="ServerErrorFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="UnexpectedErrorFault">
        <soap:fault use="literal" name="UnexpectedErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ConvertObjectToGeneric">
      <soap:operation soapAction="ConvertObjectToGeneric" style="document" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
        <soap:header message="rnw_v1_2:ClientInfoHeader" part="request_header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="RequestErrorFault">
        <soap:fault use="literal" name="RequestErrorFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ServerErrorFault">
        <soap:fault use="literal" name="ServerErrorFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="UnexpectedErrorFault">
        <soap:fault use="literal" name="UnexpectedErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetMetaData">
      <soap:operation soapAction="GetMetaData" style="document" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
        <soap:header message="rnw_v1_2:ClientInfoHeader" part="request_header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="RequestErrorFault">
        <soap:fault use="literal" name="RequestErrorFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ServerErrorFault">
        <soap:fault use="literal" name="ServerErrorFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="UnexpectedErrorFault">
        <soap:fault use="literal" name="UnexpectedErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetMetaDataForClass">
      <soap:operation soapAction="GetMetaDataForClass" style="document" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
        <soap:header message="rnw_v1_2:ClientInfoHeader" part="request_header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="RequestErrorFault">
        <soap:fault use="literal" name="RequestErrorFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ServerErrorFault">
        <soap:fault use="literal" name="ServerErrorFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="UnexpectedErrorFault">
        <soap:fault use="literal" name="UnexpectedErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetMetaDataLastChangeTime">
      <soap:operation soapAction="GetMetaDataLastChangeTime" style="document" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
        <soap:header message="rnw_v1_2:ClientInfoHeader" part="request_header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="RequestErrorFault">
        <soap:fault use="literal" name="RequestErrorFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ServerErrorFault">
        <soap:fault use="literal" name="ServerErrorFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="UnexpectedErrorFault">
        <soap:fault use="literal" name="UnexpectedErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetValuesForNamedID">
      <soap:operation soapAction="GetValuesForNamedID" style="document" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
        <soap:header message="rnw_v1_2:ClientInfoHeader" part="request_header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="RequestErrorFault">
        <soap:fault use="literal" name="RequestErrorFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ServerErrorFault">
        <soap:fault use="literal" name="ServerErrorFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="UnexpectedErrorFault">
        <soap:fault use="literal" name="UnexpectedErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetValuesForNamedIDHierarchy">
      <soap:operation soapAction="GetValuesForNamedIDHierarchy" style="document" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
        <soap:header message="rnw_v1_2:ClientInfoHeader" part="request_header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="RequestErrorFault">
        <soap:fault use="literal" name="RequestErrorFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ServerErrorFault">
        <soap:fault use="literal" name="ServerErrorFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="UnexpectedErrorFault">
        <soap:fault use="literal" name="UnexpectedErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RightNowSyncService">
    <wsdl:port name="RightNowSyncPort" binding="rnw_v1_2:RightNowSyncBinding">
      <soap:address location="https://toa-15-2-b122-pks--tushar.qb.lan/cgi-bin/toa_15_2_b122_pks.cfg/services/soap" />
    </wsdl:port>
    <wsdl:port name="RightNowFedAuthSyncPort" binding="rnw_v1_2:RightNowFedAuthSyncBinding">
      <soap:address location="https://toa-15-2-b122-pks--tushar.qb.lan/cgi-bin/toa_15_2_b122_pks.cfg/services/soap" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>