fieldservice/toa/cx/projects/Oracle.RightNow.Toa.Client/Service References/RightNowProxyService/soap2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:rng_v1_2="urn:generic.ws.rightnow.com/v1_2" xmlns="urn:metadata.ws.rightnow.com/v1_2" xmlns:rna_v1_2="urn:metadata.ws.rightnow.com/v1_2" elementFormDefault="qualified" targetNamespace="urn:metadata.ws.rightnow.com/v1_2" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://toa-15-2-b122-pks--tushar.qb.lan/cgi-bin/toa_15_2_b122_pks.cfg/services/soap?xsd=generic_v1.2" namespace="urn:generic.ws.rightnow.com/v1_2" />
  <xs:element name="MetaDataAttribute" type="rna_v1_2:MetaDataAttribute" />
  <xs:complexType name="MetaDataAttribute">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="DataType" type="rng_v1_2:DataTypeEnum" />
      <xs:element minOccurs="0" maxOccurs="1" name="DataTypeName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="MetaDataLink" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="IsDeprecated" type="xs:boolean" />
      <xs:element minOccurs="1" maxOccurs="1" name="Description" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="MaxLength" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="MaxValue" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="MinValue" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="Name" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="Nullable" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="Pattern" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="UsageOnCreate" type="rna_v1_2:MetaDataUsageEnum" />
      <xs:element minOccurs="1" maxOccurs="1" name="UsageOnDestroy" type="rna_v1_2:MetaDataUsageEnum" />
      <xs:element minOccurs="1" maxOccurs="1" name="UsageOnGet" type="rna_v1_2:MetaDataUsageEnum" />
      <xs:element minOccurs="1" maxOccurs="1" name="UsageOnUpdate" type="rna_v1_2:MetaDataUsageEnum" />
      <xs:element minOccurs="1" maxOccurs="1" name="UsedAsName" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MetaDataAttributeList" type="rna_v1_2:MetaDataAttributeList" />
  <xs:complexType name="MetaDataAttributeList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MetaDataAttributeList" type="rna_v1_2:MetaDataAttribute" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="MetaDataCardinalityEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ZERO_OR_ONE" />
      <xs:enumeration value="ZERO_OR_MORE" />
      <xs:enumeration value="ONE" />
      <xs:enumeration value="ONE_OR_MORE" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="MetaDataClass" type="rna_v1_2:MetaDataClass" />
  <xs:complexType name="MetaDataClass">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Attributes" type="rna_v1_2:MetaDataAttributeList" />
      <xs:element minOccurs="1" maxOccurs="1" name="CanCreate" type="xs:boolean" />
      <xs:element minOccurs="1" maxOccurs="1" name="CanDestroy" type="xs:boolean" />
      <xs:element minOccurs="1" maxOccurs="1" name="CanGet" type="xs:boolean" />
      <xs:element minOccurs="1" maxOccurs="1" name="CanUpdate" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="DerivedFrom" type="rng_v1_2:RNObjectType" />
      <xs:element minOccurs="1" maxOccurs="1" name="MetaDataLink" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="Name" type="rng_v1_2:RNObjectType" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Relationships" type="rna_v1_2:MetaDataRelationship" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="MetaDataKeyTypeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NONE" />
      <xs:enumeration value="PRIMARY" />
      <xs:enumeration value="PRIMARY_COMPOSITE" />
      <xs:enumeration value="FOREIGN_AGGREGATION" />
      <xs:enumeration value="FOREIGN_COMPOSITION" />
      <xs:enumeration value="FOREIGN_RELATION" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="MetaDataNavigabilityEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="INCOMING" />
      <xs:enumeration value="OUTGOING" />
      <xs:enumeration value="BIDIRECTIONAL" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="MetaDataRelationship" type="rna_v1_2:MetaDataRelationship" />
  <xs:complexType name="MetaDataRelationship">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="MyCardinality" type="rna_v1_2:MetaDataCardinalityEnum" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MyKeyAttributes" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="MyKeyType" type="rna_v1_2:MetaDataKeyTypeEnum" />
      <xs:element minOccurs="1" maxOccurs="1" name="Name" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="Navigability" type="rna_v1_2:MetaDataNavigabilityEnum" />
      <xs:element minOccurs="1" maxOccurs="1" name="OtherClassCardinality" type="rna_v1_2:MetaDataCardinalityEnum" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OtherClassKeyAttributes" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OtherClassKeyType" type="rna_v1_2:MetaDataKeyTypeEnum" />
      <xs:element minOccurs="1" maxOccurs="1" name="OtherClassName" type="rng_v1_2:RNObjectType" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="MetaDataUsageEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NOT_ALLOWED" />
      <xs:enumeration value="ALLOWED" />
      <xs:enumeration value="IGNORED" />
      <xs:enumeration value="REQUIRED" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>