salescloud/cx/projects/Accelerator.SalesCloud.Client/Service References/ContactProxyService/Contact.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:ns2="http://xmlns.oracle.com/apps/crmCommon/notes/noteService" xmlns:sdoXML="commonj.sdo/xml" xmlns:sdoJava="commonj.sdo/java" xmlns:ns0="http://xmlns.oracle.com/adf/svc/types/" xmlns="http://xmlns.oracle.com/apps/crmCommon/salesParties/contactService/" xmlns:ns1="http://xmlns.oracle.com/apps/crmCommon/salesParties/commonService/" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/crmCommon/salesParties/contactService/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="https://slcai761.us.oracle.com:10616/crmCommonSalesParties/ContactService?XSD=/META-INF/wsdl/BC4JService.xsd" namespace="http://xmlns.oracle.com/adf/svc/types/" />
  <xsd:import schemaLocation="https://slcai761.us.oracle.com:10616/crmCommonSalesParties/ContactService?XSD=/oracle/apps/crmCommon/salesParties/commonService/PrimaryAddress.xsd" namespace="http://xmlns.oracle.com/apps/crmCommon/salesParties/commonService/" />
  <xsd:import schemaLocation="https://slcai761.us.oracle.com:10616/crmCommonSalesParties/ContactService?XSD=/oracle/apps/crmCommon/salesParties/commonService/SalesTeamMember.xsd" namespace="http://xmlns.oracle.com/apps/crmCommon/salesParties/commonService/" />
  <xsd:import schemaLocation="https://slcai761.us.oracle.com:10616/crmCommonSalesParties/ContactService?XSD=/oracle/apps/crmCommon/notes/noteService/Note.xsd" namespace="http://xmlns.oracle.com/apps/crmCommon/notes/noteService" />
  <xsd:import schemaLocation="https://slcai761.us.oracle.com:10616/crmCommonSalesParties/ContactService?XSD=/xml/sdoJava.xsd" namespace="commonj.sdo/java" />
  <xsd:import schemaLocation="https://slcai761.us.oracle.com:10616/crmCommonSalesParties/ContactService?XSD=/xml/sdoXML.xsd" namespace="commonj.sdo/xml" />
  <xsd:annotation>
    <xsd:documentation xmlns:oer="http://xmlns.oracle.com/oer">
      <name xmlns="http://xmlns.oracle.com/apps/crmCommon/salesParties/contactService/">Sales Cloud Contact SDO</name>
      <description xmlns="http://xmlns.oracle.com/apps/crmCommon/salesParties/contactService/">An object that includes attributes used to store values while creating or updating a contact. A contact is a person in a defined relationship with either an account or contact.</description>
      <oer:attributes xmlns:oer="http://xmlns.oracle.com/oer">
        <oer:attribute description="Contact Party Identifier. Generated by System during Create. Primary Key. Mandatory if SourceSystemReferenceAltKey or PartyNumberBusinessKey is not passed" name="PartyId" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Unique identifier for the Contact Party. Can be system generated or user-provided during create, defined in profile option &quot;HZ_GENERATE_PARTY_NUMBER&quot;. Alternate Key. Mandatory if PK or SourceSystemReferenceAltKey is not passed in update. Mandatory based on profile option HZ_GENERATE_PARTY_NUMBER." name="PartyNumber" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Name of external source system, which are defined by an Admin as part of system setup. Part of Alternate Key (Along with SourceSystemReference). Mandatory if PK or PartyNumberBusinessKey is not passed in update" name="SourceSystem" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Identifier for this record from external source system. Part of Alternate Key (Along with SourceSystemReference) . Mandatory if PK or PartyNumberBusinessKey is not passed in update." name="SourceSystemReferenceValue" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="ID of Sales Account that this contact belongs to. To specify the account for a contact, one can either provide one of: Account's party ID, PartyNumber or (SourceSystem, SourceSystemReference) ." name="AccountPartyId" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Number of Sales Account that this contact belongs to. To specify the account for a contact, one can either provide one of: Account's party ID, PartyNumber or (SourceSystem, SourceSystemReference) ." name="AccountPartyNumber" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="SourceSystem of Sales Account that this contact belongs to. To specify the account for a contact, one can either provide one of: Account's party ID, PartyNumber or (SourceSystem, SourceSystemReference) ." name="AccountSourceSystem" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="SourceSystemReference of Sales Account that this contact belongs to. To specify the account for a contact, one can either provide one of: Account's party ID, PartyNumber or (SourceSystem, SourceSystemReference) ." name="AccountSourceSystemReferenceValue" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Name of Sales Account that this contact belongs to." name="AccountName" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Number of Sales Account that this contact belongs to. To specify the account for a contact, one can either provide one of: Account's party ID, PartyNumber or (SourceSystem, SourceSystemReference) ." name="FirstName" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Number of Sales Account that this contact belongs to. To specify the account for a contact, one can either provide one of: Account's party ID, PartyNumber or (SourceSystem, SourceSystemReference) ." name="LastName" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Used to capture the Last name prefix (e.g. 'fon', 'van', etc.) for a person. It is used in the same way the new field PERSON_LAST_NAME_PREFIX in HZ_PERSON_PROFILES is used. Corresponds to the field Last Name Prefix in HL7." name="LastNamePrefix" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Middle name of the person" name="MiddleName" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Captures system generated or manually overridden suffix." name="UniqueNameSuffix" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Derived name of the Contact." name="ContactName" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Previous last or surname of the person" name="PreviousLastName" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Used to capture the second last name for a person. In some cultures it is not uncommon to have double last name. It is used in the same way the new field PERSON_SECOND_LAST_NAME in HZ_PERSON_PROFILES is used." name="SecondLastName" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="ID of Sales Account Owner. To assign an owner to the sales account, one can either provide one of: Owner's party ID, PartyNumber or Email Address." name="OwnerPartyId" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Party Number of Sales Account Owner. To assign an owner to the sales account, one can either provide one of: Owner's party ID, PartyNumber or Email Address." name="OwnerPartyNumber" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Email Address of Sales Account Owner. To assign an owner to the sales account, one can either provide one of: Owner's party ID, PartyNumber or Email Address." name="OwnerEmailAddress" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Name of Sales Account Owner." name="OwnerName" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="This column is being added to support the partner account types. The default value of this column is ZCA_CONTACT. Other valid value for this would be ZCA_CUSTOMER and ZCA_PROSPECT." name="Type" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="The indicator showing whether there is an existing selling or billing relationship with the sales account." name="ExistingCustomerFlag" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="The date when the existing flag is last modified" name="ExistingCustomerFlagLastUpdateDate" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="The indicator for whether a sales account is a named sales account." name="NamedFlag" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="The date indicating when the sales account territory assignment was last run by assignment manager." name="LastAssignmentDate" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="The timestamp indicating when the sales account territory assignment was last run by assignment manager." name="LastAssignmentDateTime" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Indicator showing whether the sales account had the required dimensions to allow assignment manager to assign territories to the sales account." name="AssignmentExceptionFlag" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="A valid user defined status of the sales account." name="SalesProfileStatus" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Taxpayer identification number, often unique identifier of person or organization. Can be SSN or income taxpayer ID in US, fiscal code or NIF in Europe" name="TaxpayerIdentificationNumber" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Date the person was born" name="DateOfBirth" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Where the person was born. Typically, the city and country." name="PlaceOfBirth" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Date the person died" name="DateOfDeath" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Y or N indicates whether the person is deceased or not" name="DeceasedFlag" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="The gender (male, female, unknown) of the person." name="Gender" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Marital status of the person" name="MaritalStatus" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Date when the person's marital status changed." name="MaritalStatusEffectiveDate" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="The declared ethnicity of the person" name="DeclaredEthnicity" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Default Currency code for this person." name="PreferredFunctionalCurrency" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="The estimated gross annual income of the person" name="PersonalIncomeAmount" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Indicates if the person is the head of the household. Y for the head of a household, N for people who are not the head of a household." name="HeadOfHouseholdFlag" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Income of the household that this person is a part of" name="HouseholdIncomeAmount" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="The size of the household this person is a part of" name="HouseholdSize" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="The size of the household this person is a part of" name="Salutation" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Salutary introduction such as Mr., Herr, etc." name="SalutoryIntroduction" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="A professional or family title. For example, Don or The Right Honorable." name="Title" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Academic title that is part of the person's name such as Dr. Jane Smith" name="AcademicTitle" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Name initials" name="Initials" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Indicates if the person rents or owns his or her residence. Lookup of values for rent, own, lease, and so on." name="RentOrOwnIndicator" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Certification level for the person. Validated against HZ_PARTY_CERT_LEVEL lookup type" name="CertificationLevel" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Reason for Person party's current certification level assignment. Validated against HZ_PARTY_CERT_REASON lookup type" name="CertificationReasonCode" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Description for a Person." name="Comments" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Contact method to contact the person. Validated against lookup HZ_PREFERRED_CONTACT_METHOD." name="PreferredContactMethod" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Flag to Indicate if the Person is Key Contact" name="FavoriteContactFlag" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Free form text used to name the department for the contact" name="Department" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Department code for the contact." name="DepartmentCode" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Flag to indicate if the user can call the person or not." name="DoNotCallFlag" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Flag to indicate if the user can contact(phone/email/mail/) the person or not." name="DoNotContactFlag" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Flag to indicate if the user can email the person or not." name="DoNotEmailFlag" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Flag to indicate if the user can send mail to the person or not" name="DoNotMailFlag" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Free form text for job title." name="JobTitle" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Code given to the job title." name="JobTitleCode" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Date on which the contact was last contacted." name="LastContactDate" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Person's affinity towards the deploying organization." name="SalesAffinityCode" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Person's role in the buying process." name="SalesBuyingRoleCode" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Currency Code This attribute is used by CRM Extensibility framework" name="CurrencyCode" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Currency Conversion Rate Type This attribute is used by CRM Extensibility framework" name="CurcyConvRateType" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Corporate Currency Code This attribute is used by CRM Extensibility framework" name="CorpCurrencyCode" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Enrichment status of this record from Data cloud." name="DataCloudStatus" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Date of last Enrichment from Data Cloud" name="LastEnrichmentDate" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Status of the contact." name="PartyStatus" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="TCA Who column" name="CreatedByModule" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Who column: indicates the user who created the row." name="CreatedBy" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Who column: indicates the date and time of the creation of the row." name="CreationDate" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Who column: indicates the date and time of the last update of the row." name="LastUpdateDate" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Who column: indicates the session login associated to the user who last updated the row." name="LastUpdateLogin" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Who column: indicates the user who last updated the row." name="LastUpdatedBy" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="International country code for a telephone number. For example, 33 for France." name="WorkPhoneCountryCode" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="The area code within a country code." name="WorkPhoneAreaCode" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="A telephone number formatted in the local format. The number should not include area code, country code, or extension." name="WorkPhoneNumber" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Additional number addressed after initial connection to an internal telephone system." name="WorkPhoneExtension" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Formatted phone number information." name="FormattedWorkPhoneNumber" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="International country code for a telephone number. For example, 33 for France." name="MobileCountryCode" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="The area code within a country code." name="MobileAreaCode" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="A telephone number formatted in the local format. The number should not include area code, country code, or extension." name="MobileNumber" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Additional number addressed after initial connection to an internal telephone system." name="MobileExtension" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Formatted phone number information." name="FormattedMobileNumber" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="International country code for a telephone number. For example, 33 for France." name="FaxCountryCode" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="The area code within a country code." name="FaxAreaCode" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="A telephone number formatted in the local format. The number should not include area code, country code, or extension." name="FaxNumber" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Additional number addressed after initial connection to an internal telephone system." name="FaxExtension" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Formatted fax number information." name="FormattedFaxNumber" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="International country code for a telephone number. For example, 33 for France." name="HomePhoneCountryCode" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="The area code within a country code." name="HomePhoneAreaCode" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="A telephone number formatted in the local format. The number should not include area code, country code, or extension." name="HomePhoneNumber" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Formatted phone number information." name="FormattedHomePhoneNumber" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Indicates the preferred format for e-mail addressed to this address. For example, HTML or ASCII." name="EmailFormat" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="E-mail address of the contact point" name="EmailAddress" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="A valid classification category code for the contact which will be marked as primary" name="ClassificationCategory" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="A valid classification code corresponding to the classification category and which will be marked as primary" name="ClassificationCode" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Indicates if the contact is the preferred contact for the account" name="ContactIsPrimaryForAccount" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Indicates the place in a family structure. For example, in &amp;quot;Tom Jones III&amp;quot;, the &amp;quot;III&amp;quot;." name="NameSuffix" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="This is the derived column. For Organization, it is concatenation of unique_name_alias and suffix. For Person, this is concatenation of person_name and suffix." name="ContactUniqueName" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Display search results under selected record set." name="RecordSet" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Flag to indicate if searching on business contact belongs to login user." name="MyBusinessContact" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Primary Address of the contact. Address attributes of the contact are grouped under a PrimaryAddress entity for clarity." name="PrimaryAddress" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Sales Team Member" name="SalesTeamMember" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Note about the contact." name="Note" xmlns:oer="http://xmlns.oracle.com/oer" />
      </oer:attributes>
    </xsd:documentation>
  </xsd:annotation>
  <xsd:complexType name="ContactResult">
    <xsd:complexContent mixed="false">
      <xsd:extension base="ns0:MethodResult">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="Value" type="Contact" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Contact">
    <xsd:annotation>
      <xsd:appinfo source="http://xmlns.oracle.com/adf/svc/metadata/">
        <key xmlns="http://xmlns.oracle.com/adf/svc/metadata/">
          <attribute>PartyId</attribute>
          <attribute>PersonProfileId</attribute>
          <attribute>SalesProfileId</attribute>
        </key>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element sdoXML:dataType="sdoJava:LongObject" minOccurs="0" name="PartyId" type="xsd:long" />
      <xsd:element minOccurs="0" name="PartyNumber" type="xsd:string" />
      <xsd:element minOccurs="0" name="SourceSystem" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="SourceSystemReferenceValue" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="AccountPartyId" nillable="true" type="xsd:long" />
      <xsd:element minOccurs="0" name="AccountPartyNumber" type="xsd:string" />
      <xsd:element minOccurs="0" name="AccountSourceSystem" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="AccountSourceSystemReferenceValue" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="AccountName" type="xsd:string" />
      <xsd:element minOccurs="0" name="FirstName" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="LastName" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="LastNamePrefix" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="MiddleName" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="UniqueNameSuffix" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="ContactName" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="PreviousLastName" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="SecondLastName" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="OwnerPartyId" nillable="true" type="xsd:long" />
      <xsd:element minOccurs="0" name="OwnerPartyNumber" type="xsd:string" />
      <xsd:element minOccurs="0" name="OwnerEmailAddress" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="OwnerName" type="xsd:string" />
      <xsd:element minOccurs="0" name="Type" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="ExistingCustomerFlag" nillable="true" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="ExistingCustomerFlagLastUpdateDate" nillable="true" type="ns0:date-Date" />
      <xsd:element minOccurs="0" name="NamedFlag" nillable="true" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="LastAssignmentDate" nillable="true" type="ns0:date-Date" />
      <xsd:element minOccurs="0" name="LastAssignmentDateTime" nillable="true" type="ns0:dateTime-Timestamp" />
      <xsd:element minOccurs="0" name="AssignmentExceptionFlag" nillable="true" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="SalesProfileStatus" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="TaxpayerIdentificationNumber" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="DateOfBirth" nillable="true" type="ns0:date-Date" />
      <xsd:element minOccurs="0" name="PlaceOfBirth" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="DateOfDeath" nillable="true" type="ns0:date-Date" />
      <xsd:element sdoXML:dataType="sdoJava:BooleanObject" minOccurs="0" name="DeceasedFlag" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="Gender" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="MaritalStatus" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="MaritalStatusEffectiveDate" nillable="true" type="ns0:date-Date" />
      <xsd:element minOccurs="0" name="DeclaredEthnicity" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="PreferredFunctionalCurrency" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="PersonalIncomeAmount" nillable="true" type="ns0:AmountType" />
      <xsd:element minOccurs="0" name="HeadOfHouseholdFlag" nillable="true" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="HouseholdIncomeAmount" nillable="true" type="ns0:AmountType" />
      <xsd:element minOccurs="0" name="HouseholdSize" nillable="true" type="xsd:decimal" />
      <xsd:element minOccurs="0" name="Salutation" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="SalutoryIntroduction" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="Title" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="AcademicTitle" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="Initials" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="RentOrOwnIndicator" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="CertificationLevel" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="CertificationReasonCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="Comments" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="PreferredContactMethod" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="FavoriteContactFlag" nillable="true" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="Department" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="DepartmentCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="DoNotCallFlag" nillable="true" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="DoNotContactFlag" nillable="true" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="DoNotEmailFlag" nillable="true" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="DoNotMailFlag" nillable="true" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="JobTitle" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="JobTitleCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="LastContactDate" nillable="true" type="ns0:dateTime-Timestamp" />
      <xsd:element minOccurs="0" name="SalesAffinityCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="SalesBuyingRoleCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="CurrencyCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="CurcyConvRateType" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="CorpCurrencyCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="DataCloudStatus" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="LastEnrichmentDate" nillable="true" type="ns0:date-Date" />
      <xsd:element minOccurs="0" name="PartyStatus" type="xsd:string" />
      <xsd:element minOccurs="0" default="HZ_WS" name="CreatedByModule" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="CreatedBy" type="xsd:string" />
      <xsd:element minOccurs="0" name="CreationDate" type="ns0:dateTime-Timestamp" />
      <xsd:element minOccurs="0" name="LastUpdateDate" type="ns0:dateTime-Timestamp" />
      <xsd:element minOccurs="0" name="LastUpdateLogin" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="LastUpdatedBy" type="xsd:string" />
      <xsd:element minOccurs="0" name="WorkPhoneCountryCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="WorkPhoneAreaCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="WorkPhoneNumber" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="WorkPhoneExtension" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="FormattedWorkPhoneNumber" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="MobileCountryCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="MobileAreaCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="MobileNumber" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="MobileExtension" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="FormattedMobileNumber" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="FaxCountryCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="FaxAreaCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="FaxNumber" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="FaxExtension" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="FormattedFaxNumber" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="HomePhoneCountryCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="HomePhoneAreaCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="HomePhoneNumber" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="FormattedHomePhoneNumber" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="EmailFormat" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="EmailAddress" type="xsd:string" />
      <xsd:element minOccurs="0" name="ClassificationCategory" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="ClassificationCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="ContactIsPrimaryForAccount" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="NameSuffix" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="ContactUniqueName" type="xsd:string" />
      <xsd:element minOccurs="0" name="RecordSet" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="MyBusinessContact" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="PrimaryAddress" type="ns1:PrimaryAddress" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="SalesTeamMember" type="ns1:SalesTeamMember" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="Note" type="ns2:Note" />
      <xsd:element minOccurs="0" name="PersonDEO_O_INT_SBL_ContactSync_Status_c" nillable="true" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="contactResult" type="ContactResult" />
  <xsd:element name="contact" type="Contact" />
</xsd:schema>