salescloud/cx/projects/Accelerator.SalesCloud.Client/Service References/ContactProxyService/PrimaryAddress.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://xmlns.oracle.com/apps/crmCommon/salesParties/commonService/" xmlns:sdoJava="commonj.sdo/java" xmlns:sdoXML="commonj.sdo/xml" xmlns:ns0="http://xmlns.oracle.com/adf/svc/types/" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/crmCommon/salesParties/commonService/" sdoJava:package="oracle.apps.crmCommon.salesParties.commonService" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="https://slcai761.us.oracle.com:10616/crmCommonSalesParties/ContactService?XSD=/META-INF/wsdl/BC4JService.xsd" namespace="http://xmlns.oracle.com/adf/svc/types/" />
  <xsd:import schemaLocation="https://slcai761.us.oracle.com:10616/crmCommonSalesParties/ContactService?XSD=/xml/sdoJava.xsd" namespace="commonj.sdo/java" />
  <xsd:import schemaLocation="https://slcai761.us.oracle.com:10616/crmCommonSalesParties/ContactService?XSD=/xml/sdoXML.xsd" namespace="commonj.sdo/xml" />
  <xsd:annotation>
    <xsd:documentation xmlns:oer="http://xmlns.oracle.com/oer">
      <name xmlns="http://xmlns.oracle.com/apps/crmCommon/salesParties/commonService/">Sales Cloud Primary Address SDO</name>
      <description xmlns="http://xmlns.oracle.com/apps/crmCommon/salesParties/commonService/">An object that includes attributes used to store values while
                creating or updating a primary address. A primary address is the
                default communication address of an entity.</description>
      <oer:attributes xmlns:oer="http://xmlns.oracle.com/oer">
        <oer:attribute description="Address identifier" name="AddressId" />
        <oer:attribute description="Party site number" name="AddressNumber" />
        <oer:attribute description="Name of external source system for the address which are defined by an Admin as part of system setup." name="SourceSystem" />
        <oer:attribute description="Identifier for the address from external source system." name="SourceSystemReferenceValue" />
        <oer:attribute description="Identifier for the location record for this address. Foreign key to the HZ_LOCATIONS table." name="LocationId" />
        <oer:attribute description="Party identifier" name="PartyId" />
        <oer:attribute description="Additional address element to support flexible address format" name="AddressElementAttribute1" />
        <oer:attribute description="Additional address element to support flexible address format" name="AddressElementAttribute2" />
        <oer:attribute description="Additional address element to support flexible address format" name="AddressElementAttribute3" />
        <oer:attribute description="Additional address element to support flexible address format" name="AddressElementAttribute4" />
        <oer:attribute description="Additional address element to support flexible address format" name="AddressElementAttribute5" />
        <oer:attribute description="First line for address" name="AddressLine1" />
        <oer:attribute description="Second line for address" name="AddressLine2" />
        <oer:attribute description="Third line for address" name="AddressLine3" />
        <oer:attribute description="Fourth line for address" name="AddressLine4" />
        <oer:attribute description="Specific building name or number at a given address" name="Building" />
        <oer:attribute description="City element of the address" name="City" />
        <oer:attribute description="Country code from the TERRITORY_CODE column in the FND_TERRITORY table" name="Country" />
        <oer:attribute description="County element of the address" name="County" />
        <oer:attribute description="Specific floor number at a given address or in a particular building when building number is provided" name="FloorNumber" />
        <oer:attribute description="Postal code element of the address" name="PostalCode" />
        <oer:attribute description="Four digit extension to the United States Postal ZIP code." name="PostalPlus4Code" />
        <oer:attribute description="Province element of the address" name="Province" />
        <oer:attribute description="State element of the address" name="State" />
        <oer:attribute description="Used to store Latitude Information for the Location for Spatial Proximity and containment purposes" name="Latitude" />
        <oer:attribute description="Used to store Longitude Information for the Location for Spatial Proximity and containment purposes" name="Longitude" />
        <oer:attribute description="A user-defined code to indicate a mail drop point within their organization" name="Mailstop" />
        <oer:attribute description="Phonetic or Kana representation of the Kanji address lines (used in Japan)" name="AddressLinesPhonetic" />
        <oer:attribute description="Description for a Party Site." name="Comments" />
        <oer:attribute description="An extensive description of the location" name="Description" />
        <oer:attribute description="Date the address was last validated." name="DateValidated" />
        <oer:attribute description="A new Attribute to Indicate the Building Type" name="HouseType" />
        <oer:attribute description="Directions to the location" name="LocationDirections" />
        <oer:attribute description="Indicates if the location was validated. Y for validated, N for unvalidated." name="ValidatedFlag" />
        <oer:attribute description="Standardized status code describing the results of the validation" name="ValidationStatusCode" />
        <oer:attribute description="Formatted address information" name="FormattedAddress" />
        <oer:attribute description="Formatted multiple line address information" name="FormattedMultiLineAddress" />
        <oer:attribute description="Who column: indicates the user who created the row." name="CreatedBy" />
        <oer:attribute description="Who column: indicates the date and time of the creation of the row." name="CreationDate" />
        <oer:attribute description="Who column: indicates the date and time of the last update of the row." name="LastUpdateDate" />
        <oer:attribute description="Who column: indicates the session login associated to the user who last updated the row." name="LastUpdateLogin" />
        <oer:attribute description="Who column: indicates the user who last updated the row." name="LastUpdatedBy" />
        <oer:attribute description="Indicate if deleting primary address. 'Y' for delete." name="DeleteFlag" />
        <oer:attribute description="Corporate Currency Code This attribute is used by CRM Extensibility framework" name="CorpCurrencyCode" />
        <oer:attribute description="Currency Conversion Rate Type This attribute is used by CRM Extensibility framework" name="CurcyConvRateType" />
        <oer:attribute description="Currency Code This attribute is used by CRM Extensibility framework" name="CurrencyCode" />
      </oer:attributes>
    </xsd:documentation>
  </xsd:annotation>
  <xsd:complexType name="PrimaryAddress">
    <xsd:annotation>
      <xsd:appinfo source="http://xmlns.oracle.com/adf/svc/metadata/">
        <key xmlns="http://xmlns.oracle.com/adf/svc/metadata/">
          <attribute>AddressId</attribute>
        </key>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element sdoXML:dataType="sdoJava:LongObject" minOccurs="0" name="AddressId" type="xsd:long" />
      <xsd:element minOccurs="0" name="AddressNumber" type="xsd:string" />
      <xsd:element minOccurs="0" name="SourceSystem" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="SourceSystemReferenceValue" nillable="true" type="xsd:string" />
      <xsd:element sdoXML:dataType="sdoJava:LongObject" minOccurs="0" name="LocationId" type="xsd:long" />
      <xsd:element sdoXML:dataType="sdoJava:LongObject" minOccurs="0" name="PartyId" type="xsd:long" />
      <xsd:element minOccurs="0" name="AddressElementAttribute1" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="AddressElementAttribute2" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="AddressElementAttribute3" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="AddressElementAttribute4" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="AddressElementAttribute5" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="AddressLine1" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="AddressLine2" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="AddressLine3" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="AddressLine4" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="Building" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="City" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="Country" type="xsd:string" />
      <xsd:element minOccurs="0" name="County" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="FloorNumber" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="PostalCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="PostalPlus4Code" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="Province" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="State" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="Latitude" nillable="true" type="xsd:decimal" />
      <xsd:element minOccurs="0" name="Longitude" nillable="true" type="xsd:decimal" />
      <xsd:element minOccurs="0" name="Mailstop" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="AddressLinesPhonetic" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="Comments" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="Description" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="DateValidated" nillable="true" type="ns0:date-Date" />
      <xsd:element minOccurs="0" name="HouseType" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="LocationDirections" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="ValidatedFlag" nillable="true" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="ValidationStatusCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="FormattedAddress" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="FormattedMultiLineAddress" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="CreatedBy" type="xsd:string" />
      <xsd:element minOccurs="0" name="CreationDate" type="ns0:dateTime-Timestamp" />
      <xsd:element minOccurs="0" name="LastUpdateDate" type="ns0:dateTime-Timestamp" />
      <xsd:element minOccurs="0" name="LastUpdateLogin" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="LastUpdatedBy" type="xsd:string" />
      <xsd:element minOccurs="0" name="DeleteFlag" nillable="true" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="CorpCurrencyCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="CurcyConvRateType" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="CurrencyCode" nillable="true" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="primaryAddress" type="PrimaryAddress" />
</xsd:schema>