salescloud/cx/projects/Accelerator.SalesCloud.Client/Service References/ContactProxyService/SalesTeamMember.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://xmlns.oracle.com/apps/crmCommon/salesParties/commonService/" xmlns:sdoJava="commonj.sdo/java" xmlns:sdoXML="commonj.sdo/xml" xmlns:ns0="http://xmlns.oracle.com/adf/svc/types/" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/crmCommon/salesParties/commonService/" sdoJava:package="oracle.apps.crmCommon.salesParties.commonService" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="https://slcai761.us.oracle.com:10616/crmCommonSalesParties/ContactService?XSD=/META-INF/wsdl/BC4JService.xsd" namespace="http://xmlns.oracle.com/adf/svc/types/" />
  <xsd:import schemaLocation="https://slcai761.us.oracle.com:10616/crmCommonSalesParties/ContactService?XSD=/xml/sdoJava.xsd" namespace="commonj.sdo/java" />
  <xsd:import schemaLocation="https://slcai761.us.oracle.com:10616/crmCommonSalesParties/ContactService?XSD=/xml/sdoXML.xsd" namespace="commonj.sdo/xml" />
  <xsd:annotation>
    <xsd:documentation xmlns:oer="http://xmlns.oracle.com/oer">
      <name xmlns="http://xmlns.oracle.com/apps/crmCommon/salesParties/commonService/">Sales Account Resource</name>
      <description xmlns="http://xmlns.oracle.com/apps/crmCommon/salesParties/commonService/">An object representing a resource party that is assigned to a sales account team and has a defined access role for the sales account.</description>
      <oer:attributes xmlns:oer="http://xmlns.oracle.com/oer">
        <oer:attribute description="The surrogate primary key for the member of the sales accont resource team." name="TeamMemberId" />
        <oer:attribute description="The identifier for the sales account." name="SalesProfileId" />
        <oer:attribute description="The resource identifier." name="ResourceId" />
        <oer:attribute description="The lookup code indicating a sales account resource's role on the resource team such as Integrator, Executive Sponsor and Technical Account Manager. The code lookup is stored in FND_LOOKUPS." name="MemberFunctionCode" />
        <oer:attribute description="The access level determines the type of access granted to the resource as well as managers of the organizations. The possible values are contained in the ZCA_ACCESS_LEVEL lookup." name="AccessLevelCode" />
        <oer:attribute description="The flag indicates automatic territory assignment cannot remove the sales account team resource when this flag is `Y'. When a sales account team member is added manually, this flag is defaulted to `Y'. Otherwise," name="LockAssignmentFlag" />
        <oer:attribute description="The code indicating how the resource is assigned to the sales account team. The possible values are contained in the ZCA_ASSIGNMENT_TYPE lookup." name="AssignmentTypeCode" />
        <oer:attribute description="The date and time the record was created." name="CreationDate" />
        <oer:attribute description="The user who created the record." name="CreatedBy" />
        <oer:attribute description="The date on which the record is last updated." name="LastUpdateDate" />
        <oer:attribute description="The user login for the user who last updated the record." name="LastUpdateLogin" />
        <oer:attribute description="The user who last updated the record." name="LastUpdatedBy" />
        <oer:attribute description="The date and time of the last update from mobile." name="UserLastUpdateDate" />
        <oer:attribute description="Indicates the date on which the association of resource is created to the sales account." name="StartDateActive" />
        <oer:attribute description="Indicates the date on which the association of resource is ended to the sales account." name="EndDateActive" />
        <oer:attribute description="Unique identifier for the resource" name="ResourcePartyNumber" />
        <oer:attribute description="Unique identifier for the resource" name="ResourceEmailAddress" />
      </oer:attributes>
    </xsd:documentation>
  </xsd:annotation>
  <xsd:complexType name="SalesTeamMember">
    <xsd:annotation>
      <xsd:appinfo source="http://xmlns.oracle.com/adf/svc/metadata/">
        <key xmlns="http://xmlns.oracle.com/adf/svc/metadata/">
          <attribute>TeamMemberId</attribute>
        </key>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element sdoXML:dataType="sdoJava:LongObject" minOccurs="0" name="TeamMemberId" type="xsd:long" />
      <xsd:element sdoXML:dataType="sdoJava:LongObject" minOccurs="0" name="SalesProfileId" type="xsd:long" />
      <xsd:element minOccurs="0" name="ResourceId" nillable="true" type="xsd:long" />
      <xsd:element minOccurs="0" name="MemberFunctionCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="AccessLevelCode" type="xsd:string" />
      <xsd:element sdoXML:dataType="sdoJava:BooleanObject" minOccurs="0" name="LockAssignmentFlag" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="AssignmentTypeCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="CreationDate" type="ns0:dateTime-Timestamp" />
      <xsd:element minOccurs="0" name="CreatedBy" type="xsd:string" />
      <xsd:element minOccurs="0" name="LastUpdateDate" type="ns0:dateTime-Timestamp" />
      <xsd:element minOccurs="0" name="LastUpdateLogin" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="LastUpdatedBy" type="xsd:string" />
      <xsd:element minOccurs="0" name="UserLastUpdateDate" nillable="true" type="ns0:dateTime-Timestamp" />
      <xsd:element minOccurs="0" name="StartDateActive" nillable="true" type="ns0:date-Date" />
      <xsd:element minOccurs="0" name="EndDateActive" nillable="true" type="ns0:date-Date" />
      <xsd:element minOccurs="0" name="ResourcePartyNumber" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="ResourceEmailAddress" nillable="true" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="salesTeamMember" type="SalesTeamMember" />
</xsd:schema>