salescloud/cx/projects/Accelerator.SalesCloud.Client/Service References/ContactProxyService/sdoXML.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:sdo="commonj.sdo" xmlns:sdoXML="commonj.sdo/xml" targetNamespace="commonj.sdo/xml" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="https://slcai761.us.oracle.com:10616/crmCommonSalesParties/ContactService?XSD=/xml/sdoModel.xsd" namespace="commonj.sdo" />
  <xsd:attribute name="name" type="xsd:string" />
  <xsd:attribute name="propertyType" type="xsd:QName" />
  <xsd:attribute name="oppositeProperty" type="xsd:string" />
  <xsd:attribute name="sequence" type="xsd:boolean" />
  <xsd:attribute name="string" type="xsd:boolean" />
  <xsd:attribute name="dataType" type="xsd:QName" />
  <xsd:attribute name="aliasName" type="xsd:string" />
  <xsd:attribute name="readOnly" type="xsd:boolean" />
  <xsd:attribute name="many" type="xsd:boolean" />
  <xsd:attribute name="xmlElement" type="sdo:Boolean" />
  <xsd:complexType name="XMLInfo">
    <xsd:attribute name="xmlElement" type="sdo:Boolean" />
  </xsd:complexType>
</xsd:schema>