salescloud/cx/projects/Accelerator.SalesCloud.Client/Service References/LeadProxyService/LeadPublicService.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:tns="http://xmlns.oracle.com/apps/marketing/leadMgmt/leads/leadService/types/" xmlns:ns1="http://xmlns.oracle.com/adf/svc/types/" xmlns:ns0="http://xmlns.oracle.com/apps/marketing/leadMgmt/leads/leadService/" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/marketing/leadMgmt/leads/leadService/types/" xmlns="http://www.w3.org/2001/XMLSchema">
  <import schemaLocation="https://slcai761.us.oracle.com:10616/mklLeads/LeadPublicService?XSD=/META-INF/wsdl/BC4JService.xsd" namespace="http://xmlns.oracle.com/adf/svc/types/" />
  <import schemaLocation="https://slcai761.us.oracle.com:10616/mklLeads/LeadPublicService?XSD=/oracle/apps/marketing/leadMgmt/leads/leadService/ServiceLead.xsd" namespace="http://xmlns.oracle.com/apps/marketing/leadMgmt/leads/leadService/" />
  <import schemaLocation="https://slcai761.us.oracle.com:10616/mklLeads/LeadPublicService?XSD=/oracle/apps/marketing/leadMgmt/leads/leadService/MklLeadResources.xsd" namespace="http://xmlns.oracle.com/apps/marketing/leadMgmt/leads/leadService/" />
  <import schemaLocation="https://slcai761.us.oracle.com:10616/mklLeads/LeadPublicService?XSD=/oracle/apps/marketing/leadMgmt/leads/leadService/MklProdAssoc.xsd" namespace="http://xmlns.oracle.com/apps/marketing/leadMgmt/leads/leadService/" />
  <import schemaLocation="https://slcai761.us.oracle.com:10616/mklLeads/LeadPublicService?XSD=/oracle/apps/marketing/leadMgmt/leads/leadService/MklLeadTcMembers.xsd" namespace="http://xmlns.oracle.com/apps/marketing/leadMgmt/leads/leadService/" />
  <element name="getLead">
    <complexType>
      <sequence>
        <element name="leadId" type="long" />
      </sequence>
    </complexType>
  </element>
  <element name="getLeadResponse">
    <complexType>
      <sequence>
        <element name="result" type="ns0:ServiceLead" />
      </sequence>
    </complexType>
  </element>
  <element name="createLead">
    <complexType>
      <sequence>
        <element name="serviceLead1" type="ns0:ServiceLead" />
      </sequence>
    </complexType>
  </element>
  <element name="createLeadResponse">
    <complexType>
      <sequence>
        <element name="result" type="ns0:ServiceLead" />
      </sequence>
    </complexType>
  </element>
  <element name="updateLead">
    <complexType>
      <sequence>
        <element name="serviceLead1" type="ns0:ServiceLead" />
      </sequence>
    </complexType>
  </element>
  <element name="updateLeadResponse">
    <complexType>
      <sequence>
        <element name="result" type="ns0:ServiceLead" />
      </sequence>
    </complexType>
  </element>
  <element name="deleteLead">
    <complexType>
      <sequence>
        <element name="serviceLead1" type="ns0:ServiceLead" />
      </sequence>
    </complexType>
  </element>
  <element name="deleteLeadResponse">
    <complexType>
      <sequence />
    </complexType>
  </element>
  <element name="findLead">
    <complexType>
      <sequence>
        <element name="findCriteria" type="ns1:FindCriteria" />
        <element name="findControl" type="ns1:FindControl" />
      </sequence>
    </complexType>
  </element>
  <element name="findLeadResponse">
    <complexType>
      <sequence>
        <element minOccurs="0" maxOccurs="unbounded" name="result" type="ns0:ServiceLead" />
      </sequence>
    </complexType>
  </element>
  <element name="createLeadAsync">
    <complexType>
      <sequence>
        <element name="serviceLead1" type="ns0:ServiceLead" />
      </sequence>
    </complexType>
  </element>
  <element name="createLeadAsyncResponse">
    <complexType>
      <sequence>
        <element name="result" type="ns0:ServiceLead" />
      </sequence>
    </complexType>
  </element>
  <element name="updateLeadAsync">
    <complexType>
      <sequence>
        <element name="serviceLead1" type="ns0:ServiceLead" />
      </sequence>
    </complexType>
  </element>
  <element name="updateLeadAsyncResponse">
    <complexType>
      <sequence>
        <element name="result" type="ns0:ServiceLead" />
      </sequence>
    </complexType>
  </element>
  <element name="findLeadAsync">
    <complexType>
      <sequence>
        <element name="findCriteria" type="ns1:FindCriteria" />
        <element name="findControl" type="ns1:FindControl" />
      </sequence>
    </complexType>
  </element>
  <element name="findLeadAsyncResponse">
    <complexType>
      <sequence>
        <element minOccurs="0" maxOccurs="unbounded" name="result" type="ns0:ServiceLead" />
      </sequence>
    </complexType>
  </element>
  <element name="deleteLeadAsync">
    <complexType>
      <sequence>
        <element name="serviceLead1" type="ns0:ServiceLead" />
      </sequence>
    </complexType>
  </element>
  <element name="deleteLeadAsyncResponse">
    <complexType>
      <sequence />
    </complexType>
  </element>
  <element name="getLeadAsync">
    <complexType>
      <sequence>
        <element name="leadId" type="long" />
      </sequence>
    </complexType>
  </element>
  <element name="getLeadAsyncResponse">
    <complexType>
      <sequence>
        <element name="result" type="ns0:ServiceLead" />
      </sequence>
    </complexType>
  </element>
  <element name="assignLead">
    <complexType>
      <sequence>
        <element name="leadId" type="long" />
      </sequence>
    </complexType>
  </element>
  <element name="assignLeadResponse">
    <complexType>
      <sequence>
        <element name="result" type="string" />
      </sequence>
    </complexType>
  </element>
  <element name="convertLeadToOpportunity">
    <complexType>
      <sequence>
        <element name="leadId" type="long" />
      </sequence>
    </complexType>
  </element>
  <element name="convertLeadToOpportunityResponse">
    <complexType>
      <sequence>
        <element name="result" type="string" />
      </sequence>
    </complexType>
  </element>
  <element name="qualifyLead">
    <complexType>
      <sequence>
        <element name="leadId" type="long" />
      </sequence>
    </complexType>
  </element>
  <element name="qualifyLeadResponse">
    <complexType>
      <sequence>
        <element name="result" type="string" />
      </sequence>
    </complexType>
  </element>
  <element name="rankLead">
    <complexType>
      <sequence>
        <element name="leadId" type="long" />
      </sequence>
    </complexType>
  </element>
  <element name="rankLeadResponse">
    <complexType>
      <sequence>
        <element name="result" type="string" />
      </sequence>
    </complexType>
  </element>
  <element name="scoreLead">
    <complexType>
      <sequence>
        <element name="leadId" type="long" />
      </sequence>
    </complexType>
  </element>
  <element name="scoreLeadResponse">
    <complexType>
      <sequence>
        <element name="result" type="string" />
      </sequence>
    </complexType>
  </element>
  <element name="scoreLeadAsync">
    <complexType>
      <sequence>
        <element name="leadId" type="long" />
      </sequence>
    </complexType>
  </element>
  <element name="scoreLeadAsyncResponse">
    <complexType>
      <sequence>
        <element name="result" type="string" />
      </sequence>
    </complexType>
  </element>
  <element name="convertLeadToOpportunityAsync">
    <complexType>
      <sequence>
        <element name="leadId" type="long" />
      </sequence>
    </complexType>
  </element>
  <element name="convertLeadToOpportunityAsyncResponse">
    <complexType>
      <sequence>
        <element name="result" type="string" />
      </sequence>
    </complexType>
  </element>
  <element name="assignLeadAsync">
    <complexType>
      <sequence>
        <element name="leadId" type="long" />
      </sequence>
    </complexType>
  </element>
  <element name="assignLeadAsyncResponse">
    <complexType>
      <sequence>
        <element name="result" type="string" />
      </sequence>
    </complexType>
  </element>
  <element name="rankLeadAsync">
    <complexType>
      <sequence>
        <element name="leadId" type="long" />
      </sequence>
    </complexType>
  </element>
  <element name="rankLeadAsyncResponse">
    <complexType>
      <sequence>
        <element name="result" type="string" />
      </sequence>
    </complexType>
  </element>
  <element name="qualifyLeadAsync">
    <complexType>
      <sequence>
        <element name="leadId" type="long" />
      </sequence>
    </complexType>
  </element>
  <element name="qualifyLeadAsyncResponse">
    <complexType>
      <sequence>
        <element name="result" type="string" />
      </sequence>
    </complexType>
  </element>
  <element name="getLeadContact">
    <complexType>
      <sequence>
        <element name="mklLeadTcMemberId" type="long" />
      </sequence>
    </complexType>
  </element>
  <element name="getLeadContactResponse">
    <complexType>
      <sequence>
        <element name="result" type="ns0:MklLeadTcMembers" />
      </sequence>
    </complexType>
  </element>
  <element name="createLeadContact">
    <complexType>
      <sequence>
        <element name="leadContacts" type="ns0:MklLeadTcMembers" />
      </sequence>
    </complexType>
  </element>
  <element name="createLeadContactResponse">
    <complexType>
      <sequence>
        <element name="result" type="ns0:MklLeadTcMembers" />
      </sequence>
    </complexType>
  </element>
  <element name="updateLeadContact">
    <complexType>
      <sequence>
        <element name="leadContacts" type="ns0:MklLeadTcMembers" />
      </sequence>
    </complexType>
  </element>
  <element name="updateLeadContactResponse">
    <complexType>
      <sequence>
        <element name="result" type="ns0:MklLeadTcMembers" />
      </sequence>
    </complexType>
  </element>
  <element name="deleteLeadContact">
    <complexType>
      <sequence>
        <element name="leadContacts" type="ns0:MklLeadTcMembers" />
      </sequence>
    </complexType>
  </element>
  <element name="deleteLeadContactResponse">
    <complexType>
      <sequence />
    </complexType>
  </element>
  <element name="findLeadContact">
    <complexType>
      <sequence>
        <element name="findCriteria" type="ns1:FindCriteria" />
        <element name="findControl" type="ns1:FindControl" />
      </sequence>
    </complexType>
  </element>
  <element name="findLeadContactResponse">
    <complexType>
      <sequence>
        <element minOccurs="0" maxOccurs="unbounded" name="result" type="ns0:MklLeadTcMembers" />
      </sequence>
    </complexType>
  </element>
  <element name="updateLeadContactAsync">
    <complexType>
      <sequence>
        <element name="leadContacts" type="ns0:MklLeadTcMembers" />
      </sequence>
    </complexType>
  </element>
  <element name="updateLeadContactAsyncResponse">
    <complexType>
      <sequence>
        <element name="result" type="ns0:MklLeadTcMembers" />
      </sequence>
    </complexType>
  </element>
  <element name="deleteLeadContactAsync">
    <complexType>
      <sequence>
        <element name="leadContacts" type="ns0:MklLeadTcMembers" />
      </sequence>
    </complexType>
  </element>
  <element name="deleteLeadContactAsyncResponse">
    <complexType>
      <sequence />
    </complexType>
  </element>
  <element name="createLeadContactAsync">
    <complexType>
      <sequence>
        <element name="leadContacts" type="ns0:MklLeadTcMembers" />
      </sequence>
    </complexType>
  </element>
  <element name="createLeadContactAsyncResponse">
    <complexType>
      <sequence>
        <element name="result" type="ns0:MklLeadTcMembers" />
      </sequence>
    </complexType>
  </element>
  <element name="getLeadContactAsync">
    <complexType>
      <sequence>
        <element name="mklLeadTcMemberId" type="long" />
      </sequence>
    </complexType>
  </element>
  <element name="getLeadContactAsyncResponse">
    <complexType>
      <sequence>
        <element name="result" type="ns0:MklLeadTcMembers" />
      </sequence>
    </complexType>
  </element>
  <element name="findLeadContactAsync">
    <complexType>
      <sequence>
        <element name="findCriteria" type="ns1:FindCriteria" />
        <element name="findControl" type="ns1:FindControl" />
      </sequence>
    </complexType>
  </element>
  <element name="findLeadContactAsyncResponse">
    <complexType>
      <sequence>
        <element minOccurs="0" maxOccurs="unbounded" name="result" type="ns0:MklLeadTcMembers" />
      </sequence>
    </complexType>
  </element>
  <element name="getLeadProduct">
    <complexType>
      <sequence>
        <element name="prodAssocId" type="long" />
      </sequence>
    </complexType>
  </element>
  <element name="getLeadProductResponse">
    <complexType>
      <sequence>
        <element name="result" type="ns0:MklProdAssoc" />
      </sequence>
    </complexType>
  </element>
  <element name="createLeadProduct">
    <complexType>
      <sequence>
        <element name="leadProducts" type="ns0:MklProdAssoc" />
      </sequence>
    </complexType>
  </element>
  <element name="createLeadProductResponse">
    <complexType>
      <sequence>
        <element name="result" type="ns0:MklProdAssoc" />
      </sequence>
    </complexType>
  </element>
  <element name="updateLeadProduct">
    <complexType>
      <sequence>
        <element name="leadProducts" type="ns0:MklProdAssoc" />
      </sequence>
    </complexType>
  </element>
  <element name="updateLeadProductResponse">
    <complexType>
      <sequence>
        <element name="result" type="ns0:MklProdAssoc" />
      </sequence>
    </complexType>
  </element>
  <element name="deleteLeadProduct">
    <complexType>
      <sequence>
        <element name="leadProducts" type="ns0:MklProdAssoc" />
      </sequence>
    </complexType>
  </element>
  <element name="deleteLeadProductResponse">
    <complexType>
      <sequence />
    </complexType>
  </element>
  <element name="findLeadProduct">
    <complexType>
      <sequence>
        <element name="findCriteria" type="ns1:FindCriteria" />
        <element name="findControl" type="ns1:FindControl" />
      </sequence>
    </complexType>
  </element>
  <element name="findLeadProductResponse">
    <complexType>
      <sequence>
        <element minOccurs="0" maxOccurs="unbounded" name="result" type="ns0:MklProdAssoc" />
      </sequence>
    </complexType>
  </element>
  <element name="updateLeadProductAsync">
    <complexType>
      <sequence>
        <element name="leadProducts" type="ns0:MklProdAssoc" />
      </sequence>
    </complexType>
  </element>
  <element name="updateLeadProductAsyncResponse">
    <complexType>
      <sequence>
        <element name="result" type="ns0:MklProdAssoc" />
      </sequence>
    </complexType>
  </element>
  <element name="createLeadProductAsync">
    <complexType>
      <sequence>
        <element name="leadProducts" type="ns0:MklProdAssoc" />
      </sequence>
    </complexType>
  </element>
  <element name="createLeadProductAsyncResponse">
    <complexType>
      <sequence>
        <element name="result" type="ns0:MklProdAssoc" />
      </sequence>
    </complexType>
  </element>
  <element name="findLeadProductAsync">
    <complexType>
      <sequence>
        <element name="findCriteria" type="ns1:FindCriteria" />
        <element name="findControl" type="ns1:FindControl" />
      </sequence>
    </complexType>
  </element>
  <element name="findLeadProductAsyncResponse">
    <complexType>
      <sequence>
        <element minOccurs="0" maxOccurs="unbounded" name="result" type="ns0:MklProdAssoc" />
      </sequence>
    </complexType>
  </element>
  <element name="getLeadProductAsync">
    <complexType>
      <sequence>
        <element name="prodAssocId" type="long" />
      </sequence>
    </complexType>
  </element>
  <element name="getLeadProductAsyncResponse">
    <complexType>
      <sequence>
        <element name="result" type="ns0:MklProdAssoc" />
      </sequence>
    </complexType>
  </element>
  <element name="deleteLeadProductAsync">
    <complexType>
      <sequence>
        <element name="leadProducts" type="ns0:MklProdAssoc" />
      </sequence>
    </complexType>
  </element>
  <element name="deleteLeadProductAsyncResponse">
    <complexType>
      <sequence />
    </complexType>
  </element>
  <element name="getLeadResource">
    <complexType>
      <sequence>
        <element name="leadResourceId" type="long" />
      </sequence>
    </complexType>
  </element>
  <element name="getLeadResourceResponse">
    <complexType>
      <sequence>
        <element name="result" type="ns0:MklLeadResources" />
      </sequence>
    </complexType>
  </element>
  <element name="createLeadResource">
    <complexType>
      <sequence>
        <element name="leadResources" type="ns0:MklLeadResources" />
      </sequence>
    </complexType>
  </element>
  <element name="createLeadResourceResponse">
    <complexType>
      <sequence>
        <element name="result" type="ns0:MklLeadResources" />
      </sequence>
    </complexType>
  </element>
  <element name="updateLeadResource">
    <complexType>
      <sequence>
        <element name="leadResources" type="ns0:MklLeadResources" />
      </sequence>
    </complexType>
  </element>
  <element name="updateLeadResourceResponse">
    <complexType>
      <sequence>
        <element name="result" type="ns0:MklLeadResources" />
      </sequence>
    </complexType>
  </element>
  <element name="deleteLeadResource">
    <complexType>
      <sequence>
        <element name="leadResources" type="ns0:MklLeadResources" />
      </sequence>
    </complexType>
  </element>
  <element name="deleteLeadResourceResponse">
    <complexType>
      <sequence />
    </complexType>
  </element>
  <element name="findLeadResource">
    <complexType>
      <sequence>
        <element name="findCriteria" type="ns1:FindCriteria" />
        <element name="findControl" type="ns1:FindControl" />
      </sequence>
    </complexType>
  </element>
  <element name="findLeadResourceResponse">
    <complexType>
      <sequence>
        <element minOccurs="0" maxOccurs="unbounded" name="result" type="ns0:MklLeadResources" />
      </sequence>
    </complexType>
  </element>
  <element name="findLeadResourceAsync">
    <complexType>
      <sequence>
        <element name="findCriteria" type="ns1:FindCriteria" />
        <element name="findControl" type="ns1:FindControl" />
      </sequence>
    </complexType>
  </element>
  <element name="findLeadResourceAsyncResponse">
    <complexType>
      <sequence>
        <element minOccurs="0" maxOccurs="unbounded" name="result" type="ns0:MklLeadResources" />
      </sequence>
    </complexType>
  </element>
  <element name="deleteLeadResourceAsync">
    <complexType>
      <sequence>
        <element name="leadResources" type="ns0:MklLeadResources" />
      </sequence>
    </complexType>
  </element>
  <element name="deleteLeadResourceAsyncResponse">
    <complexType>
      <sequence />
    </complexType>
  </element>
  <element name="getLeadResourceAsync">
    <complexType>
      <sequence>
        <element name="leadResourceId" type="long" />
      </sequence>
    </complexType>
  </element>
  <element name="getLeadResourceAsyncResponse">
    <complexType>
      <sequence>
        <element name="result" type="ns0:MklLeadResources" />
      </sequence>
    </complexType>
  </element>
  <element name="createLeadResourceAsync">
    <complexType>
      <sequence>
        <element name="leadResources" type="ns0:MklLeadResources" />
      </sequence>
    </complexType>
  </element>
  <element name="createLeadResourceAsyncResponse">
    <complexType>
      <sequence>
        <element name="result" type="ns0:MklLeadResources" />
      </sequence>
    </complexType>
  </element>
  <element name="updateLeadResourceAsync">
    <complexType>
      <sequence>
        <element name="leadResources" type="ns0:MklLeadResources" />
      </sequence>
    </complexType>
  </element>
  <element name="updateLeadResourceAsyncResponse">
    <complexType>
      <sequence>
        <element name="result" type="ns0:MklLeadResources" />
      </sequence>
    </complexType>
  </element>
  <element name="getDfltObjAttrHints">
    <complexType>
      <sequence>
        <element name="viewName" type="string" />
        <element name="localeName" type="string" />
      </sequence>
    </complexType>
  </element>
  <element name="getDfltObjAttrHintsResponse">
    <complexType>
      <sequence>
        <element name="result" type="ns1:ObjAttrHints" />
      </sequence>
    </complexType>
  </element>
  <element name="getServiceLastUpdateTime">
    <complexType>
      <sequence />
    </complexType>
  </element>
  <element name="getServiceLastUpdateTimeResponse">
    <complexType>
      <sequence>
        <element name="result" type="ns1:dateTime-Timestamp" />
      </sequence>
    </complexType>
  </element>
  <element name="getEntityList">
    <complexType>
      <sequence />
    </complexType>
  </element>
  <element name="getEntityListResponse">
    <complexType>
      <sequence>
        <element minOccurs="0" maxOccurs="unbounded" name="result" type="ns1:ServiceViewInfo" />
      </sequence>
    </complexType>
  </element>
  <element name="getDfltObjAttrHintsAsync">
    <complexType>
      <sequence>
        <element name="viewName" type="string" />
        <element name="localeName" type="string" />
      </sequence>
    </complexType>
  </element>
  <element name="getDfltObjAttrHintsAsyncResponse">
    <complexType>
      <sequence>
        <element name="result" type="ns1:ObjAttrHints" />
      </sequence>
    </complexType>
  </element>
  <element name="getEntityListAsync">
    <complexType>
      <sequence />
    </complexType>
  </element>
  <element name="getEntityListAsyncResponse">
    <complexType>
      <sequence>
        <element minOccurs="0" maxOccurs="unbounded" name="result" type="ns1:ServiceViewInfo" />
      </sequence>
    </complexType>
  </element>
  <element name="getServiceLastUpdateTimeAsync">
    <complexType>
      <sequence />
    </complexType>
  </element>
  <element name="getServiceLastUpdateTimeAsyncResponse">
    <complexType>
      <sequence>
        <element name="result" type="ns1:dateTime-Timestamp" />
      </sequence>
    </complexType>
  </element>
</schema>