salescloud/cx/projects/Accelerator.SalesCloud.Client/Service References/LeadProxyService/MklLeadResources.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://xmlns.oracle.com/apps/marketing/leadMgmt/leads/leadService/" xmlns:sdoJava="commonj.sdo/java" xmlns:sdoXML="commonj.sdo/xml" xmlns:ns0="http://xmlns.oracle.com/adf/svc/types/" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/marketing/leadMgmt/leads/leadService/" sdoJava:package="oracle.apps.marketing.leadMgmt.leads.leadService" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="https://ucf3-fap0579-crm.oracledemos.com:443/mklLeads/LeadIntegrationService?XSD=/META-INF/wsdl/BC4JService.xsd" namespace="http://xmlns.oracle.com/adf/svc/types/" />
  <xsd:import schemaLocation="https://ucf3-fap0579-crm.oracledemos.com:443/mklLeads/LeadIntegrationService?XSD=/xml/sdoJava.xsd" namespace="commonj.sdo/java" />
  <xsd:import schemaLocation="https://ucf3-fap0579-crm.oracledemos.com:443/mklLeads/LeadIntegrationService?XSD=/xml/sdoXML.xsd" namespace="commonj.sdo/xml" />
  <xsd:annotation>
    <xsd:documentation xmlns:oer="http://xmlns.oracle.com/oer">
      <name xmlns="http://xmlns.oracle.com/apps/marketing/leadMgmt/leads/leadService/">Sales Lead Resources</name>
      <description xmlns="http://xmlns.oracle.com/apps/marketing/leadMgmt/leads/leadService/">Sales Lead Resources Service Data Object</description>
      <oer:category name="lba" xmlns:oer="http://xmlns.oracle.com/oer">
        <value xmlns="http://xmlns.oracle.com/apps/marketing/leadMgmt/leads/leadService/">MarketingTop-Marketing Business Area</value>
        <value xmlns="http://xmlns.oracle.com/apps/marketing/leadMgmt/leads/leadService/">MarketingTop-Marketing Business Area : LeadMgmtTop-Lead Management Business Area</value>
        <value xmlns="http://xmlns.oracle.com/apps/marketing/leadMgmt/leads/leadService/">MarketingTop-Marketing Business Area : LeadMgmtTop-Lead Management Business Area : MklLeads-Sales Leads</value>
      </oer:category>
      <oer:attributes xmlns:oer="http://xmlns.oracle.com/oer">
        <oer:attribute description="Identifier of the sales lead resource." name="LeadResourceId" />
        <oer:attribute description="Indicates the user who created this record." name="CreatedBy" />
        <oer:attribute description="Indicates the date and time when this record is created." name="CreationDate" />
        <oer:attribute description="System field that indicates the date and time of the last update of the row." name="LastUpdateDate" />
        <oer:attribute description="System field that indicates the user who last updated the row." name="LastUpdatedBy" />
        <oer:attribute description="Used to implement optimistic locking. This number is incremented every time that the row is updated. The number is compared at the start and end of a transaction to detect whether another session has updated the row since it was queried." name="ObjectVersionNumber" />
        <oer:attribute description="Indicates whether the record represents the primay resource on the lead. Primary resource on the lead is the same as the lead owner." name="PrimaryFlag" />
        <oer:attribute description="Indicates the role played by this Sale team resource for the handling of this sales lead." name="FunctionalRole" />
        <oer:attribute description="Resource identifier associated with this lead resource." name="ResourceId" />
        <oer:attribute description="Identifier of the sales lead for this sales lead resource." name="LeadId" />
        <oer:attribute description="Resource organization hierarchy code associated with the resource organization associated with the lead resource." name="OrgTreeCode" />
        <oer:attribute description="Resource organization hierarchy structure code associated with the resource organization hierarchy associated with the resource organization associated with the lead resource." name="OrgTreeStructureCode" />
        <oer:attribute description="Resource organization hierarchy version associated with the resource organization associated with the lead resource." name="OrgTreeVersionId" />
        <oer:attribute description="Resource organization identifier associated with this lead resource." name="ResourceOrgId" />
        <oer:attribute description="Email address associated with the sales lead team resource." name="EmailAddress" />
        <oer:attribute description="Party name of the lead resource." name="PartyName" />
        <oer:attribute description="Indicates Contact point type that is used for updating underlying contact point TCA data." name="PrimaryPhonePurpose" />
        <oer:attribute description="Name of the role of the lead resource in the context of this sales lead." name="RoleName" />
        <oer:attribute description="Manager name of the resource" name="ManagerName" />
        <oer:attribute description="Stores formatted phone number of the lead sales team resource." name="FormattedPhoneNumber" />
        <oer:attribute description="Name of this lead resource." name="Name" />
        <oer:attribute description="Party Identifier of the manager of the resource in the organizational hierarchy" name="ManagerPartyId" />
        <oer:attribute description="Start date from when the resource is active." name="StartDateActive" />
        <oer:attribute description="End date from when the resource is made inactive." name="EndDateActive" />
        <oer:attribute description="Login name of the Resource" name="ResourceUsername" />
        <oer:attribute description="Identify whether the resource is a partner contact." name="PartnerContactFlag" />
      </oer:attributes>
    </xsd:documentation>
  </xsd:annotation>
  <xsd:complexType name="MklLeadResources">
    <xsd:annotation>
      <xsd:appinfo source="http://xmlns.oracle.com/adf/svc/metadata/">
        <key xmlns="http://xmlns.oracle.com/adf/svc/metadata/">
          <attribute>LeadResourceId</attribute>
        </key>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element sdoXML:dataType="sdoJava:LongObject" minOccurs="0" name="LeadResourceId" type="xsd:long" />
      <xsd:element minOccurs="0" name="CreatedBy" type="xsd:string" />
      <xsd:element minOccurs="0" name="CreationDate" type="ns0:dateTime-Timestamp" />
      <xsd:element minOccurs="0" name="LastUpdateDate" type="ns0:dateTime-Timestamp" />
      <xsd:element minOccurs="0" name="LastUpdatedBy" type="xsd:string" />
      <xsd:element sdoXML:dataType="sdoJava:IntObject" minOccurs="0" name="ObjectVersionNumber" type="xsd:int" />
      <xsd:element minOccurs="0" name="PrimaryFlag" nillable="true" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="FunctionalRole" nillable="true" type="xsd:string" />
      <xsd:element sdoXML:dataType="sdoJava:LongObject" minOccurs="0" name="ResourceId" type="xsd:long" />
      <xsd:element sdoXML:dataType="sdoJava:LongObject" minOccurs="0" name="LeadId" type="xsd:long" />
      <xsd:element minOccurs="0" name="OrgTreeCode" type="xsd:string" />
      <xsd:element minOccurs="0" name="OrgTreeStructureCode" type="xsd:string" />
      <xsd:element minOccurs="0" name="OrgTreeVersionId" type="xsd:string" />
      <xsd:element sdoXML:dataType="sdoJava:LongObject" minOccurs="0" name="ResourceOrgId" type="xsd:long" />
      <xsd:element minOccurs="0" name="EmailAddress" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="PartyName" type="xsd:string" />
      <xsd:element minOccurs="0" name="PrimaryPhonePurpose" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="RoleName" type="xsd:string" />
      <xsd:element minOccurs="0" name="ManagerName" type="xsd:string" />
      <xsd:element minOccurs="0" name="FormattedPhoneNumber" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="Name" type="xsd:string" />
      <xsd:element minOccurs="0" name="ManagerPartyId" nillable="true" type="xsd:long" />
      <xsd:element minOccurs="0" name="StartDateActive" type="ns0:date-Date" />
      <xsd:element minOccurs="0" name="EndDateActive" type="ns0:date-Date" />
      <xsd:element minOccurs="0" name="ResourceUsername" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="PartnerContactFlag" nillable="true" type="xsd:boolean" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="mklLeadResources" type="MklLeadResources" />
</xsd:schema>