salescloud/cx/projects/Accelerator.SalesCloud.Client/Service References/LeadProxyService/MklLeadTcMembers.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://xmlns.oracle.com/apps/marketing/leadMgmt/leads/leadService/" xmlns:sdoJava="commonj.sdo/java" xmlns:sdoXML="commonj.sdo/xml" xmlns:ns0="http://xmlns.oracle.com/adf/svc/types/" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/marketing/leadMgmt/leads/leadService/" sdoJava:package="oracle.apps.marketing.leadMgmt.leads.leadService" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="https://ucf3-fap0579-crm.oracledemos.com:443/mklLeads/LeadIntegrationService?XSD=/META-INF/wsdl/BC4JService.xsd" namespace="http://xmlns.oracle.com/adf/svc/types/" />
  <xsd:import schemaLocation="https://ucf3-fap0579-crm.oracledemos.com:443/mklLeads/LeadIntegrationService?XSD=/xml/sdoJava.xsd" namespace="commonj.sdo/java" />
  <xsd:import schemaLocation="https://ucf3-fap0579-crm.oracledemos.com:443/mklLeads/LeadIntegrationService?XSD=/xml/sdoXML.xsd" namespace="commonj.sdo/xml" />
  <xsd:annotation>
    <xsd:documentation xmlns:oer="http://xmlns.oracle.com/oer">
      <name xmlns="http://xmlns.oracle.com/apps/marketing/leadMgmt/leads/leadService/">Sales Lead Contacts</name>
      <description xmlns="http://xmlns.oracle.com/apps/marketing/leadMgmt/leads/leadService/">Sales Lead Contacts Service Data Object</description>
      <oer:category name="lba" xmlns:oer="http://xmlns.oracle.com/oer">
        <value xmlns="http://xmlns.oracle.com/apps/marketing/leadMgmt/leads/leadService/">MarketingTop-Marketing Business Area</value>
        <value xmlns="http://xmlns.oracle.com/apps/marketing/leadMgmt/leads/leadService/">MarketingTop-Marketing Business Area : LeadMgmtTop-Lead Management Business Area</value>
        <value xmlns="http://xmlns.oracle.com/apps/marketing/leadMgmt/leads/leadService/">MarketingTop-Marketing Business Area : LeadMgmtTop-Lead Management Business Area : MklLeads-Sales Leads</value>
      </oer:category>
      <oer:attributes xmlns:oer="http://xmlns.oracle.com/oer">
        <oer:attribute description="Primary Key for Lead Contact" name="LeadMemberId" />
        <oer:attribute description="Relationship identifier for this lead contact. This represents the relation of this lead contact with lead customer." name="RelationshipId" />
        <oer:attribute description="Party usage recorded for this lead contact in the customer master." name="PartyUsageCode" />
        <oer:attribute description="Party identifier of the lead contact." name="PartyId" />
        <oer:attribute description="Role of lead contact in the context of this lead." name="Role" />
        <oer:attribute description="Indicates the user who created this record." name="CreatedBy" />
        <oer:attribute description="Indicates the date and time when this record is created." name="CreationDate" />
        <oer:attribute description="System field that indicates the user who last updated the row." name="LastUpdatedBy" />
        <oer:attribute description="System field that indicates the date and time of the last update of the row." name="LastUpdateDate" />
        <oer:attribute description="Used to implement optimistic locking. This number is incremented every time that the row is updated. The number is compared at the start and end of a transaction to detect whether another session has updated the row since it was queried." name="ObjectVersionNumber" />
        <oer:attribute description="Who column: indicates the session login associated to the user who last updated the row." name="LastUpdateLogin" />
        <oer:attribute description="Identifier of the sales lead for this sales lead contact." name="LeadId" />
        <oer:attribute description="Party name of the lead contact." name="PartyName" />
        <oer:attribute description="Indicates whether this lead contact is primary. Primary lead contact is also the lead owner." name="PrimaryFlag" />
        <oer:attribute description="Last name or surname of this lead contact." name="PersonLastName" />
        <oer:attribute description="First name of the lead contact." name="PersonFirstName" />
        <oer:attribute description="Indicates the type of the party recorded as lead contact. Possible values are person, organization or group." name="PartyType" />
        <oer:attribute description="Title asscoaited with the lead contact. This is not the same as the job title." name="PersonTitle" />
        <oer:attribute description="Phone extension for this lead contact. This extension is an additional number to be dialed after initial connection. This is part of the primary phone number associated with this lead contact." name="PrimaryPhoneNumber" />
        <oer:attribute description="Area code part of the phone number of this lead contact. This is part of the primary phone number for this lead contact." name="PrimaryPhoneAreaCode" />
        <oer:attribute description="International country code part of the phone number of this lead contact. This is part of the primary phone number for this lead contact." name="PrimaryPhoneCountryCode" />
        <oer:attribute description="Stores first line of identifying address associated with the sales lead contact." name="Address1" />
        <oer:attribute description="Stores second line of identifying address associated with the sales lead contact." name="Address2" />
        <oer:attribute description="City associated with the identifying address associated with this lead contact." name="City" />
        <oer:attribute description="Postal code part of the identifying address associated with this lead contact." name="PostalCode" />
        <oer:attribute description="State part of the identifying address associated with this lead contact." name="State" />
        <oer:attribute description="Stores formatted phone number of the lead contact." name="FormattedPhoneNumber" />
        <oer:attribute description="Party Number of the sales lead contact" name="PartyNumber" />
        <oer:attribute description="Email address associated with the sales lead contact." name="EmailAddress" />
        <oer:attribute description="The primary phone number associated with the lead contact." name="PhoneNumber" />
        <oer:attribute description="Country code associated with the primary phone number associated with the lead contact." name="PhoneCountryCode" />
        <oer:attribute description="Area code associated with the primary phone number associated with the lead contact." name="PhoneAreaCode" />
        <oer:attribute description="Contact number of the sales lead contact" name="ContactNumber" />
        <oer:attribute description="Organization Contact Identifier of the sales lead contact" name="OrgContactId" />
        <oer:attribute description="Job title of the sales lead contact." name="JobTitle" />
        <oer:attribute description="Person profile id of the sales lead contact." name="PersonProfileId" />
        <oer:attribute description="Person Job title of the sales lead contact." name="PersonJobTitle" />
        <oer:attribute description="Do not call flag set at person level for the sales lead contact." name="ContactDoNotCallFlag" />
        <oer:attribute description="Do not contact flag set at person level for the sales lead contact." name="ContactDoNotContactFlag" />
        <oer:attribute description="Do not email flag set at person level for the sales lead contact." name="ContactDoNotEmailFlag" />
        <oer:attribute description="Do not mail flag set at person level for the sales lead contact." name="ContactDoNotMailFlag" />
        <oer:attribute description="Status of the sales lead contact." name="PartyStatus" />
      </oer:attributes>
    </xsd:documentation>
  </xsd:annotation>
  <xsd:complexType name="MklLeadTcMembers">
    <xsd:annotation>
      <xsd:appinfo source="http://xmlns.oracle.com/adf/svc/metadata/">
        <key xmlns="http://xmlns.oracle.com/adf/svc/metadata/">
          <attribute>LeadMemberId</attribute>
        </key>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element sdoXML:dataType="sdoJava:LongObject" minOccurs="0" name="LeadMemberId" type="xsd:long" />
      <xsd:element sdoXML:dataType="sdoJava:LongObject" minOccurs="0" name="RelationshipId" type="xsd:long" />
      <xsd:element minOccurs="0" name="PartyUsageCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="PartyId" nillable="true" type="xsd:long" />
      <xsd:element minOccurs="0" name="Role" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="CreatedBy" type="xsd:string" />
      <xsd:element minOccurs="0" name="CreationDate" type="ns0:dateTime-Timestamp" />
      <xsd:element minOccurs="0" name="LastUpdatedBy" type="xsd:string" />
      <xsd:element minOccurs="0" name="LastUpdateDate" type="ns0:dateTime-Timestamp" />
      <xsd:element sdoXML:dataType="sdoJava:IntObject" minOccurs="0" name="ObjectVersionNumber" type="xsd:int" />
      <xsd:element minOccurs="0" name="LastUpdateLogin" nillable="true" type="xsd:string" />
      <xsd:element sdoXML:dataType="sdoJava:LongObject" minOccurs="0" name="LeadId" type="xsd:long" />
      <xsd:element minOccurs="0" name="PartyName" type="xsd:string" />
      <xsd:element minOccurs="0" name="PrimaryFlag" nillable="true" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="PersonLastName" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="PersonFirstName" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="PartyType" type="xsd:string" />
      <xsd:element minOccurs="0" name="PersonTitle" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="PrimaryPhoneNumber" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="PrimaryPhoneAreaCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="PrimaryPhoneCountryCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="Address1" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="Address2" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="City" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="PostalCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="State" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="FormattedPhoneNumber" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="PartyNumber" type="xsd:string" />
      <xsd:element minOccurs="0" name="EmailAddress" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="PhoneNumber" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="PhoneCountryCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="PhoneAreaCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="ContactNumber" nillable="true" type="xsd:string" />
      <xsd:element sdoXML:dataType="sdoJava:LongObject" minOccurs="0" name="OrgContactId" type="xsd:long" />
      <xsd:element minOccurs="0" name="JobTitle" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="RelationshipStartDate" type="ns0:date-Date" />
      <xsd:element minOccurs="0" name="RelationshipEndDate" nillable="true" type="ns0:date-Date" />
      <xsd:element minOccurs="0" name="RelationshipStatus" type="xsd:string" />
      <xsd:element sdoXML:dataType="sdoJava:LongObject" minOccurs="0" name="PersonProfileId" type="xsd:long" />
      <xsd:element minOccurs="0" name="PersonJobTitle" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="ContactDoNotCallFlag" nillable="true" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="ContactDoNotContactFlag" nillable="true" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="ContactDoNotEmailFlag" nillable="true" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="ContactDoNotMailFlag" nillable="true" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="PartyStatus" type="xsd:string" />
      <xsd:element minOccurs="0" name="ContactJobTitle" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="ContactName" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="ContactEmail" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="ContactPhoneNumber" nillable="true" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="mklLeadTcMembers" type="MklLeadTcMembers" />
</xsd:schema>