salescloud/cx/projects/Accelerator.SalesCloud.Client/Service References/LeadProxyService/MklProdAssoc.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://xmlns.oracle.com/apps/marketing/leadMgmt/leads/leadService/" xmlns:sdoJava="commonj.sdo/java" xmlns:sdoXML="commonj.sdo/xml" xmlns:ns0="http://xmlns.oracle.com/adf/svc/types/" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/marketing/leadMgmt/leads/leadService/" sdoJava:package="oracle.apps.marketing.leadMgmt.leads.leadService" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="https://ucf3-fap0579-crm.oracledemos.com:443/mklLeads/LeadIntegrationService?XSD=/META-INF/wsdl/BC4JService.xsd" namespace="http://xmlns.oracle.com/adf/svc/types/" />
  <xsd:import schemaLocation="https://ucf3-fap0579-crm.oracledemos.com:443/mklLeads/LeadIntegrationService?XSD=/xml/sdoJava.xsd" namespace="commonj.sdo/java" />
  <xsd:import schemaLocation="https://ucf3-fap0579-crm.oracledemos.com:443/mklLeads/LeadIntegrationService?XSD=/xml/sdoXML.xsd" namespace="commonj.sdo/xml" />
  <xsd:annotation>
    <xsd:documentation xmlns:oer="http://xmlns.oracle.com/oer">
      <name xmlns="http://xmlns.oracle.com/apps/marketing/leadMgmt/leads/leadService/">Sales Lead Products</name>
      <description xmlns="http://xmlns.oracle.com/apps/marketing/leadMgmt/leads/leadService/">Sales Lead Products Service Data Object</description>
      <oer:category name="lba" xmlns:oer="http://xmlns.oracle.com/oer">
        <value xmlns="http://xmlns.oracle.com/apps/marketing/leadMgmt/leads/leadService/">MarketingTop-Marketing Business Area</value>
        <value xmlns="http://xmlns.oracle.com/apps/marketing/leadMgmt/leads/leadService/">MarketingTop-Marketing Business Area : LeadMgmtTop-Lead Management Business Area</value>
        <value xmlns="http://xmlns.oracle.com/apps/marketing/leadMgmt/leads/leadService/">MarketingTop-Marketing Business Area : LeadMgmtTop-Lead Management Business Area : MklLeads-Sales Leads</value>
      </oer:category>
      <oer:attributes xmlns:oer="http://xmlns.oracle.com/oer">
        <oer:attribute description="Primary Key that represents the ID of the current Lead Product" name="LeadProductId" />
        <oer:attribute description="Identifier of the sales lead for this sales lead product." name="LeadId" />
        <oer:attribute description="Inventory organization identifier associated with this lead product." name="OrganizationId" />
        <oer:attribute description="Currency code associated with the lead product line amount." name="CurrencyCode" />
        <oer:attribute description="Estimated unit price for this lead product." name="EstimatedUnitPrice" />
        <oer:attribute description="Inventory item identifier associated with the lead product." name="InventoryItemId" />
        <oer:attribute description="Indicates whether this product is a primary product for this lead." name="PrimaryFlag" />
        <oer:attribute description="Identifier of the product group." name="ProductGroupId" />
        <oer:attribute description="product quantity identified for this product on the lead." name="Quantity" />
        <oer:attribute description="Unit of measure associated with this sales lead product line." name="UOMCode" />
        <oer:attribute description="Product Description where the product is associated with the lead." name="Description" />
        <oer:attribute description="Indicates the user who created this record." name="CreatedBy" />
        <oer:attribute description="Indicates the date and time when this record is created." name="CreationDate" />
        <oer:attribute description="System field that indicates the user who last updated the row." name="LastUpdatedBy" />
        <oer:attribute description="System field that indicates the date and time of the last update of the row." name="LastUpdateDate" />
        <oer:attribute description="Used to implement optimistic locking. This number is incremented every time that the row is updated. The number is compared at the start and end of a transaction to detect whether another session has updated the row since it was queried." name="ObjectVersionNumber" />
        <oer:attribute description="Indicates average time to close for this sales lead product." name="AverageTimeToClose" />
        <oer:attribute description="Name of the product group if this record represents a product group." name="ProductGroupName" />
        <oer:attribute description="Description of the product group." name="ProductGroupDescription" />
        <oer:attribute description="Name of product or product group. It is the same as the product name if this record represents a product. It is the same as the product group name if this record represents a product group." name="ProductName" />
        <oer:attribute description="Long description of the sales lead product." name="LongDescription" />
        <oer:attribute description="Amount associated with the sales lead product." name="Amount" />
        <oer:attribute description="Indicates if this record represents a product or a product group." name="ProductType" />
      </oer:attributes>
    </xsd:documentation>
  </xsd:annotation>
  <xsd:complexType name="MklProdAssoc">
    <xsd:annotation>
      <xsd:appinfo source="http://xmlns.oracle.com/adf/svc/metadata/">
        <key xmlns="http://xmlns.oracle.com/adf/svc/metadata/">
          <attribute>LeadProductId</attribute>
        </key>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element sdoXML:dataType="sdoJava:LongObject" minOccurs="0" name="LeadProductId" type="xsd:long" />
      <xsd:element sdoXML:dataType="sdoJava:LongObject" minOccurs="0" name="LeadId" type="xsd:long" />
      <xsd:element minOccurs="0" name="OrganizationId" nillable="true" type="xsd:long" />
      <xsd:element minOccurs="0" name="CurrencyCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="EstimatedUnitPrice" nillable="true" type="ns0:AmountType" />
      <xsd:element minOccurs="0" name="InventoryItemId" nillable="true" type="xsd:long" />
      <xsd:element minOccurs="0" name="PrimaryFlag" nillable="true" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="ProductGroupId" nillable="true" type="xsd:long" />
      <xsd:element minOccurs="0" name="Quantity" type="ns0:MeasureType" />
      <xsd:element minOccurs="0" name="UOMCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="Description" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="CreatedBy" type="xsd:string" />
      <xsd:element minOccurs="0" name="CreationDate" type="ns0:dateTime-Timestamp" />
      <xsd:element minOccurs="0" name="LastUpdatedBy" type="xsd:string" />
      <xsd:element minOccurs="0" name="LastUpdateDate" type="ns0:dateTime-Timestamp" />
      <xsd:element sdoXML:dataType="sdoJava:IntObject" minOccurs="0" name="ObjectVersionNumber" type="xsd:int" />
      <xsd:element minOccurs="0" name="AverageTimeToClose" nillable="true" type="xsd:decimal" />
      <xsd:element minOccurs="0" name="ProductGroupName" type="xsd:string" />
      <xsd:element minOccurs="0" name="ProductGroupDescription" type="xsd:string" />
      <xsd:element minOccurs="0" name="ProductName" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="LongDescription" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="Amount" nillable="true" type="ns0:AmountType" />
      <xsd:element minOccurs="0" name="ProductType" nillable="true" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="mklProdAssoc" type="MklProdAssoc" />
</xsd:schema>