servicecloud/outofoffice/cx/projects/Accelerator.OutOfOffice.Client/Service References/RightNowProxyService/soap5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="urn:faults.ws.rightnow.com/v1_2" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:faults.ws.rightnow.com/v1_2" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="RNFault">
    <xs:sequence>
      <xs:element name="exceptionCode" type="ExceptionCode" />
      <xs:element name="exceptionMessage" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RequestErrorFaultType">
    <xs:complexContent mixed="false">
      <xs:extension base="RNFault" />
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RequestErrorFault" type="RequestErrorFaultType" />
  <xs:complexType name="ServerErrorFaultType">
    <xs:complexContent mixed="false">
      <xs:extension base="RNFault" />
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ServerErrorFault" type="ServerErrorFaultType" />
  <xs:complexType name="UnexpectedErrorFaultType">
    <xs:complexContent mixed="false">
      <xs:extension base="RNFault" />
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UnexpectedErrorFault" type="UnexpectedErrorFaultType" />
  <xs:simpleType name="ExceptionCode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ACCESS_DENIED" />
      <xs:enumeration value="INVALID_FIELD" />
      <xs:enumeration value="INVALID_LOGIN" />
      <xs:enumeration value="BAD_ID" />
      <xs:enumeration value="MISSING_ARGUMENT" />
      <xs:enumeration value="QUERY_TIMEOUT" />
      <xs:enumeration value="UNKNOWN_EXCEPTION" />
      <xs:enumeration value="INVALID_REQUEST" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>