salescloud/cx/projects/Accelerator.SalesCloud.Client/Service References/OpportunityProxyService/BC4JService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:sdoXML="commonj.sdo/xml" xmlns:sdoJava="commonj.sdo/java" xmlns:sdo="commonj.sdo" xmlns="http://xmlns.oracle.com/adf/svc/types/" xmlns:errors="http://xmlns.oracle.com/adf/svc/errors/" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/adf/svc/types/" sdoJava:package="oracle.jbo.common.service.types" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="https://slcai761.us.oracle.com:10616/opptyMgmtOpportunities/OpportunityService?XSD=/META-INF/wsdl/ServiceException.xsd" namespace="http://xmlns.oracle.com/adf/svc/errors/" />
  <xsd:import schemaLocation="https://slcai761.us.oracle.com:10616/opptyMgmtOpportunities/OpportunityService?XSD=/xml/sdoModel.xsd" namespace="commonj.sdo" />
  <xsd:import schemaLocation="https://slcai761.us.oracle.com:10616/opptyMgmtOpportunities/OpportunityService?XSD=/xml/sdoJava.xsd" namespace="commonj.sdo/java" />
  <xsd:import schemaLocation="https://slcai761.us.oracle.com:10616/opptyMgmtOpportunities/OpportunityService?XSD=/xml/sdoXML.xsd" namespace="commonj.sdo/xml" />
  <xsd:element name="findCriteria" type="FindCriteria" />
  <xsd:complexType name="FindCriteria">
    <xsd:sequence>
      <xsd:element default="0" name="fetchStart" type="xsd:int" />
      <xsd:element default="-1" name="fetchSize" type="xsd:int" />
      <xsd:element minOccurs="0" name="filter" type="ViewCriteria" />
      <xsd:element minOccurs="0" name="sortOrder" type="SortOrder" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="findAttribute" type="xsd:string" />
      <xsd:element default="false" name="excludeAttribute" type="xsd:boolean" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="childFindCriteria" type="ChildFindCriteria" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ViewCriteria">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="conjunction" type="Conjunction" />
      <xsd:element maxOccurs="unbounded" name="group" type="ViewCriteriaRow" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="nested" type="ViewCriteria" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ViewCriteriaRow">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="conjunction" type="Conjunction" />
      <xsd:element default="false" name="upperCaseCompare" type="xsd:boolean" />
      <xsd:element maxOccurs="unbounded" name="item" type="ViewCriteriaItem" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ViewCriteriaItem">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="conjunction" type="Conjunction" />
      <xsd:element default="false" name="upperCaseCompare" type="xsd:boolean" />
      <xsd:element name="attribute" type="xsd:string" />
      <xsd:element name="operator" type="xsd:string" />
      <xsd:choice>
        <xsd:element minOccurs="0" maxOccurs="unbounded" name="value" type="xsd:anySimpleType" />
        <xsd:element name="nested" type="ViewCriteria" />
      </xsd:choice>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType sdoJava:instanceClass="java.lang.String" name="Conjunction">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="And" />
      <xsd:enumeration value="Or" />
      <xsd:enumeration value="Not" />
      <xsd:enumeration value="AndNot" />
      <xsd:enumeration value="OrNot" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="SortOrder">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="sortAttribute" type="SortAttribute" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SortAttribute">
    <xsd:sequence>
      <xsd:element name="name" type="xsd:string" />
      <xsd:element default="false" name="descending" type="xsd:boolean" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ChildFindCriteria">
    <xsd:complexContent mixed="false">
      <xsd:extension base="FindCriteria">
        <xsd:sequence>
          <xsd:element name="childAttrName" type="xsd:string" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType sdoJava:instanceClass="java.lang.String" name="ChangeOperation">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Create" />
      <xsd:enumeration value="Update" />
      <xsd:enumeration value="Merge" />
      <xsd:enumeration value="Delete" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:element name="findControl" type="FindControl" />
  <xsd:complexType name="FindControl">
    <xsd:sequence>
      <xsd:element default="false" name="retrieveAllTranslations" type="xsd:boolean" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="processControl" type="ProcessControl" />
  <xsd:complexType name="ProcessControl">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="returnMode" type="ReturnMode" />
      <xsd:element minOccurs="0" name="exceptionReturnMode" type="ReturnMode" />
      <xsd:element default="false" name="partialFailureAllowed" type="xsd:boolean" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType sdoJava:instanceClass="java.lang.String" name="ReturnMode">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Full" />
      <xsd:enumeration value="Key" />
      <xsd:enumeration value="None" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType sdoJava:instanceClass="javax.activation.DataHandler" name="base64Binary-DataHandler">
    <xsd:restriction base="xsd:base64Binary" />
  </xsd:simpleType>
  <xsd:simpleType sdoJava:instanceClass="java.sql.Timestamp" name="dateTime-Timestamp">
    <xsd:restriction base="xsd:dateTime" />
  </xsd:simpleType>
  <xsd:simpleType sdoJava:instanceClass="java.sql.Time" name="time-Time">
    <xsd:restriction base="xsd:time" />
  </xsd:simpleType>
  <xsd:simpleType sdoJava:instanceClass="java.sql.Date" name="date-Date">
    <xsd:restriction base="xsd:date" />
  </xsd:simpleType>
  <xsd:complexType name="AmountType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:decimal">
        <xsd:attribute name="currencyCode" type="xsd:normalizedString" use="optional" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="MeasureType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:decimal">
        <xsd:attribute name="unitCode" type="xsd:normalizedString" use="optional" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="MethodResult">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="Message" type="errors:ServiceMessage" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BigDecimalResult">
    <xsd:complexContent mixed="false">
      <xsd:extension base="MethodResult">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="Value" type="xsd:decimal" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="BigIntegerResult">
    <xsd:complexContent mixed="false">
      <xsd:extension base="MethodResult">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="Value" type="xsd:integer" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="BooleanResult">
    <xsd:complexContent mixed="false">
      <xsd:extension base="MethodResult">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="Value" type="xsd:boolean" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ByteResult">
    <xsd:complexContent mixed="false">
      <xsd:extension base="MethodResult">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="Value" type="xsd:byte" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="BytesResult">
    <xsd:complexContent mixed="false">
      <xsd:extension base="MethodResult">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="Value" type="xsd:hexBinary" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="TimestampResult">
    <xsd:complexContent mixed="false">
      <xsd:extension base="MethodResult">
        <xsd:sequence>
          <xsd:element sdoXML:dataType="dateTime-Timestamp" minOccurs="0" maxOccurs="unbounded" name="Value" type="xsd:dateTime" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="TimeResult">
    <xsd:complexContent mixed="false">
      <xsd:extension base="MethodResult">
        <xsd:sequence>
          <xsd:element sdoXML:dataType="time-Time" minOccurs="0" maxOccurs="unbounded" name="Value" type="xsd:time" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="DateResult">
    <xsd:complexContent mixed="false">
      <xsd:extension base="MethodResult">
        <xsd:sequence>
          <xsd:element sdoXML:dataType="date-Date" minOccurs="0" maxOccurs="unbounded" name="Value" type="xsd:date" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="DoubleResult">
    <xsd:complexContent mixed="false">
      <xsd:extension base="MethodResult">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="Value" type="xsd:double" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="FloatResult">
    <xsd:complexContent mixed="false">
      <xsd:extension base="MethodResult">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="Value" type="xsd:float" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="IntegerResult">
    <xsd:complexContent mixed="false">
      <xsd:extension base="MethodResult">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="Value" type="xsd:int" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="LongResult">
    <xsd:complexContent mixed="false">
      <xsd:extension base="MethodResult">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="Value" type="xsd:long" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ShortResult">
    <xsd:complexContent mixed="false">
      <xsd:extension base="MethodResult">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="Value" type="xsd:short" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="StringResult">
    <xsd:complexContent mixed="false">
      <xsd:extension base="MethodResult">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="Value" type="xsd:string" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="DataHandlerResult">
    <xsd:complexContent mixed="false">
      <xsd:extension base="MethodResult">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="Value" type="base64Binary-DataHandler" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="DataObjectResult">
    <xsd:complexContent mixed="false">
      <xsd:extension base="MethodResult">
        <xsd:sequence>
          <xsd:element sdoXML:dataType="sdo:DataObject" minOccurs="0" maxOccurs="unbounded" name="Value" type="xsd:anyType" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ObjAttrHints">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="objHint" type="CtrlHint" />
      <xsd:element maxOccurs="unbounded" name="attrHints" type="AttrCtrlHints" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AttrCtrlHints">
    <xsd:sequence>
      <xsd:element name="attrName" type="xsd:string" />
      <xsd:element maxOccurs="unbounded" name="ctrlHint" type="CtrlHint" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CtrlHint">
    <xsd:sequence>
      <xsd:element name="key" type="xsd:string" />
      <xsd:element name="value" type="xsd:anySimpleType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ServiceViewInfo">
    <xsd:sequence>
      <xsd:element name="name" type="xsd:string" />
      <xsd:element name="typeName" type="xsd:string" />
      <xsd:element minOccurs="0" default="false" name="canCreate" type="xsd:boolean" />
      <xsd:element minOccurs="0" default="false" name="canUpdate" type="xsd:boolean" />
      <xsd:element minOccurs="0" default="false" name="canMerge" type="xsd:boolean" />
      <xsd:element minOccurs="0" default="false" name="canDelete" type="xsd:boolean" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>