salescloud/cx/projects/Accelerator.SalesCloud.Client/Service References/OpportunityProxyService/DeleteError.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://xmlns.oracle.com/apps/scm/productModel/deleteGroups/publicModel/" xmlns:sdoJava="commonj.sdo/java" xmlns:sdoXML="commonj.sdo/xml" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/scm/productModel/deleteGroups/publicModel/" sdoJava:package="oracle.apps.scm.productModel.deleteGroups.publicModel" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="https://slcai761.us.oracle.com:10616/opptyMgmtOpportunities/OpportunityService?XSD=/xml/sdoJava.xsd" namespace="commonj.sdo/java" />
  <xsd:import schemaLocation="https://slcai761.us.oracle.com:10616/opptyMgmtOpportunities/OpportunityService?XSD=/xml/sdoXML.xsd" namespace="commonj.sdo/xml" />
  <xsd:annotation>
    <xsd:documentation xmlns:oer="http://xmlns.oracle.com/oer">
      <name xmlns="http://xmlns.oracle.com/apps/scm/productModel/deleteGroups/publicModel/">Item Deletion External Error</name>
      <description xmlns="http://xmlns.oracle.com/apps/scm/productModel/deleteGroups/publicModel/">A list of errors returned if an external transaction, such as an
                open inventory transaction or an open sales order, includes a
                reference to an item that is marked for deletion.</description>
      <oer:category name="lba" xmlns:oer="http://xmlns.oracle.com/oer">
        <value xmlns="http://xmlns.oracle.com/apps/scm/productModel/deleteGroups/publicModel/">ScmTop-SCM</value>
        <value xmlns="http://xmlns.oracle.com/apps/scm/productModel/deleteGroups/publicModel/">ScmTop-SCM : EgpTop-Product Model</value>
        <value xmlns="http://xmlns.oracle.com/apps/scm/productModel/deleteGroups/publicModel/">ScmTop-SCM : EgpTop-Product Model : EgpDeleteGroups-Item
                    Delete Groups</value>
      </oer:category>
      <oer:category name="lbo" xmlns:oer="http://xmlns.oracle.com/oer">
        <value xmlns="http://xmlns.oracle.com/apps/scm/productModel/deleteGroups/publicModel/">SCM-SCM : EGP-Product Model : EGP_DELETE_GROUP-Item Delete
                    Group</value>
      </oer:category>
      <oer:attributes xmlns:oer="http://xmlns.oracle.com/oer">
        <oer:attribute description="Unique id for the table Delete Entities" name="DeleteEntitySequenceId" />
        <oer:attribute description="A numeric value used to indicate the sequence number for a particular error." name="ErrorSequenceNumber" />
        <oer:attribute description="A value which indicates the type of error ; this could be a functional error or a system error" name="DeleteErrorType" />
        <oer:attribute description="The code of the error message logged against a delete entity" name="ErrorCode" />
        <oer:attribute description="The actual message logged against a delete entity" name="ErrorMessage" />
        <oer:attribute description="A numeric value used to indicate the version of the object" name="ObjectVersionNumber" />
        <oer:attribute description="A legacy attribute used to indicate the program  /application which last updated the database record." name="ProgramName" />
      </oer:attributes>
    </xsd:documentation>
  </xsd:annotation>
  <xsd:complexType name="DeleteError">
    <xsd:annotation>
      <xsd:appinfo source="http://xmlns.oracle.com/adf/svc/metadata/">
        <key xmlns="http://xmlns.oracle.com/adf/svc/metadata/">
          <attribute>DeleteEntitySequenceId</attribute>
          <attribute>ErrorSequenceNumber</attribute>
        </key>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element sdoXML:dataType="sdoJava:LongObject" minOccurs="0" name="DeleteEntitySequenceId" type="xsd:long" />
      <xsd:element sdoXML:dataType="sdoJava:LongObject" minOccurs="0" name="ErrorSequenceNumber" type="xsd:long" />
      <xsd:element minOccurs="0" name="DeleteErrorType" nillable="true" type="xsd:int" />
      <xsd:element minOccurs="0" name="ErrorCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="ErrorMessage" nillable="true" type="xsd:string" />
      <xsd:element sdoXML:dataType="sdoJava:IntObject" minOccurs="0" name="ObjectVersionNumber" type="xsd:int" />
      <xsd:element minOccurs="0" name="ProgramName" nillable="true" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="deleteError" type="DeleteError" />
</xsd:schema>