salescloud/cx/projects/Accelerator.SalesCloud.Client/Service References/OpportunityProxyService/OpportunityResource.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://xmlns.oracle.com/apps/sales/opptyMgmt/opportunities/opportunityService/" xmlns:sdoJava="commonj.sdo/java" xmlns:sdoXML="commonj.sdo/xml" xmlns:ns0="http://xmlns.oracle.com/adf/svc/types/" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/sales/opptyMgmt/opportunities/opportunityService/" sdoJava:package="oracle.apps.sales.opptyMgmt.opportunities.opportunityService" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="https://slcai761.us.oracle.com:10616/opptyMgmtOpportunities/OpportunityService?XSD=/META-INF/wsdl/BC4JService.xsd" namespace="http://xmlns.oracle.com/adf/svc/types/" />
  <xsd:import schemaLocation="https://slcai761.us.oracle.com:10616/opptyMgmtOpportunities/OpportunityService?XSD=/xml/sdoJava.xsd" namespace="commonj.sdo/java" />
  <xsd:import schemaLocation="https://slcai761.us.oracle.com:10616/opptyMgmtOpportunities/OpportunityService?XSD=/xml/sdoXML.xsd" namespace="commonj.sdo/xml" />
  <xsd:annotation>
    <xsd:documentation xmlns:oer="http://xmlns.oracle.com/oer">
      <name xmlns="http://xmlns.oracle.com/apps/sales/opptyMgmt/opportunities/opportunityService/">Opportunity Team Member</name>
      <description xmlns="http://xmlns.oracle.com/apps/sales/opptyMgmt/opportunities/opportunityService/">An employee of the deploying organization who is assisting with
                the sales opportunity.</description>
      <oer:category name="lba" xmlns:oer="http://xmlns.oracle.com/oer">
        <value xmlns="http://xmlns.oracle.com/apps/sales/opptyMgmt/opportunities/opportunityService/">SalesTop-Sales</value>
        <value xmlns="http://xmlns.oracle.com/apps/sales/opptyMgmt/opportunities/opportunityService/">SalesTop-Sales : OpptyMgmtTop-Sales Opportunity Top</value>
        <value xmlns="http://xmlns.oracle.com/apps/sales/opptyMgmt/opportunities/opportunityService/">SalesTop-Sales : OpptyMgmtTop-Sales Opportunity Top :
                    OpptyMgmtOpportunities-Opportunities</value>
      </oer:category>
      <oer:category name="lbo" xmlns:oer="http://xmlns.oracle.com/oer">
        <value xmlns="http://xmlns.oracle.com/apps/sales/opptyMgmt/opportunities/opportunityService/">CRM-CRM : MOO-Opportunity Management :
                    MOO_OPPORTUNITY-Opportunity</value>
      </oer:category>
      <oer:attributes xmlns:oer="http://xmlns.oracle.com/oer">
        <oer:attribute description="Identifier of the opportunity team member." name="OptyResourceId" />
        <oer:attribute description="Opportunity identifier." name="OptyId" />
        <oer:attribute description="Resource party identifier of the opportunity team member." name="ResourceId" />
        <oer:attribute description="Name of the opportunity team member." name="PartyName" />
        <oer:attribute description="Access level determines the type of access granted to the opportunity team member, his manager, and administrator of the organizations in the hierarchy." name="AccessLevelCode" />
        <oer:attribute description="The start date of the deal protection period of an opportunity team member. This date is set for the members of territories that are removed from opportunity because of territory re-alignment." name="DealProtectedDate" />
        <oer:attribute description="The end date of the deal protection period of an opportunity team member. This date is set for members of territories that are removed from the opportunity because of territory re-alignment." name="DealExpirationDate" />
        <oer:attribute description="Indicates whether the resource is under deal protection." name="DealProtected" />
        <oer:attribute description="Tree which depicts the organization hierarchy. Managers/Admins of parent resource organizations of the opportunity team member will gain access through this hierarchy." name="OrgTreeCode" />
        <oer:attribute description="Tree structure of the organization hierarchy. Managers/Admins of parent resource organizations of the opportunity team member will gain access through this hierarchy." name="OrgTreeStructureCode" />
        <oer:attribute description="Resource organization identifier of the opportunity team member." name="ResourceOrgId" />
        <oer:attribute description="The role of the team member on the opportunity, such as 'Integrator','Executive Sponsor','Technical Account Manager', etc." name="MemberFunctionCode" />
        <oer:attribute description="Flag indicating if the opportunity team member is also the owner of the opportunity." name="OwnerFlag" />
        <oer:attribute description="Flag to prevent an opportunity team member from being removed from the team by automatic assignment." name="LockAssignmentFlag" />
        <oer:attribute description="Indicates how the resource got added to opportunity team. Ad-Hoc means resource os either added manually or through rule-based assignment. Territory means resource got added using territory-based assignment." name="AssignmentType" />
        <oer:attribute description="Disconnected Mobile: this value is used to guarantee the uniqueness of the row when duplicates are created in different databases (i.e. mobile databases or the server)." name="ConflictId" />
        <oer:attribute description="Who column: indicates the user who created the row." name="CreatedBy" />
        <oer:attribute description="Who column: indicates the date and time of the creation of the row." name="CreationDate" />
        <oer:attribute description="Who column: indicates the user who last updated the row." name="LastUpdatedBy" />
        <oer:attribute description="Who column: indicates the date and time of the last update of the row." name="LastUpdateDate" />
        <oer:attribute description="Who column: indicates the session login associated to the user who last updated the row." name="LastUpdateLogin" />
        <oer:attribute description="Used to implement optimistic locking. This number is incremented every time that the row is updated. The number is compared at the start and end of a transaction to detect whether another session has updated the row since it was queried." name="ObjectVersionNumber" />
        <oer:attribute description="Disconnected Mobile: indicates the date and time of the last update of the row. This value is different from LAST_UPDATE_DATE if the update originally happened in a different database (i.e. a different mobile database or the server)." name="UserLastUpdateDate" />
        <oer:attribute description="First name of the opportunity team member." name="PersonFirstName" />
        <oer:attribute description="Last name of the opportunity team member." name="PersonLastName" />
        <oer:attribute description="Resource organization of the opportunity team member." name="OrganizationName" />
        <oer:attribute description="Resource organization identifier of the opportunity team member." name="OrganizationId" />
        <oer:attribute description="Version identifier of the territory for the resource that got assigned to the opportunity through territory-based assignment." name="AsgnTerritoryVersionId" />
        <oer:attribute description="Name of the territory of the opportunity team member." name="TerritoryName" />
        <oer:attribute description="E-mail address of the opportunity team member." name="EmailAddress" />
        <oer:attribute description="Formatted phone number for the opportunity team member." name="FormattedPhoneNumber" />
        <oer:attribute description="Party identifier of the partner organization that the partner resource belongs to." name="PartnerOrgId" />
        <oer:attribute description="Name of the partner organization that the partner resource belongs to." name="PartnerPartyName" />
        <oer:attribute description="Role of the opportunity team member in the resource organization." name="RoleName" />
        <oer:attribute description="Resource identifier of the opportunity team member's manager." name="MgrResourceId" />
        <oer:attribute description="In audit trail, this is the label displaying the association between an opportunity and a resource (typically an opportunity sales team member)." name="OptyResourceNumber" />
      </oer:attributes>
    </xsd:documentation>
  </xsd:annotation>
  <xsd:complexType name="OpportunityResource">
    <xsd:annotation>
      <xsd:appinfo source="http://xmlns.oracle.com/adf/svc/metadata/">
        <key xmlns="http://xmlns.oracle.com/adf/svc/metadata/">
          <attribute>OptyResourceId</attribute>
        </key>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element sdoXML:dataType="sdoJava:LongObject" minOccurs="0" name="OptyResourceId" type="xsd:long" />
      <xsd:element sdoXML:dataType="sdoJava:LongObject" minOccurs="0" name="OptyId" type="xsd:long" />
      <xsd:element sdoXML:dataType="sdoJava:LongObject" minOccurs="0" name="ResourceId" type="xsd:long" />
      <xsd:element minOccurs="0" name="PartyName" type="xsd:string" />
      <xsd:element minOccurs="0" name="AccessLevelCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="DealProtectedDate" nillable="true" type="ns0:date-Date" />
      <xsd:element minOccurs="0" name="DealExpirationDate" nillable="true" type="ns0:date-Date" />
      <xsd:element minOccurs="0" name="DealProtected" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="OrgTreeCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="OrgTreeStructureCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="ResourceOrgId" nillable="true" type="xsd:long" />
      <xsd:element minOccurs="0" name="MemberFunctionCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="OwnerFlag" nillable="true" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="LockAssignmentFlag" nillable="true" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="AssignmentType" nillable="true" type="xsd:string" />
      <xsd:element sdoXML:dataType="sdoJava:LongObject" minOccurs="0" name="ConflictId" type="xsd:long" />
      <xsd:element minOccurs="0" name="CreatedBy" type="xsd:string" />
      <xsd:element minOccurs="0" name="CreationDate" type="ns0:dateTime-Timestamp" />
      <xsd:element minOccurs="0" name="LastUpdatedBy" type="xsd:string" />
      <xsd:element minOccurs="0" name="LastUpdateDate" type="ns0:dateTime-Timestamp" />
      <xsd:element minOccurs="0" name="LastUpdateLogin" nillable="true" type="xsd:string" />
      <xsd:element sdoXML:dataType="sdoJava:IntObject" minOccurs="0" name="ObjectVersionNumber" type="xsd:int" />
      <xsd:element minOccurs="0" name="UserLastUpdateDate" nillable="true" type="ns0:dateTime-Timestamp" />
      <xsd:element minOccurs="0" name="PersonFirstName" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="PersonLastName" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="OrganizationName" type="xsd:string" />
      <xsd:element sdoXML:dataType="sdoJava:LongObject" minOccurs="0" name="OrganizationId" type="xsd:long" />
      <xsd:element minOccurs="0" name="AsgnTerritoryVersionId" nillable="true" type="xsd:long" />
      <xsd:element minOccurs="0" name="TerritoryName" type="xsd:string" />
      <xsd:element minOccurs="0" name="EmailAddress" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="FormattedPhoneNumber" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="PartnerOrgId" nillable="true" type="xsd:long" />
      <xsd:element minOccurs="0" name="PartnerPartyName" type="xsd:string" />
      <xsd:element minOccurs="0" name="RoleName" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="MgrResourceId" nillable="true" type="xsd:long" />
      <xsd:element minOccurs="0" name="OptyResourceNumber" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="opportunityResource" type="OpportunityResource" />
</xsd:schema>