salescloud/cx/projects/Accelerator.SalesCloud.Client/Service References/OpportunityProxyService/OpportunityCompetitor.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://xmlns.oracle.com/apps/sales/opptyMgmt/opportunities/opportunityService/" xmlns:sdoJava="commonj.sdo/java" xmlns:sdoXML="commonj.sdo/xml" xmlns:ns0="http://xmlns.oracle.com/adf/svc/types/" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/sales/opptyMgmt/opportunities/opportunityService/" sdoJava:package="oracle.apps.sales.opptyMgmt.opportunities.opportunityService" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="https://slcai761.us.oracle.com:10616/opptyMgmtOpportunities/OpportunityService?XSD=/META-INF/wsdl/BC4JService.xsd" namespace="http://xmlns.oracle.com/adf/svc/types/" />
  <xsd:import schemaLocation="https://slcai761.us.oracle.com:10616/opptyMgmtOpportunities/OpportunityService?XSD=/xml/sdoJava.xsd" namespace="commonj.sdo/java" />
  <xsd:import schemaLocation="https://slcai761.us.oracle.com:10616/opptyMgmtOpportunities/OpportunityService?XSD=/xml/sdoXML.xsd" namespace="commonj.sdo/xml" />
  <xsd:annotation>
    <xsd:documentation xmlns:oer="http://xmlns.oracle.com/oer">
      <name xmlns="http://xmlns.oracle.com/apps/sales/opptyMgmt/opportunities/opportunityService/">Opportunity Competitor</name>
      <description xmlns="http://xmlns.oracle.com/apps/sales/opptyMgmt/opportunities/opportunityService/">An organization that competes with the deploying organization in the sales opportunity.</description>
      <oer:category name="lba" xmlns:oer="http://xmlns.oracle.com/oer">
        <value xmlns="http://xmlns.oracle.com/apps/sales/opptyMgmt/opportunities/opportunityService/">SalesTop-Sales</value>
        <value xmlns="http://xmlns.oracle.com/apps/sales/opptyMgmt/opportunities/opportunityService/">SalesTop-Sales : OpptyMgmtTop-Sales Opportunity Top</value>
        <value xmlns="http://xmlns.oracle.com/apps/sales/opptyMgmt/opportunities/opportunityService/">SalesTop-Sales : OpptyMgmtTop-Sales Opportunity Top : OpptyMgmtOpportunities-Opportunities</value>
      </oer:category>
      <oer:category name="lbo" xmlns:oer="http://xmlns.oracle.com/oer">
        <value xmlns="http://xmlns.oracle.com/apps/sales/opptyMgmt/opportunities/opportunityService/">CRM-CRM : MOO-Opportunity Management : MOO_OPPORTUNITY-Opportunity</value>
      </oer:category>
      <oer:attributes xmlns:oer="http://xmlns.oracle.com/oer">
        <oer:attribute description="Name of this party" name="PartyName" />
        <oer:attribute description="Threat level code. Out of the box values are Low, Medium and High. This field would refer to ZBS lookup type for Competitor Threat Level." name="ThreatLevelCode" />
        <oer:attribute description="Comments about Opportunity Competitor" name="Comments" />
        <oer:attribute description="System generated Identifier for Competitors of Opportunity." name="OptyCompetitorId" />
        <oer:attribute description="Opportunity Id" name="OptyId" />
        <oer:attribute description="Party ID with competitor party usage." name="CmptPartyId" />
        <oer:attribute description="Indicates the competitor company's annual revenue" name="AnnualRevenueAmount" />
        <oer:attribute description="Used to implement optimistic locking. This number is incremented every time that the row is updated. The number is compared at the start and end of a transaction to detect whether another session has updated the row since it was queried." name="ObjectVersionNumber" />
        <oer:attribute description="Flag identifying the primary competitor for the opportunity." name="PrimaryFlg" />
        <oer:attribute description="Opportunity Name" name="Name" />
        <oer:attribute description="Used to implement optimistic locking. This number is incremented every time that the row is updated. The number is compared at the start and end of a transaction to detect whether another session has updated the row since it was queried." name="ObjectVersionNumber1" />
        <oer:attribute description="Revenue amount." name="RevnAmount" />
        <oer:attribute description="Used to implement optimistic locking. This number is incremented every time that the row is updated. The number is compared at the start and end of a transaction to detect whether another session has updated the row since it was queried." name="ObjectVersionNumber2" />
        <oer:attribute description="The currency the amount on this revenue line is based on." name="RevnAmountCurcyCode" />
        <oer:attribute description="Name of this party" name="PartyName1" />
        <oer:attribute description="Name of Primary Contact" name="PrimaryContactPartyName" />
        <oer:attribute description="Opportunity Name" name="Name1" />
        <oer:attribute description="Opportunity Current Sales Stage Identifier" name="StgId" />
        <oer:attribute description="Win probability percent." name="WinProb" />
        <oer:attribute description="Estimated close date for this opportunity" name="EffectiveDate" />
        <oer:attribute description="This is the derived column. For Organization, it is concatenation of unique_name_alias and suffix. For Person, this is concatenation of person_name and suffix." name="PartyUniqueName" />
        <oer:attribute description="Unique name of the opportunity competitor" name="PartyUniqueName1" />
        <oer:attribute description="Who column: indicates the user who created the row." name="CreatedBy" />
        <oer:attribute description="Who column: indicates the date and time of the creation of the row." name="CreationDate" />
        <oer:attribute description="Who column: indicates the date and time of the last update of the row." name="LastUpdateDate" />
        <oer:attribute description="Who column: indicates the session login associated to the user who last updated the row." name="LastUpdateLogin" />
        <oer:attribute description="Who column: indicates the user who last updated the row." name="LastUpdatedBy" />
        <oer:attribute description="Identifier of the opportunity sales account." name="SalesAccountId" />
        <oer:attribute description="Name of the sales account." name="SalesAccountUniqueName" />
      </oer:attributes>
    </xsd:documentation>
  </xsd:annotation>
  <xsd:complexType name="OpportunityCompetitor">
    <xsd:annotation>
      <xsd:appinfo source="http://xmlns.oracle.com/adf/svc/metadata/">
        <key xmlns="http://xmlns.oracle.com/adf/svc/metadata/">
          <attribute>OptyCompetitorId</attribute>
        </key>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="PartyName" type="xsd:string" />
      <xsd:element minOccurs="0" name="ThreatLevelCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="Comments" nillable="true" type="xsd:string" />
      <xsd:element sdoXML:dataType="sdoJava:LongObject" minOccurs="0" name="OptyCompetitorId" type="xsd:long" />
      <xsd:element sdoXML:dataType="sdoJava:LongObject" minOccurs="0" name="OptyId" type="xsd:long" />
      <xsd:element sdoXML:dataType="sdoJava:LongObject" minOccurs="0" name="CmptPartyId" type="xsd:long" />
      <xsd:element minOccurs="0" name="AnnualRevenueAmount" nillable="true" type="ns0:AmountType" />
      <xsd:element sdoXML:dataType="sdoJava:IntObject" minOccurs="0" name="ObjectVersionNumber" type="xsd:int" />
      <xsd:element minOccurs="0" name="PrimaryFlg" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="Name" type="xsd:string" />
      <xsd:element sdoXML:dataType="sdoJava:IntObject" minOccurs="0" name="ObjectVersionNumber1" type="xsd:int" />
      <xsd:element minOccurs="0" name="RevnAmount" nillable="true" type="ns0:AmountType" />
      <xsd:element sdoXML:dataType="sdoJava:IntObject" minOccurs="0" name="ObjectVersionNumber2" type="xsd:int" />
      <xsd:element minOccurs="0" name="RevnAmountCurcyCode" type="xsd:string" />
      <xsd:element minOccurs="0" name="PartyName1" type="xsd:string" />
      <xsd:element minOccurs="0" name="PrimaryContactPartyName" type="xsd:string" />
      <xsd:element minOccurs="0" name="Name1" type="xsd:string" />
      <xsd:element sdoXML:dataType="sdoJava:LongObject" minOccurs="0" name="StgId" type="xsd:long" />
      <xsd:element minOccurs="0" name="WinProb" nillable="true" type="xsd:decimal" />
      <xsd:element minOccurs="0" name="EffectiveDate" nillable="true" type="ns0:date-Date" />
      <xsd:element minOccurs="0" name="PartyUniqueName" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="PartyUniqueName1" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="SalesAccountId" nillable="true" type="xsd:long" />
      <xsd:element minOccurs="0" name="SalesAccountUniqueName" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="CreatedBy" type="xsd:string" />
      <xsd:element minOccurs="0" name="CreationDate" type="ns0:dateTime-Timestamp" />
      <xsd:element minOccurs="0" name="LastUpdateDate" type="ns0:dateTime-Timestamp" />
      <xsd:element minOccurs="0" name="LastUpdateLogin" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="LastUpdatedBy" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="opportunityCompetitor" type="OpportunityCompetitor" />
</xsd:schema>