salescloud/cx/projects/Accelerator.SalesCloud.Client/Service References/OpportunityProxyService/RecurringRevenue.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://xmlns.oracle.com/apps/sales/opptyMgmt/revenues/revenueService/" xmlns:sdoJava="commonj.sdo/java" xmlns:sdoXML="commonj.sdo/xml" xmlns:ns0="http://xmlns.oracle.com/adf/svc/types/" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/sales/opptyMgmt/revenues/revenueService/" sdoJava:package="oracle.apps.sales.opptyMgmt.revenues.revenueService" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="https://slcai761.us.oracle.com:10616/opptyMgmtOpportunities/OpportunityService?XSD=/META-INF/wsdl/BC4JService.xsd" namespace="http://xmlns.oracle.com/adf/svc/types/" />
  <xsd:import schemaLocation="https://slcai761.us.oracle.com:10616/opptyMgmtOpportunities/OpportunityService?XSD=/xml/sdoJava.xsd" namespace="commonj.sdo/java" />
  <xsd:import schemaLocation="https://slcai761.us.oracle.com:10616/opptyMgmtOpportunities/OpportunityService?XSD=/xml/sdoXML.xsd" namespace="commonj.sdo/xml" />
  <xsd:include schemaLocation="https://slcai761.us.oracle.com:10616/opptyMgmtOpportunities/OpportunityService?XSD=/oracle/apps/sales/opptyMgmt/revenues/revenueService/SplitRevenue.xsd" />
  <xsd:annotation>
    <xsd:documentation xmlns:oer="http://xmlns.oracle.com/oer">
      <name xmlns="http://xmlns.oracle.com/apps/sales/opptyMgmt/revenues/revenueService/">Opportunity Recurring Revenue</name>
      <description xmlns="http://xmlns.oracle.com/apps/sales/opptyMgmt/revenues/revenueService/">The revenues than span over a period of time sourced from the
                same product on an opportunity.</description>
      <oer:category name="lba" xmlns:oer="http://xmlns.oracle.com/oer">
        <value xmlns="http://xmlns.oracle.com/apps/sales/opptyMgmt/revenues/revenueService/">SalesTop-Sales</value>
        <value xmlns="http://xmlns.oracle.com/apps/sales/opptyMgmt/revenues/revenueService/">SalesTop-Sales : OpptyMgmtTop-Sales Opportunity Top</value>
        <value xmlns="http://xmlns.oracle.com/apps/sales/opptyMgmt/revenues/revenueService/">SalesTop-Sales : OpptyMgmtTop-Sales Opportunity Top :
                    OpptyMgmtOpportunities-Opportunities</value>
      </oer:category>
      <oer:attributes xmlns:oer="http://xmlns.oracle.com/oer">
        <oer:attribute description="Revenue identifier." name="RevnId" />
        <oer:attribute description="Party identifier of the opportunity sales account." name="TargetPartyId" />
        <oer:attribute description="Business Unit ID" name="BUOrgId" />
        <oer:attribute description="Customer account ID" name="CustomerAccountId" />
        <oer:attribute description="Indicates if this revenue line should be used for forecasting." name="CommitFlag" />
        <oer:attribute description="Comments for Revenue Line" name="Comments" />
        <oer:attribute description="Identifier for revenue owner, inherited from the parent record." name="ResourcePartyId" />
        <oer:attribute description="Cost amount" name="CostAmount" />
        <oer:attribute description="Worst case amount" name="DownsideAmount" />
        <oer:attribute description="Identifer for resource organization of the revenue owner." name="OwnerResourceOrgId" />
        <oer:attribute description="Expected revenue amount." name="ExpectAmount" />
        <oer:attribute description="Estimated close date for this revenue - defaulted from opportunity's close date" name="EffectiveDate" />
        <oer:attribute description="Opportunity ID" name="OptyId" />
        <oer:attribute description="Margin amount." name="MarginAmount" />
        <oer:attribute description="Product inventory item ID" name="InventoryItemId" />
        <oer:attribute description="Unit price for product." name="UnitPrice" />
        <oer:attribute description="Product quantity." name="Quantity" />
        <oer:attribute description="Product inventory organization ID" name="InventoryOrgId" />
        <oer:attribute description="The currency the amount on this revenue line is based on." name="RevnAmountCurcyCode" />
        <oer:attribute description="Revenue amount." name="RevnAmount" />
        <oer:attribute description="Best case amount." name="UpsideAmount" />
        <oer:attribute description="Indicates revenue type for this revenue." name="TypeCode" />
        <oer:attribute description="Set id for the revenue type of this opportunity" name="TypeCodeSetId" />
        <oer:attribute description="Indicates whether the revenue record is a summary revenue line." name="PrimaryFlag" />
        <oer:attribute description="Win probability percent." name="WinProb" />
        <oer:attribute description="Expected delivery date. This column is used by Opportunity products only." name="ExpectDlvryDate" />
        <oer:attribute description="Unit of measure code for product." name="UOMCode" />
        <oer:attribute description="Who column: indicates the date and time of the creation of the row." name="CreationDate" />
        <oer:attribute description="Who column: indicates the user who created the row." name="CreatedBy" />
        <oer:attribute description="Who column: indicates the user who last updated the row." name="LastUpdatedBy" />
        <oer:attribute description="Disconnected Mobile: this value is used to guarantee the uniqueness of the row when duplicates are created in different databases (i.e. mobile databases or the server)." name="ConflictId" />
        <oer:attribute description="Who column: indicates the session login associated to the user who last updated the row." name="LastUpdateLogin" />
        <oer:attribute description="Who column: indicates the date and time of the last update of the row." name="LastUpdateDate" />
        <oer:attribute description="Disconnected Mobile: indicates the date and time of the last update of the row. This value is different from LAST_UPDATE_DATE if the update originally happened in a different database (i.e. a different mobile database or the server)." name="UserLastUpdateDate" />
        <oer:attribute description="Used to implement optimistic locking. This number is incremented every time that the row is updated. The number is compared at the start and end of a transaction to detect whether another session has updated the row since it was queried." name="ObjectVersionNumber" />
        <oer:attribute description="The product group id" name="ProdGroupId" />
        <oer:attribute description="User editable revenue number. Defaulted from REVN_ID. Needs to be unique, cannot be NULL." name="RevnNumber" />
        <oer:attribute description="The frequency for the receurrence" name="RecurFrequencyCode" />
        <oer:attribute description="The recurrence end date" name="RecurEndDate" />
        <oer:attribute description="Indicates the parent revenue id for the recurrence" name="RecurParentRevnId" />
        <oer:attribute description="The number of periods for creating the recurrence" name="RecurNumberPeriods" />
        <oer:attribute description="The revenue amount for the recurrence" name="RecurRevnAmount" />
        <oer:attribute description="The recurrence quantity" name="RecurQuantity" />
        <oer:attribute description="The recurring type code" name="RecurTypeCode" />
        <oer:attribute description="The recurrence start date" name="RecurStartDate" />
        <oer:attribute description="Primary competitor party id." name="PrCmptPartyId" />
        <oer:attribute description="Quota or Non-quota sales credit type" name="SalesCreditTypeCode" />
        <oer:attribute description="Split parent revenue id." name="SplitParentRevnId" />
        <oer:attribute description="Split percent." name="SplitPercent" />
        <oer:attribute description="Split type code." name="SplitTypeCode" />
        <oer:attribute description="Revenue status code." name="StatusCode" />
        <oer:attribute description="Set id for the status of this revenue" name="StatusCodeSetId" />
        <oer:attribute description="This rate is used for the conversion of the revenue amount to the opportunity summary currency, if the currency of the revenue line is different from that of the opportunity.This is the amount that one currency can be exchanged for, at a specific point of time." name="ConversionRate" />
        <oer:attribute description="This rate type is used for the conversion of the revenue amount to the opportunity summary currency, if the currency of the revenue line is different from that of the opportunity. This is usually spot, user defined or corporate." name="ConversionRateType" />
        <oer:attribute description="Forecast Override Code - values ALWAYS, NEVER, or CRITERIA." name="ForecastOverrideCode" />
        <oer:attribute description="Identifier of the opportunity sales account." name="SalesAccountId" />
        <oer:attribute description="An additional Text field on the revenue object to store any custom text" name="AdditionalText1" />
        <oer:attribute description="An additional Text field on the revenue object to store any custom text" name="AdditionalText2" />
        <oer:attribute description="An additional numeric field on the revenue object to store any custom numeric value." name="AdditionalNumber" />
        <oer:attribute description="An additional currency enabled field on the revenue object to store any custom numeric value." name="AdditionalAmount" />
        <oer:attribute description="The revenue or nonrevenue credit amount allocated to the resource who has contributed to the selling effort for an opportunity revenue line." name="SplitRevenue" />
      </oer:attributes>
    </xsd:documentation>
  </xsd:annotation>
  <xsd:complexType name="RecurringRevenue">
    <xsd:annotation>
      <xsd:appinfo source="http://xmlns.oracle.com/adf/svc/metadata/">
        <key xmlns="http://xmlns.oracle.com/adf/svc/metadata/">
          <attribute>RevnId</attribute>
        </key>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element sdoXML:dataType="sdoJava:LongObject" minOccurs="0" name="RevnId" type="xsd:long" />
      <xsd:element minOccurs="0" name="TargetPartyId" nillable="true" type="xsd:long" />
      <xsd:element minOccurs="0" name="BUOrgId" nillable="true" type="xsd:long" />
      <xsd:element minOccurs="0" name="CustomerAccountId" nillable="true" type="xsd:long" />
      <xsd:element minOccurs="0" name="CommitFlag" nillable="true" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="Comments" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="ResourcePartyId" nillable="true" type="xsd:long" />
      <xsd:element minOccurs="0" name="CostAmount" nillable="true" type="ns0:AmountType" />
      <xsd:element minOccurs="0" name="DownsideAmount" nillable="true" type="ns0:AmountType" />
      <xsd:element minOccurs="0" name="OwnerResourceOrgId" nillable="true" type="xsd:long" />
      <xsd:element minOccurs="0" name="ExpectAmount" nillable="true" type="ns0:AmountType" />
      <xsd:element minOccurs="0" name="EffectiveDate" nillable="true" type="ns0:date-Date" />
      <xsd:element minOccurs="0" name="OptyId" nillable="true" type="xsd:long" />
      <xsd:element minOccurs="0" name="MarginAmount" nillable="true" type="ns0:AmountType" />
      <xsd:element minOccurs="0" name="InventoryItemId" nillable="true" type="xsd:long" />
      <xsd:element minOccurs="0" name="UnitPrice" nillable="true" type="ns0:AmountType" />
      <xsd:element minOccurs="0" name="Quantity" nillable="true" type="ns0:MeasureType" />
      <xsd:element minOccurs="0" name="InventoryOrgId" nillable="true" type="xsd:long" />
      <xsd:element minOccurs="0" name="RevnAmountCurcyCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="RevnAmount" nillable="true" type="ns0:AmountType" />
      <xsd:element minOccurs="0" name="UpsideAmount" nillable="true" type="ns0:AmountType" />
      <xsd:element minOccurs="0" name="TypeCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="TypeCodeSetId" nillable="true" type="xsd:long" />
      <xsd:element minOccurs="0" name="PrimaryFlag" nillable="true" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="WinProb" nillable="true" type="xsd:decimal" />
      <xsd:element minOccurs="0" name="ExpectDlvryDate" nillable="true" type="ns0:date-Date" />
      <xsd:element minOccurs="0" name="UOMCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="CreationDate" type="ns0:dateTime-Timestamp" />
      <xsd:element minOccurs="0" name="CreatedBy" type="xsd:string" />
      <xsd:element minOccurs="0" name="LastUpdatedBy" type="xsd:string" />
      <xsd:element sdoXML:dataType="sdoJava:LongObject" minOccurs="0" name="ConflictId" type="xsd:long" />
      <xsd:element minOccurs="0" name="LastUpdateLogin" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="LastUpdateDate" type="ns0:dateTime-Timestamp" />
      <xsd:element minOccurs="0" name="UserLastUpdateDate" nillable="true" type="ns0:dateTime-Timestamp" />
      <xsd:element sdoXML:dataType="sdoJava:IntObject" minOccurs="0" name="ObjectVersionNumber" type="xsd:int" />
      <xsd:element minOccurs="0" name="ProdGroupId" nillable="true" type="xsd:long" />
      <xsd:element minOccurs="0" name="RevnNumber" type="xsd:string" />
      <xsd:element minOccurs="0" name="RecurFrequencyCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="RecurEndDate" nillable="true" type="ns0:date-Date" />
      <xsd:element minOccurs="0" name="RecurParentRevnId" nillable="true" type="xsd:long" />
      <xsd:element minOccurs="0" name="RecurNumberPeriods" nillable="true" type="xsd:int" />
      <xsd:element minOccurs="0" name="RecurRevnAmount" nillable="true" type="ns0:AmountType" />
      <xsd:element minOccurs="0" name="RecurQuantity" nillable="true" type="ns0:MeasureType" />
      <xsd:element minOccurs="0" name="RecurTypeCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="RecurStartDate" nillable="true" type="ns0:date-Date" />
      <xsd:element minOccurs="0" name="PrCmptPartyId" nillable="true" type="xsd:long" />
      <xsd:element minOccurs="0" name="SalesCreditTypeCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="SplitParentRevnId" nillable="true" type="xsd:long" />
      <xsd:element minOccurs="0" name="SplitPercent" nillable="true" type="xsd:decimal" />
      <xsd:element minOccurs="0" name="SplitTypeCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="StatusCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="StatusCodeSetId" nillable="true" type="xsd:long" />
      <xsd:element minOccurs="0" name="ConversionRate" nillable="true" type="xsd:decimal" />
      <xsd:element minOccurs="0" name="ConversionRateType" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="ForecastOverrideCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="SalesAccountId" nillable="true" type="xsd:long" />
      <xsd:element minOccurs="0" name="AdditionalText1" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="AdditionalText2" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="AdditionalNumber" nillable="true" type="xsd:decimal" />
      <xsd:element minOccurs="0" name="AdditionalAmount" nillable="true" type="ns0:AmountType" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="SplitRevenue" type="SplitRevenue" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="recurringRevenue" type="RecurringRevenue" />
</xsd:schema>