salescloud/cx/projects/Accelerator.SalesCloud.Client/Service References/OpportunityProxyService/Revenue.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://xmlns.oracle.com/apps/sales/opptyMgmt/revenues/revenueService/" xmlns:sdoJava="commonj.sdo/java" xmlns:sdoXML="commonj.sdo/xml" xmlns:ns0="http://xmlns.oracle.com/adf/svc/types/" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/sales/opptyMgmt/revenues/revenueService/" sdoJava:package="oracle.apps.sales.opptyMgmt.revenues.revenueService" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="https://slcai761.us.oracle.com:10616/opptyMgmtOpportunities/OpportunityService?XSD=/META-INF/wsdl/BC4JService.xsd" namespace="http://xmlns.oracle.com/adf/svc/types/" />
  <xsd:import schemaLocation="https://slcai761.us.oracle.com:10616/opptyMgmtOpportunities/OpportunityService?XSD=/xml/sdoJava.xsd" namespace="commonj.sdo/java" />
  <xsd:import schemaLocation="https://slcai761.us.oracle.com:10616/opptyMgmtOpportunities/OpportunityService?XSD=/xml/sdoXML.xsd" namespace="commonj.sdo/xml" />
  <xsd:include schemaLocation="https://slcai761.us.oracle.com:10616/opptyMgmtOpportunities/OpportunityService?XSD=/oracle/apps/sales/opptyMgmt/revenues/revenueService/RecurringRevenue.xsd" />
  <xsd:include schemaLocation="https://slcai761.us.oracle.com:10616/opptyMgmtOpportunities/OpportunityService?XSD=/oracle/apps/sales/opptyMgmt/revenues/revenueService/SplitRevenue.xsd" />
  <xsd:include schemaLocation="https://slcai761.us.oracle.com:10616/opptyMgmtOpportunities/OpportunityService?XSD=/oracle/apps/sales/opptyMgmt/revenues/revenueService/RevenueTerritory.xsd" />
  <xsd:annotation>
    <xsd:documentation xmlns:oer="http://xmlns.oracle.com/oer">
      <name xmlns="http://xmlns.oracle.com/apps/sales/opptyMgmt/revenues/revenueService/">Opportunity Revenue</name>
      <description xmlns="http://xmlns.oracle.com/apps/sales/opptyMgmt/revenues/revenueService/">A revenue line associated with the opportunity representing the projected revenue expected from selling a product.</description>
      <oer:attributes xmlns:oer="http://xmlns.oracle.com/oer">
        <oer:attribute description="Revenue identifier." name="RevnId" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Party identifier of the opportunity sales account." name="TargetPartyId" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Customer account ID" name="CustomerAccountId" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Business Unit ID" name="BUOrgId" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Comments for Revenue Line" name="Comments" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Indicates if this revenue line should be used for forecasting." name="CommitFlag" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Cost amount" name="CostAmount" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Identifier for revenue owner" name="ResourcePartyId" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Identifier for resource organization of the revenue owner" name="OwnerResourceOrgId" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Worst case amount" name="DownsideAmount" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Expected revenue amount." name="ExpectAmount" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Margin amount." name="MarginAmount" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Opportunity ID" name="OptyId" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Unit price for product." name="UnitPrice" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Product inventory item ID" name="InventoryItemId" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Product inventory organization ID" name="InventoryOrgId" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Product quantity." name="Quantity" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Revenue amount." name="RevnAmount" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="The currency the amount on this revenue line is based on." name="RevnAmountCurcyCode" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Indicates revenue type for this revenue." name="TypeCode" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Set id for the revenue type of this opportunity" name="TypeCodeSetId" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Best case amount." name="UpsideAmount" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Win probability percent." name="WinProb" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Unit of measure code for product." name="UOMCode" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Expected delivery date. This column is used by Opportunity products only." name="ExpectDlvryDate" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Who column: indicates the user who created the row." name="CreatedBy" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Who column: indicates the date and time of the creation of the row." name="CreationDate" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Disconnected Mobile: this value is used to guarantee the uniqueness of the row when duplicates are created in different databases (i.e. mobile databases or the server)." name="ConflictId" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Who column: indicates the user who last updated the row." name="LastUpdatedBy" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Who column: indicates the date and time of the last update of the row." name="LastUpdateDate" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Who column: indicates the session login associated to the user who last updated the row." name="LastUpdateLogin" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Used to implement optimistic locking. This number is incremented every time that the row is updated. The number is compared at the start and end of a transaction to detect whether another session has updated the row since it was queried." name="ObjectVersionNumber" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Disconnected Mobile: indicates the date and time of the last update of the row. This value is different from LAST_UPDATE_DATE if the update originally happened in a different database (i.e. a different mobile database or the server)." name="UserLastUpdateDate" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Name of this party" name="PartyName" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Name of the product associated with the revenue" name="Description" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Indicates whether the revenue record is a summary revenue" name="PrimaryFlag" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Opportunity Name" name="Name" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="User editable revenue number. Defaulted from REVN_ID. Needs to be unique, cannot be NULL." name="RevnNumber" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="The product group id" name="ProdGroupId" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Name of the product group associated with the revenue" name="ProdGroupName" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="The frequency for the receurrence" name="RecurFrequencyCode" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="The recurrence end date" name="RecurEndDate" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Indicates the parent revenue id for the recurrence" name="RecurParentRevnId" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="The number of periods for creating the recurrence" name="RecurNumberPeriods" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="The recurrence quantity" name="RecurQuantity" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="The unit price for the recurrence" name="RecurUnitPrice" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="The revenue amount for the recurrence" name="RecurRevnAmount" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="The recurring type code" name="RecurTypeCode" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="The recurrence start date" name="RecurStartDate" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Quota or Non-quota sales credit type" name="SalesCreditTypeCode" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Split parent revenue id." name="SplitParentRevnId" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Split percentage" name="SplitPercent" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Indicates whether the split is revenue or non-revenue." name="SplitTypeCode" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Revenue status code." name="StatusCode" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Set id for the status of this revenue" name="StatusCodeSetId" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Estimated close date for this revenue - defaulted from opportunity's close date" name="EffectiveDate" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Win/loss reason for this revenue item" name="CloseReasonCode" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Set id for the Win/Loss reason of this revenue." name="CloseReasonCodeSetId" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Primary competitor party id." name="PrCmptPartyId" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Name of this party" name="PartyName1" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Flag indicating if a date is specified or a number of periods is specified to end the recurrence." name="RecurPeriodOrEndDateCode" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="This is the date when the revenue line was closed." name="ActualCloseDate" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="entity name used to retrieve attachment associated with the product" name="AttachmentEntityName" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Name of this party" name="PartyName2" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Primary territory for this revenue item" name="PrTerritoryVersionId" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="This rate is used for the conversion of the revenue amount to the opportunity summary currency, if the currency of the revenue line is different from that of the opportunity.This is the amount that one currency can be exchanged for, at a specific point of time." name="ConversionRate" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="This rate type is used for the conversion of the revenue amount to the opportunity summary currency, if the currency of the revenue line is different from that of the opportunity. This is usually spot, user defined or corporate." name="ConversionRateType" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="owner deal expiration date" name="OwnerDealExpirationDate" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="owner deal protected date" name="OwnerDealProtectedDate" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Indicates whether the revenue owner assignment should be locked" name="OwnerLockAsgnFlag" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Name of the territory" name="Name1" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Forecast Override Code - values ALWAYS, NEVER, or CRITERIA." name="ForecastOverrideCode" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Item Number of the product associated with the revenue" name="ItemNumber" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Opportunity Number. This is a public surrogate key." name="OptyNumber" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="The type of product on the revenue line (item or product group)" name="ProductType" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="The non quota split allocation type code. Values supported are Adhoc amount or Proportional to Revenue." name="NqSplitAllocTypeCode" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="The downside amount for the recurrence" name="RecurDownsideAmount" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="The upside amount for the recurrence" name="RecurUpsideAmount" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="CRM common currency code." name="CrmCurcyCode" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="This rate type is used for the conversion of the revenue amount to the crm common currency for Revenue Forecast Metrics. if the currency of the revenue line is different. This is usually spot, user defined or corporate." name="CrmConversionRateType" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="This rate is used for the conversion of the revenue amount to the crm common currency for the Revenue Forecast Metrics, if the currency of the revenue line is different.This is the amount that one currency can be exchanged for, at a specific point of time." name="CrmConversionRate" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Owner organization tree code." name="OwnerOrgTreeCode" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Owner organization tree structure code." name="OwnerOrgTreeStructCode" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="functional creation date for the revenue item" name="RevnCreationDate" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Revenue category used in Revenue Line Set functionality." name="RevnCategoryCode" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Identifier for lead associated with opportunity." name="OptyLeadId" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Sales Channel Code" name="SalesChannelCd" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Primary Revenue Partner Organization Party" name="PrPartOrgPartyId" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Partner Engagement Type" name="PartEngagementTypeCd" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Credit Recipient Partner Organization Party" name="CreditRcptPartOrgPartyId" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Identifier of the partner organization associated to the revenue." name="PartOrgPartyId" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Name of the partner organization associated to the revenue." name="PartOrgPartyName" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="The Parent revenue line id. Used for Lineset functionality" name="ParentRevnId" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="This denotes the type of revenue line like Opportunity Summary Revenue, Standard Revenue and so on." name="RevnLineTypeCode" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="The Revenue Sequence Number" name="RevnSequenceNumber" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Identifier of the user who last updated the forecast territory." name="PrTerritoryUpdatedById" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="User who last updated the forecast territory." name="PrTerritoryUpdatedByPartyName" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Unique name for the primary revenue competitor." name="PartyUniqueName1" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Identifier of the opportunity sales account." name="SalesAccountId" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Name of the sales account." name="SalesAccountUniqueName" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Transient attribute used to indicate when a View Criteria is seeded rather than a custom one." name="ViewCriteriaIdentifier" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Discount percent." name="Discount" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="The expected revenue amount for the recurrence." name="RecurExpectAmount" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Transient attribute.  Web services need to pass a value to indicate the action to be taken on Recurring Schedule - create, delete, extend, replace." name="ScheduleAction" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="An additional Text field on the revenue object to store any custom text." name="AdditionalText1" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="An additional Text field on the revenue object to store any custom text." name="AdditionalText2" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="An additional numeric field on the revenue object to store any custom numeric value." name="AdditionalNumber" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="An additional currency enabled field on the revenue object to store any custom numeric value." name="AdditionalAmount" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="The Additional Num value for the recurrence." name="RecurAdditionalNumber" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="The Additional Amount value for the recurrence." name="RecurAdditionalAmount" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Recurring revenue child occurrences" name="RecurringRevenue" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Split revenues" name="SplitRevenue" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Revenue sales credits, excluding the the record with the maximum percentage." name="SplitRevenueOtherSplits" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Non-revenue credits associated with the revenue record" name="SplitRevenueNonQuota" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Non-revenue sales credits, excluding the the record with the maximum percentage." name="SplitRevenueNonQuotaOtherSplits" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Territories assigned to the revenue" name="RevenueTerritory" xmlns:oer="http://xmlns.oracle.com/oer" />
      </oer:attributes>
    </xsd:documentation>
  </xsd:annotation>
  <xsd:complexType name="Revenue">
    <xsd:annotation>
      <xsd:appinfo source="http://xmlns.oracle.com/adf/svc/metadata/">
        <key xmlns="http://xmlns.oracle.com/adf/svc/metadata/">
          <attribute>RevnId</attribute>
        </key>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element sdoXML:dataType="sdoJava:LongObject" minOccurs="0" name="RevnId" type="xsd:long" />
      <xsd:element minOccurs="0" name="TargetPartyId" nillable="true" type="xsd:long" />
      <xsd:element minOccurs="0" name="CustomerAccountId" nillable="true" type="xsd:long" />
      <xsd:element sdoXML:dataType="sdoJava:LongObject" minOccurs="0" name="BUOrgId" type="xsd:long" />
      <xsd:element minOccurs="0" name="Comments" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="CommitFlag" nillable="true" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="CostAmount" nillable="true" type="ns0:AmountType" />
      <xsd:element minOccurs="0" name="ResourcePartyId" nillable="true" type="xsd:long" />
      <xsd:element sdoXML:dataType="sdoJava:LongObject" minOccurs="0" name="OwnerResourceOrgId" type="xsd:long" />
      <xsd:element minOccurs="0" name="DownsideAmount" nillable="true" type="ns0:AmountType" />
      <xsd:element minOccurs="0" name="ExpectAmount" nillable="true" type="ns0:AmountType" />
      <xsd:element minOccurs="0" name="MarginAmount" nillable="true" type="ns0:AmountType" />
      <xsd:element minOccurs="0" name="OptyId" nillable="true" type="xsd:long" />
      <xsd:element minOccurs="0" name="UnitPrice" nillable="true" type="ns0:AmountType" />
      <xsd:element minOccurs="0" name="InventoryItemId" nillable="true" type="xsd:long" />
      <xsd:element minOccurs="0" name="InventoryOrgId" nillable="true" type="xsd:long" />
      <xsd:element minOccurs="0" name="Quantity" nillable="true" type="ns0:MeasureType" />
      <xsd:element minOccurs="0" name="RevnAmount" nillable="true" type="ns0:AmountType" />
      <xsd:element minOccurs="0" name="RevnAmountCurcyCode" type="xsd:string" />
      <xsd:element minOccurs="0" name="TypeCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="TypeCodeSetId" nillable="true" type="xsd:long" />
      <xsd:element minOccurs="0" name="UpsideAmount" nillable="true" type="ns0:AmountType" />
      <xsd:element minOccurs="0" name="WinProb" nillable="true" type="xsd:decimal" />
      <xsd:element minOccurs="0" name="UOMCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="ExpectDlvryDate" nillable="true" type="ns0:date-Date" />
      <xsd:element minOccurs="0" name="CreatedBy" type="xsd:string" />
      <xsd:element minOccurs="0" name="CreationDate" type="ns0:dateTime-Timestamp" />
      <xsd:element sdoXML:dataType="sdoJava:LongObject" minOccurs="0" name="ConflictId" type="xsd:long" />
      <xsd:element minOccurs="0" name="LastUpdatedBy" type="xsd:string" />
      <xsd:element minOccurs="0" name="LastUpdateDate" type="ns0:dateTime-Timestamp" />
      <xsd:element minOccurs="0" name="LastUpdateLogin" nillable="true" type="xsd:string" />
      <xsd:element sdoXML:dataType="sdoJava:IntObject" minOccurs="0" name="ObjectVersionNumber" type="xsd:int" />
      <xsd:element minOccurs="0" name="UserLastUpdateDate" nillable="true" type="ns0:dateTime-Timestamp" />
      <xsd:element minOccurs="0" name="PartyName" type="xsd:string" />
      <xsd:element minOccurs="0" name="Description" type="xsd:string" />
      <xsd:element minOccurs="0" name="PrimaryFlag" nillable="true" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="Name" type="xsd:string" />
      <xsd:element minOccurs="0" name="RevnNumber" type="xsd:string" />
      <xsd:element minOccurs="0" name="ProdGroupId" nillable="true" type="xsd:long" />
      <xsd:element minOccurs="0" name="ProdGroupName" type="xsd:string" />
      <xsd:element minOccurs="0" name="RecurFrequencyCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="RecurEndDate" nillable="true" type="ns0:date-Date" />
      <xsd:element minOccurs="0" name="RecurParentRevnId" nillable="true" type="xsd:long" />
      <xsd:element minOccurs="0" name="RecurNumberPeriods" nillable="true" type="xsd:int" />
      <xsd:element minOccurs="0" name="RecurQuantity" nillable="true" type="ns0:MeasureType" />
      <xsd:element minOccurs="0" name="RecurUnitPrice" nillable="true" type="ns0:AmountType" />
      <xsd:element minOccurs="0" name="RecurRevnAmount" nillable="true" type="ns0:AmountType" />
      <xsd:element minOccurs="0" name="RecurTypeCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="RecurStartDate" nillable="true" type="ns0:date-Date" />
      <xsd:element minOccurs="0" name="SalesCreditTypeCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="SplitParentRevnId" nillable="true" type="xsd:long" />
      <xsd:element minOccurs="0" name="SplitPercent" nillable="true" type="xsd:decimal" />
      <xsd:element minOccurs="0" name="SplitTypeCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="StatusCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="StatusCodeSetId" nillable="true" type="xsd:long" />
      <xsd:element minOccurs="0" name="EffectiveDate" nillable="true" type="ns0:date-Date" />
      <xsd:element minOccurs="0" name="CloseReasonCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="CloseReasonCodeSetId" nillable="true" type="xsd:long" />
      <xsd:element minOccurs="0" name="PrCmptPartyId" nillable="true" type="xsd:long" />
      <xsd:element minOccurs="0" name="PartyName1" type="xsd:string" />
      <xsd:element minOccurs="0" name="RecurPeriodOrEndDateCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="ActualCloseDate" nillable="true" type="ns0:date-Date" />
      <xsd:element minOccurs="0" default="EGP_SYSTEM_ITEMS" name="AttachmentEntityName" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="PartyName2" type="xsd:string" />
      <xsd:element minOccurs="0" name="PrTerritoryVersionId" nillable="true" type="xsd:long" />
      <xsd:element minOccurs="0" name="ConversionRate" nillable="true" type="xsd:decimal" />
      <xsd:element minOccurs="0" name="ConversionRateType" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="OwnerDealExpirationDate" nillable="true" type="ns0:date-Date" />
      <xsd:element minOccurs="0" name="OwnerDealProtectedDate" nillable="true" type="ns0:date-Date" />
      <xsd:element minOccurs="0" name="OwnerLockAsgnFlag" nillable="true" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="Name1" type="xsd:string" />
      <xsd:element minOccurs="0" name="ForecastOverrideCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="ItemNumber" type="xsd:string" />
      <xsd:element minOccurs="0" name="OptyNumber" type="xsd:string" />
      <xsd:element minOccurs="0" name="ProductType" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="NqSplitAllocTypeCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="RecurDownsideAmount" nillable="true" type="ns0:AmountType" />
      <xsd:element minOccurs="0" name="RecurUpsideAmount" nillable="true" type="ns0:AmountType" />
      <xsd:element minOccurs="0" name="CrmCurcyCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="CrmConversionRateType" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="CrmConversionRate" nillable="true" type="xsd:decimal" />
      <xsd:element minOccurs="0" name="OwnerOrgTreeCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="OwnerOrgTreeStructCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="RevnCreationDate" nillable="true" type="ns0:dateTime-Timestamp" />
      <xsd:element minOccurs="0" name="RevnCategoryCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="OptyLeadId" nillable="true" type="xsd:long" />
      <xsd:element minOccurs="0" name="SalesChannelCd" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="PrPartOrgPartyId" nillable="true" type="xsd:long" />
      <xsd:element minOccurs="0" name="PartEngagementTypeCd" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="CreditRcptPartOrgPartyId" nillable="true" type="xsd:long" />
      <xsd:element sdoXML:dataType="sdoJava:LongObject" minOccurs="0" name="PartOrgPartyId" type="xsd:long" />
      <xsd:element minOccurs="0" name="PartOrgPartyName" type="xsd:string" />
      <xsd:element minOccurs="0" name="ParentRevnId" nillable="true" type="xsd:long" />
      <xsd:element minOccurs="0" name="RevnLineTypeCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="RevnSequenceNumber" nillable="true" type="xsd:int" />
      <xsd:element minOccurs="0" name="PrTerritoryUpdatedById" nillable="true" type="xsd:long" />
      <xsd:element minOccurs="0" name="PrTerritoryUpdatedByPartyName" type="xsd:string" />
      <xsd:element minOccurs="0" name="PartyUniqueName1" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="SalesAccountId" nillable="true" type="xsd:long" />
      <xsd:element minOccurs="0" name="SalesAccountUniqueName" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="ViewCriteriaIdentifier" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="Discount" nillable="true" type="xsd:decimal" />
      <xsd:element minOccurs="0" name="RecurExpectAmount" nillable="true" type="ns0:AmountType" />
      <xsd:element minOccurs="0" name="ScheduleAction" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="AdditionalText1" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="AdditionalText2" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="AdditionalNumber" nillable="true" type="xsd:decimal" />
      <xsd:element minOccurs="0" name="AdditionalAmount" nillable="true" type="ns0:AmountType" />
      <xsd:element minOccurs="0" name="RecurAdditionalNumber" nillable="true" type="xsd:decimal" />
      <xsd:element minOccurs="0" name="RecurAdditionalAmount" nillable="true" type="ns0:AmountType" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="RecurringRevenue" type="RecurringRevenue" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="SplitRevenue" type="SplitRevenue" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="SplitRevenueOtherSplits" type="SplitRevenue" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="SplitRevenueNonQuota" type="SplitRevenue" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="SplitRevenueNonQuotaOtherSplits" type="SplitRevenue" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="RevenueTerritory" type="RevenueTerritory" />
      <xsd:element sdoXML:dataType="sdoJava:BooleanObject" minOccurs="0" name="O_INT_SBL_RevnSyncStatus_c" type="xsd:boolean" />
      <xsd:element sdoXML:dataType="sdoJava:BooleanObject" minOccurs="0" name="O_INT_SBL_BundledProduct_c" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="O_INT_SBL_RevnNum_c" nillable="true" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="revenue" type="Revenue" />
</xsd:schema>