salescloud/cx/projects/Accelerator.SalesCloud.Client/Service References/OpportunityProxyService/RevenuePartner.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://xmlns.oracle.com/apps/sales/opptyMgmt/revenues/revenueService/" xmlns:sdoJava="commonj.sdo/java" xmlns:sdoXML="commonj.sdo/xml" xmlns:ns0="http://xmlns.oracle.com/adf/svc/types/" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/sales/opptyMgmt/revenues/revenueService/" sdoJava:package="oracle.apps.sales.opptyMgmt.revenues.revenueService" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="https://slcai761.us.oracle.com:10616/opptyMgmtOpportunities/OpportunityService?XSD=/META-INF/wsdl/BC4JService.xsd" namespace="http://xmlns.oracle.com/adf/svc/types/" />
  <xsd:import schemaLocation="https://slcai761.us.oracle.com:10616/opptyMgmtOpportunities/OpportunityService?XSD=/xml/sdoJava.xsd" namespace="commonj.sdo/java" />
  <xsd:import schemaLocation="https://slcai761.us.oracle.com:10616/opptyMgmtOpportunities/OpportunityService?XSD=/xml/sdoXML.xsd" namespace="commonj.sdo/xml" />
  <xsd:annotation>
    <xsd:documentation xmlns:oer="http://xmlns.oracle.com/oer">
      <name xmlns="http://xmlns.oracle.com/apps/sales/opptyMgmt/revenues/revenueService/">Opportunity Partner</name>
      <description xmlns="http://xmlns.oracle.com/apps/sales/opptyMgmt/revenues/revenueService/">A partner that is contributing to the selling effort for an opportunity revenue line.</description>
      <oer:category name="lba" xmlns:oer="http://xmlns.oracle.com/oer">
        <value xmlns="http://xmlns.oracle.com/apps/sales/opptyMgmt/revenues/revenueService/">SalesTop-Sales</value>
        <value xmlns="http://xmlns.oracle.com/apps/sales/opptyMgmt/revenues/revenueService/">SalesTop-Sales : OpptyMgmtTop-Sales Opportunity Top</value>
        <value xmlns="http://xmlns.oracle.com/apps/sales/opptyMgmt/revenues/revenueService/">SalesTop-Sales : OpptyMgmtTop-Sales Opportunity Top : OpptyMgmtOpportunities-Opportunities</value>
      </oer:category>
      <oer:category name="lbo" xmlns:oer="http://xmlns.oracle.com/oer">
        <value xmlns="http://xmlns.oracle.com/apps/sales/opptyMgmt/revenues/revenueService/">CRM-CRM : MOO-Opportunity Management : MOO_REVENUE-Sales Revenue</value>
      </oer:category>
      <oer:attributes xmlns:oer="http://xmlns.oracle.com/oer">
        <oer:attribute description="Opportunity identifier." name="OptyId" />
        <oer:attribute description="Party identifier of the partner organization associated to the revenue." name="PartOrgPartyId" />
        <oer:attribute description="Identifier of the partner program of the partner in the context of this opportunity." name="PartProgramId" />
        <oer:attribute description="Partner type for the partner in the context of this opportunity." name="PartTypeCd" />
        <oer:attribute description="Identifier of the the summary revenue for this opportunity." name="RevnId" />
        <oer:attribute description="Identifier for the partners associated to the opportunity." name="RevnPartOrgPartyId" />
        <oer:attribute description="Estimated close date of the deal registration." name="DealEstCloseDate" />
        <oer:attribute description="Expiration date of the deal registration." name="DealExpirationDate" />
        <oer:attribute description="Type of deal registration." name="DealType" />
        <oer:attribute description="Identifier of the primary partner resource." name="PrPartResourcePartyId" />
        <oer:attribute description="Registration number of the deal registration." name="RegistrationNumber" />
        <oer:attribute description="Identifier of the Partner Party is associated to the Opportunity" name="PartyId" />
        <oer:attribute description="Name of the partners associated to the opportunity." name="PartyName" />
        <oer:attribute description="Name of the primary partner resources from the partners associated to the opportunity." name="PartyName1" />
        <oer:attribute description="In audit trail, this is the label displaying the association between a revenue line and an opportunity partner." name="RevnPartnerNumber" />
        <oer:attribute description="Who column: indicates the date and time of the last update of the row." name="LastUpdateDate" />
        <oer:attribute description="Who column: indicates the session login associated to the user who last updated the row." name="LastUpdateLogin" />
        <oer:attribute description="Who column: indicates the user who last updated the row." name="LastUpdatedBy" />
        <oer:attribute description="Who column: indicates the date and time of the creation of the row." name="CreationDate" />
        <oer:attribute description="Who column: indicates the user who created the row." name="CreatedBy" />
        <oer:attribute description="Email Address of the Partner Organization" name="PartOrgEmailAddress" />
        <oer:attribute description="Phone Number of the Partner Organization" name="PartOrgFormattedPhoneNumber" />
        <oer:attribute description="Registration Status of the Partner Created Opportunity/Deal" name="RegistrationStatus" />
        <oer:attribute description="Name of the Partner's Primary contact." name="PreferredContactName" />
        <oer:attribute description="Email of the Partner's Primary contact." name="PreferredContactEmail" />
        <oer:attribute description="Phone Number of the Partner's Primary contact." name="PreferredContactPhone" />
      </oer:attributes>
    </xsd:documentation>
  </xsd:annotation>
  <xsd:complexType name="RevenuePartner">
    <xsd:annotation>
      <xsd:appinfo source="http://xmlns.oracle.com/adf/svc/metadata/">
        <key xmlns="http://xmlns.oracle.com/adf/svc/metadata/">
          <attribute>RevnPartOrgPartyId</attribute>
        </key>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element sdoXML:dataType="sdoJava:LongObject" minOccurs="0" name="OptyId" type="xsd:long" />
      <xsd:element sdoXML:dataType="sdoJava:LongObject" minOccurs="0" name="PartOrgPartyId" type="xsd:long" />
      <xsd:element minOccurs="0" name="PartProgramId" nillable="true" type="xsd:long" />
      <xsd:element minOccurs="0" name="PartTypeCd" nillable="true" type="xsd:string" />
      <xsd:element sdoXML:dataType="sdoJava:LongObject" minOccurs="0" name="RevnId" type="xsd:long" />
      <xsd:element sdoXML:dataType="sdoJava:LongObject" minOccurs="0" name="RevnPartOrgPartyId" type="xsd:long" />
      <xsd:element minOccurs="0" name="DealEstCloseDate" nillable="true" type="ns0:dateTime-Timestamp" />
      <xsd:element minOccurs="0" name="DealExpirationDate" nillable="true" type="ns0:dateTime-Timestamp" />
      <xsd:element minOccurs="0" name="DealType" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="PrPartResourcePartyId" nillable="true" type="xsd:long" />
      <xsd:element minOccurs="0" name="RegistrationNumber" nillable="true" type="xsd:string" />
      <xsd:element sdoXML:dataType="sdoJava:LongObject" minOccurs="0" name="PartyId" type="xsd:long" />
      <xsd:element minOccurs="0" name="PartyName" type="xsd:string" />
      <xsd:element minOccurs="0" name="PartyName1" type="xsd:string" />
      <xsd:element minOccurs="0" name="RevnPartnerNumber" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="LastUpdateDate" type="ns0:dateTime-Timestamp" />
      <xsd:element minOccurs="0" name="LastUpdateLogin" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="LastUpdatedBy" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="CreationDate" type="ns0:dateTime-Timestamp" />
      <xsd:element minOccurs="0" name="CreatedBy" type="xsd:string" />
      <xsd:element minOccurs="0" name="PartOrgEmailAddress" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="PartOrgFormattedPhoneNumber" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="RegistrationStatus" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="PreferredContactName" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="PreferredContactEmail" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="PreferredContactPhone" nillable="true" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="revenuePartner" type="RevenuePartner" />
</xsd:schema>