salescloud/cx/projects/Accelerator.SalesCloud.Client/Service References/OpportunityProxyService/SplitRevenue.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://xmlns.oracle.com/apps/sales/opptyMgmt/revenues/revenueService/" xmlns:sdoJava="commonj.sdo/java" xmlns:sdoXML="commonj.sdo/xml" xmlns:ns0="http://xmlns.oracle.com/adf/svc/types/" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/sales/opptyMgmt/revenues/revenueService/" sdoJava:package="oracle.apps.sales.opptyMgmt.revenues.revenueService" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="https://slcai761.us.oracle.com:10616/opptyMgmtOpportunities/OpportunityService?XSD=/META-INF/wsdl/BC4JService.xsd" namespace="http://xmlns.oracle.com/adf/svc/types/" />
  <xsd:import schemaLocation="https://slcai761.us.oracle.com:10616/opptyMgmtOpportunities/OpportunityService?XSD=/xml/sdoJava.xsd" namespace="commonj.sdo/java" />
  <xsd:import schemaLocation="https://slcai761.us.oracle.com:10616/opptyMgmtOpportunities/OpportunityService?XSD=/xml/sdoXML.xsd" namespace="commonj.sdo/xml" />
  <xsd:annotation>
    <xsd:documentation xmlns:oer="http://xmlns.oracle.com/oer">
      <name xmlns="http://xmlns.oracle.com/apps/sales/opptyMgmt/revenues/revenueService/">Opportunity Split Revenue</name>
      <description xmlns="http://xmlns.oracle.com/apps/sales/opptyMgmt/revenues/revenueService/">The revenue or nonrevenue credit allocated to the resource who
                has contributed to the selling effort for an opportunity revenue
                line.</description>
      <oer:category name="lba" xmlns:oer="http://xmlns.oracle.com/oer">
        <value xmlns="http://xmlns.oracle.com/apps/sales/opptyMgmt/revenues/revenueService/">SalesTop-Sales</value>
        <value xmlns="http://xmlns.oracle.com/apps/sales/opptyMgmt/revenues/revenueService/">SalesTop-Sales : OpptyMgmtTop-Sales Opportunity Top</value>
        <value xmlns="http://xmlns.oracle.com/apps/sales/opptyMgmt/revenues/revenueService/">SalesTop-Sales : OpptyMgmtTop-Sales Opportunity Top :
                    OpptyMgmtOpportunities-Opportunities</value>
      </oer:category>
      <oer:category name="lbo" xmlns:oer="http://xmlns.oracle.com/oer">
        <value xmlns="http://xmlns.oracle.com/apps/sales/opptyMgmt/revenues/revenueService/">CRM-CRM : MOO-Opportunity Management :
                    MOO_OPPORTUNITY-Opportunity</value>
      </oer:category>
      <oer:attributes xmlns:oer="http://xmlns.oracle.com/oer">
        <oer:attribute description="Party identifier of the opportunity sales account." name="TargetPartyId" />
        <oer:attribute description="Primary key." name="RevnId" />
        <oer:attribute description="Business unit identifier" name="BUOrgId" />
        <oer:attribute description="Customer account identifier." name="CustomerAccountId" />
        <oer:attribute description="Indicates if this revenue line should be used for forecasting." name="CommitFlag" />
        <oer:attribute description="Comments for this revenue line." name="Comments" />
        <oer:attribute description="Resource identifier of the credit recipient." name="ResourcePartyId" />
        <oer:attribute description="Cost amount. Not currently used in Fusion." name="CostAmount" />
        <oer:attribute description="Worst case amount." name="DownsideAmount" />
        <oer:attribute description="Resource organization identifier of the credit recipient." name="OwnerResourceOrgId" />
        <oer:attribute description="Expected revenue amount." name="ExpectAmount" />
        <oer:attribute description="Estimated close date for this revenue line - defaulted from the opportunity's close date" name="EffectiveDate" />
        <oer:attribute description="Opportunity identifier." name="OptyId" />
        <oer:attribute description="Margin amount. Not currently used in Fusion." name="MarginAmount" />
        <oer:attribute description="Product inventory item identifier." name="InventoryItemId" />
        <oer:attribute description="Unit price for the product." name="UnitPrice" />
        <oer:attribute description="Product quantity." name="Quantity" />
        <oer:attribute description="Product inventory organization identifier." name="InventoryOrgId" />
        <oer:attribute description="The currency the amount on this revenue line is based on." name="RevnAmountCurcyCode" />
        <oer:attribute description="Revenue amount." name="RevnAmount" />
        <oer:attribute description="Best case amount." name="UpsideAmount" />
        <oer:attribute description="Indicates the revenue type for this revenue line." name="TypeCode" />
        <oer:attribute description="Set id for the revenue type of this opportunity" name="TypeCodeSetId" />
        <oer:attribute description="Indicates whether the revenue record is a summary revenue line." name="PrimaryFlag" />
        <oer:attribute description="Win probability percent." name="WinProb" />
        <oer:attribute description="Expected delivery date for the product. Not currently used in Fusion." name="ExpectDlvryDate" />
        <oer:attribute description="Unit of measure code for the product." name="UOMCode" />
        <oer:attribute description="Who column: indicates the date and time of the creation of the row." name="CreationDate" />
        <oer:attribute description="Who column: indicates the user who created the row." name="CreatedBy" />
        <oer:attribute description="Who column: indicates the user who last updated the row." name="LastUpdatedBy" />
        <oer:attribute description="Disconnected Mobile: this value is used to guarantee the uniqueness of the row when duplicates are created in different databases (i.e. mobile databases or the server)." name="ConflictId" />
        <oer:attribute description="Who column: indicates the session login associated to the user who last updated the row." name="LastUpdateLogin" />
        <oer:attribute description="Who column: indicates the date and time of the last update of the row." name="LastUpdateDate" />
        <oer:attribute description="Disconnected Mobile: indicates the date and time of the last update of the row. This value is different from LAST_UPDATE_DATE if the update originally happened in a different database (i.e. a different mobile database or the server)." name="UserLastUpdateDate" />
        <oer:attribute description="Used to implement optimistic locking. This number is incremented every time that the row is updated. The number is compared at the start and end of a transaction to detect whether another session has updated the row since it was queried." name="ObjectVersionNumber" />
        <oer:attribute description="Product group identifier." name="ProdGroupId" />
        <oer:attribute description="Unique number for the revenue line. Initially defaulted from the revenue identifier." name="RevnNumber" />
        <oer:attribute description="The frequency for the receurrence." name="RecurFrequencyCode" />
        <oer:attribute description="End date of the recurrence." name="RecurEndDate" />
        <oer:attribute description="Indicates the parent revenue identifier for the recurrence." name="RecurParentRevnId" />
        <oer:attribute description="The number of periods for the recurrence." name="RecurNumberPeriods" />
        <oer:attribute description="The recurring revenue amount. This is the revenue amount for each recurrence." name="RecurRevnAmount" />
        <oer:attribute description="The recurring quantity. This is the quantity for each recurrence." name="RecurQuantity" />
        <oer:attribute description="Indicates the type of revenue line, whether it is a parent recurring line, a child recurring line, or a non-recurring line." name="RecurTypeCode" />
        <oer:attribute description="Start date of the recurrence." name="RecurStartDate" />
        <oer:attribute description="Indicates the type of sales credit - revenue or nonrevenue." name="SalesCreditTypeCode" />
        <oer:attribute description="Customer account identifier." name="SplitParentRevnId" />
        <oer:attribute description="Split percent." name="SplitPercent" />
        <oer:attribute description="Sales credit type of this credit split - Revenue or Nonrevenue." name="SplitTypeCode" />
        <oer:attribute description="Revenue status code." name="StatusCode" />
        <oer:attribute description="Set id for the status of this revenue" name="StatusCodeSetId" />
        <oer:attribute description="Win/loss reason the revenue line." name="CloseReasonCode" />
        <oer:attribute description="Set id for the Win/Loss reason of this revenue." name="CloseReasonCodeSetId" />
        <oer:attribute description="Primary competitor identifier." name="PrCmptPartyId" />
        <oer:attribute description="Name of the credit recipient." name="PartyName" />
        <oer:attribute description="Party identifier." name="PartyId" />
        <oer:attribute description="This rate is used for the conversion of the revenue amount to the opportunity summary currency, if the currency of the revenue line is different from that of the opportunity. This is the rate that one currency can be exchanged for, at a specific point in time." name="ConversionRate" />
        <oer:attribute description="This rate type is used for the conversion of the revenue amount to the opportunity summary currency, if the currency of the revenue line is different from that of the opportunity. The rate type is usually spot, user defined, or corporate." name="ConversionRateType" />
        <oer:attribute description="Deal expiration date of the credit recipient." name="OwnerDealExpirationDate" />
        <oer:attribute description="Deal protected date of the credit recipient." name="OwnerDealProtectedDate" />
        <oer:attribute description="Indicates if the credit recipients of the revenue line should be locked from re-assignment by the system." name="OwnerLockAsgnFlag" />
        <oer:attribute description="Name of the resource organization of the credit recipient." name="Name" />
        <oer:attribute description="Effective start date of the resource organization," name="EffectiveStartDate" />
        <oer:attribute description="Effective end date of the resource organization" name="EffectiveEndDate" />
        <oer:attribute description="Object version number of the resource organization." name="ObjectVersionNumber1" />
        <oer:attribute description="Forecast territory version identifier." name="PrTerritoryVersionId" />
        <oer:attribute description="Determines if the revenue line should always be forecasted, never be forecasted, or forecasted only when the forecast criteria is met." name="ForecastOverrideCode" />
        <oer:attribute description="Resource organization tree code for the credit recipient." name="OwnerOrgTreeCode" />
        <oer:attribute description="Resource organization tree structure code for the credit recipient." name="OwnerOrgTreeStructCode" />
        <oer:attribute description="Party Identifier of the partner organization which the credit recipient belongs to." name="CreditRcptPartOrgPartyId" />
        <oer:attribute description="Name of the partner organization which the credit recipient belongs to." name="CreditRcptPartOrgPartyName" />
        <oer:attribute description="Records how the territory was added to the revenue line, whether it was manually selected or automatically assigned." name="AssignmentType" />
        <oer:attribute description="Identifier of the user who last updated the forecast territory." name="PrTerritoryUpdatedById" />
        <oer:attribute description="Name of the user who last updated the forecast territory." name="PrTerritoryUpdatedByPartyName" />
        <oer:attribute description="Identifier of the opportunity sales account." name="SalesAccountId" />
      </oer:attributes>
    </xsd:documentation>
  </xsd:annotation>
  <xsd:complexType name="SplitRevenue">
    <xsd:annotation>
      <xsd:appinfo source="http://xmlns.oracle.com/adf/svc/metadata/">
        <key xmlns="http://xmlns.oracle.com/adf/svc/metadata/">
          <attribute>RevnId</attribute>
        </key>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="TargetPartyId" nillable="true" type="xsd:long" />
      <xsd:element sdoXML:dataType="sdoJava:LongObject" minOccurs="0" name="RevnId" type="xsd:long" />
      <xsd:element minOccurs="0" name="BUOrgId" nillable="true" type="xsd:long" />
      <xsd:element minOccurs="0" name="CustomerAccountId" nillable="true" type="xsd:long" />
      <xsd:element minOccurs="0" name="CommitFlag" nillable="true" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="Comments" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="ResourcePartyId" nillable="true" type="xsd:long" />
      <xsd:element minOccurs="0" name="CostAmount" nillable="true" type="ns0:AmountType" />
      <xsd:element minOccurs="0" name="DownsideAmount" nillable="true" type="ns0:AmountType" />
      <xsd:element minOccurs="0" name="OwnerResourceOrgId" nillable="true" type="xsd:long" />
      <xsd:element minOccurs="0" name="ExpectAmount" nillable="true" type="ns0:AmountType" />
      <xsd:element minOccurs="0" name="EffectiveDate" nillable="true" type="ns0:date-Date" />
      <xsd:element minOccurs="0" name="OptyId" nillable="true" type="xsd:long" />
      <xsd:element minOccurs="0" name="MarginAmount" nillable="true" type="ns0:AmountType" />
      <xsd:element minOccurs="0" name="InventoryItemId" nillable="true" type="xsd:long" />
      <xsd:element minOccurs="0" name="UnitPrice" nillable="true" type="ns0:AmountType" />
      <xsd:element minOccurs="0" name="Quantity" nillable="true" type="ns0:MeasureType" />
      <xsd:element minOccurs="0" name="InventoryOrgId" nillable="true" type="xsd:long" />
      <xsd:element minOccurs="0" name="RevnAmountCurcyCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="RevnAmount" nillable="true" type="ns0:AmountType" />
      <xsd:element minOccurs="0" name="UpsideAmount" nillable="true" type="ns0:AmountType" />
      <xsd:element minOccurs="0" name="TypeCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="TypeCodeSetId" nillable="true" type="xsd:long" />
      <xsd:element minOccurs="0" name="PrimaryFlag" nillable="true" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="WinProb" nillable="true" type="xsd:decimal" />
      <xsd:element minOccurs="0" name="ExpectDlvryDate" nillable="true" type="ns0:date-Date" />
      <xsd:element minOccurs="0" name="UOMCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="CreationDate" type="ns0:dateTime-Timestamp" />
      <xsd:element minOccurs="0" name="CreatedBy" type="xsd:string" />
      <xsd:element minOccurs="0" name="LastUpdatedBy" type="xsd:string" />
      <xsd:element sdoXML:dataType="sdoJava:LongObject" minOccurs="0" name="ConflictId" type="xsd:long" />
      <xsd:element minOccurs="0" name="LastUpdateLogin" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="LastUpdateDate" type="ns0:dateTime-Timestamp" />
      <xsd:element minOccurs="0" name="UserLastUpdateDate" nillable="true" type="ns0:dateTime-Timestamp" />
      <xsd:element sdoXML:dataType="sdoJava:IntObject" minOccurs="0" name="ObjectVersionNumber" type="xsd:int" />
      <xsd:element minOccurs="0" name="ProdGroupId" nillable="true" type="xsd:long" />
      <xsd:element minOccurs="0" name="RevnNumber" type="xsd:string" />
      <xsd:element minOccurs="0" name="RecurFrequencyCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="RecurEndDate" nillable="true" type="ns0:date-Date" />
      <xsd:element minOccurs="0" name="RecurParentRevnId" nillable="true" type="xsd:long" />
      <xsd:element minOccurs="0" name="RecurNumberPeriods" nillable="true" type="xsd:int" />
      <xsd:element minOccurs="0" name="RecurRevnAmount" nillable="true" type="ns0:AmountType" />
      <xsd:element minOccurs="0" name="RecurQuantity" nillable="true" type="ns0:MeasureType" />
      <xsd:element minOccurs="0" name="RecurTypeCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="RecurStartDate" nillable="true" type="ns0:date-Date" />
      <xsd:element minOccurs="0" name="SalesCreditTypeCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="SplitParentRevnId" nillable="true" type="xsd:long" />
      <xsd:element minOccurs="0" name="SplitPercent" nillable="true" type="xsd:decimal" />
      <xsd:element minOccurs="0" name="SplitTypeCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="StatusCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="StatusCodeSetId" nillable="true" type="xsd:long" />
      <xsd:element minOccurs="0" name="CloseReasonCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="CloseReasonCodeSetId" nillable="true" type="xsd:long" />
      <xsd:element minOccurs="0" name="PrCmptPartyId" nillable="true" type="xsd:long" />
      <xsd:element minOccurs="0" name="PartyName" type="xsd:string" />
      <xsd:element sdoXML:dataType="sdoJava:LongObject" minOccurs="0" name="PartyId" type="xsd:long" />
      <xsd:element minOccurs="0" name="ConversionRate" nillable="true" type="xsd:decimal" />
      <xsd:element minOccurs="0" name="ConversionRateType" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="OwnerDealExpirationDate" nillable="true" type="ns0:date-Date" />
      <xsd:element minOccurs="0" name="OwnerDealProtectedDate" nillable="true" type="ns0:date-Date" />
      <xsd:element minOccurs="0" name="OwnerLockAsgnFlag" nillable="true" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="Name" type="xsd:string" />
      <xsd:element minOccurs="0" name="EffectiveStartDate" type="ns0:date-Date" />
      <xsd:element minOccurs="0" name="EffectiveEndDate" type="ns0:date-Date" />
      <xsd:element sdoXML:dataType="sdoJava:IntObject" minOccurs="0" name="ObjectVersionNumber1" type="xsd:int" />
      <xsd:element minOccurs="0" name="PrTerritoryVersionId" nillable="true" type="xsd:long" />
      <xsd:element minOccurs="0" name="ForecastOverrideCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="OwnerOrgTreeCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="OwnerOrgTreeStructCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="CreditRcptPartOrgPartyId" nillable="true" type="xsd:long" />
      <xsd:element minOccurs="0" name="CreditRcptPartOrgPartyName" type="xsd:string" />
      <xsd:element minOccurs="0" name="AssignmentType" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="PrTerritoryUpdatedById" nillable="true" type="xsd:long" />
      <xsd:element minOccurs="0" name="PrTerritoryUpdatedByPartyName" type="xsd:string" />
      <xsd:element minOccurs="0" name="SalesAccountId" nillable="true" type="xsd:long" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="splitRevenue" type="SplitRevenue" />
</xsd:schema>