salescloud/cx/projects/Accelerator.SalesCloud.Client/Service References/OpportunityProxyService/TransientAssignee.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://xmlns.oracle.com/apps/crmCommon/activities/activitiesService/" xmlns:sdoJava="commonj.sdo/java" xmlns:sdoXML="commonj.sdo/xml" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/crmCommon/activities/activitiesService/" sdoJava:package="oracle.apps.crmCommon.activities.activitiesService" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="https://slcai761.us.oracle.com:10616/opptyMgmtOpportunities/OpportunityService?XSD=/xml/sdoXML.xsd" namespace="commonj.sdo/xml" />
  <xsd:import schemaLocation="https://slcai761.us.oracle.com:10616/opptyMgmtOpportunities/OpportunityService?XSD=/xml/sdoJava.xsd" namespace="commonj.sdo/java" />
  <xsd:annotation>
    <xsd:documentation xmlns:oer="http://xmlns.oracle.com/oer">
      <name xmlns="http://xmlns.oracle.com/apps/crmCommon/activities/activitiesService/">Appointment Transient Assignee SDO</name>
      <description xmlns="http://xmlns.oracle.com/apps/crmCommon/activities/activitiesService/">An internal resource participant such as John Jones or Mary
                Smith, for an individual appointment and each instance of a
                recurring appointment.</description>
      <oer:category name="lba" xmlns:oer="http://xmlns.oracle.com/oer">
        <value xmlns="http://xmlns.oracle.com/apps/crmCommon/activities/activitiesService/">CrmCommonComponent-CRM Common Components</value>
        <value xmlns="http://xmlns.oracle.com/apps/crmCommon/activities/activitiesService/">CrmCommonComponent-CRM Common Components :
                    AppCmmnCompActivities-Activities</value>
      </oer:category>
      <oer:attributes xmlns:oer="http://xmlns.oracle.com/oer">
        <oer:attribute description="Unique identifier for the appointment resource participant" name="ActivityAssigneeId" />
        <oer:attribute description="Identifier of the party corresponding to resource participating at the appointment" name="AssigneeId" />
        <oer:attribute description="Unique identifier for Appointment" name="ActivityId" />
        <oer:attribute description="The id of the organization the resource belongs to." name="AssigneeRsrcOrgId" />
        <oer:attribute description="Identifier of the party corresponding to resource participating at the appointment" name="PartyId" />
        <oer:attribute description="Show a resource time as Busy or Available on his calendar" name="ShowTimeAsCd" />
        <oer:attribute description="Response to an appointment invitation such as Accepted, Rejected, Tentatively Accepted" name="AppointmentResponseCd" />
        <oer:attribute description="Indicates that the appointment resource participant is also the appointment owner" name="OwnerFlag" />
        <oer:attribute description="Name of the resource participating at the appointment" name="PartyName" />
      </oer:attributes>
    </xsd:documentation>
  </xsd:annotation>
  <xsd:complexType name="TransientAssignee">
    <xsd:annotation>
      <xsd:appinfo source="http://xmlns.oracle.com/adf/svc/metadata/">
        <key xmlns="http://xmlns.oracle.com/adf/svc/metadata/">
          <attribute>ActivityAssigneeId</attribute>
        </key>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element sdoXML:dataType="sdoJava:LongObject" minOccurs="0" name="ActivityAssigneeId" nillable="true" type="xsd:long" />
      <xsd:element sdoXML:dataType="sdoJava:LongObject" minOccurs="0" name="AssigneeId" nillable="true" type="xsd:long" />
      <xsd:element sdoXML:dataType="sdoJava:LongObject" minOccurs="0" name="ActivityId" nillable="true" type="xsd:long" />
      <xsd:element sdoXML:dataType="sdoJava:LongObject" minOccurs="0" name="AssigneeRsrcOrgId" nillable="true" type="xsd:long" />
      <xsd:element sdoXML:dataType="sdoJava:LongObject" minOccurs="0" name="PartyId" nillable="true" type="xsd:long" />
      <xsd:element minOccurs="0" name="ShowTimeAsCd" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" default="NOT_RESPONDED" name="AppointmentResponseCd" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="OwnerFlag" nillable="true" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="PartyName" nillable="true" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="transientAssignee" type="TransientAssignee" />
</xsd:schema>