fieldservice/toa/cx/projects/Oracle.RightNow.Toa.Client/Service References/InboundProxyService/InboundInterfaceAPI.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:typens="urn:toatech:InboundInterface:1.0" xmlns="http://schemas.xmlsoap.org/wsdl/" name="InboundInterfaceAPI" targetNamespace="urn:toatech:InboundInterface:1.0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="urn:toatech:InboundInterface:1.0">
      <xsd:complexType name="InboundInterfaceElement">
        <xsd:all>
          <xsd:element minOccurs="1" maxOccurs="1" name="user" type="typens:UserElement" />
          <xsd:element minOccurs="1" maxOccurs="1" name="head" type="typens:HeadElement" />
          <xsd:element minOccurs="1" maxOccurs="1" name="data" type="typens:DataElement" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="InboundInterfaceResponseElement">
        <xsd:all>
          <xsd:element minOccurs="0" maxOccurs="1" name="user" type="typens:UserElement" />
          <xsd:element minOccurs="0" maxOccurs="1" name="head" type="typens:HeadResponseElement" />
          <xsd:element minOccurs="0" maxOccurs="1" name="data" type="typens:DataResponseElement" />
          <xsd:element minOccurs="0" maxOccurs="1" name="report" type="typens:ReportElement" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="UserElement">
        <xsd:all>
          <xsd:element minOccurs="1" maxOccurs="1" name="now" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="login" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="company" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="auth_string" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="HeadResponseElement">
        <xsd:all>
          <xsd:element minOccurs="0" maxOccurs="1" name="id" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="date" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="HeadElement">
        <xsd:all>
          <xsd:element minOccurs="0" maxOccurs="1" name="processing_mode" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="upload_type" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="id" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="date" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="allow_change_date" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="appointment" type="typens:AppointmentSettings" />
          <xsd:element minOccurs="0" maxOccurs="1" name="inventory" type="typens:InventorySettings" />
          <xsd:element minOccurs="0" maxOccurs="1" name="properties_mode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="provider_group" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="default_appointment_pool" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="AppointmentSettings">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="keys" type="typens:KeysArray" />
          <xsd:element minOccurs="0" maxOccurs="1" name="action_if_completed" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="InventorySettings">
        <xsd:all>
          <xsd:element minOccurs="1" maxOccurs="1" name="keys" type="typens:KeysArray" />
          <xsd:element minOccurs="0" maxOccurs="1" name="upload_type" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="KeysArray">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="unbounded" name="field" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="DataElement">
        <xsd:all>
          <xsd:element minOccurs="0" maxOccurs="1" name="commands" type="typens:CommandsArray" />
          <xsd:element minOccurs="0" maxOccurs="1" name="providers" type="typens:ProvidersArray" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="DataResponseElement">
        <xsd:all>
          <xsd:element minOccurs="0" maxOccurs="1" name="commands" type="typens:CommandsResponseArray" />
          <xsd:element minOccurs="0" maxOccurs="1" name="providers" type="typens:ProvidersResponseArray" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="CommandsArray">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="unbounded" name="command" type="typens:CommandElement" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="LinksArray">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="erase_links" type="typens:EraseLinksElement" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="link_start_together" type="typens:AddLinkElement" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="link_start_after" type="typens:AddLinkElement" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="link" type="typens:LinkElement" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="EraseLinksElement">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="link_type" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="AddLinkElement">
        <xsd:all>
          <xsd:element minOccurs="0" maxOccurs="1" name="appt_number" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="customer_number" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="name" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="LinkElement">
        <xsd:all>
          <xsd:element minOccurs="0" maxOccurs="1" name="appt_number" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="customer_number" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="name" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="link_type" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="min_interval" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="max_interval" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="FilesArray">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="unbounded" name="file" type="typens:FileElement" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="FileElement">
        <xsd:all>
          <xsd:element minOccurs="1" maxOccurs="1" name="property_label" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="filename" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="mime_type" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="encoding" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="contents" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ProviderPreferenceElement">
        <xsd:all>
          <xsd:element minOccurs="1" maxOccurs="1" name="external_id" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="type" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ProviderPreferencesArray">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="preference" type="typens:ProviderPreferenceElement" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="RequiredInventoryElement">
        <xsd:all>
          <xsd:element minOccurs="1" maxOccurs="1" name="type" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="model" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="quantity" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="RequiredInventoriesArray">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="required_inventory" type="typens:RequiredInventoryElement" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ProvidersArray">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="unbounded" name="provider" type="typens:ProviderElement" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="CommandsResponseArray">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="unbounded" name="command" type="typens:CommandResponseElement" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ProvidersResponseArray">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="unbounded" name="provider" type="typens:ProviderResponseElement" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="CommandElement">
        <xsd:all>
          <xsd:element minOccurs="0" maxOccurs="1" name="date" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="time" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="type" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="external_id" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="fallback_external_id" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="appointment" type="typens:AppointmentElement" />
          <xsd:element minOccurs="0" maxOccurs="1" name="inventories" type="typens:InventoriesArray" />
          <xsd:element minOccurs="0" maxOccurs="1" name="userdata" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="CommandResponseElement">
        <xsd:all>
          <xsd:element minOccurs="0" maxOccurs="1" name="date" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="type" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="external_id" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="fallback_external_id" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="appointment" type="typens:AppointmentResponseElement" />
          <xsd:element minOccurs="0" maxOccurs="1" name="inventories" type="typens:InventoriesResponseArray" />
          <xsd:element minOccurs="0" maxOccurs="1" name="report" type="typens:ReportElement" />
          <xsd:element minOccurs="0" maxOccurs="1" name="userdata" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="AppointmentElement">
        <xsd:all>
          <xsd:element minOccurs="0" maxOccurs="1" name="appt_number" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="team_id" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="customer_number" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="worktype" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="worktype_label" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="service_window_start" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="service_window_end" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="sla_window_start" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="sla_window_end" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="time_of_booking" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="time_slot" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="duration" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="name" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="message_methods" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="phone" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="email" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="cell" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="address" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="city" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="state" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="zip" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="language" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="reminder_time" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="time_zone" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="coordx" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="coordy" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="points" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="properties" type="typens:PropertiesArray" />
          <xsd:element minOccurs="0" maxOccurs="1" name="inventories" type="typens:InventoriesArray" />
          <xsd:element minOccurs="0" maxOccurs="1" name="links" type="typens:LinksArray" />
          <xsd:element minOccurs="0" maxOccurs="1" name="files" type="typens:FilesArray" />
          <xsd:element minOccurs="0" maxOccurs="1" name="provider_preferences" type="typens:ProviderPreferencesArray" />
          <xsd:element minOccurs="0" maxOccurs="1" name="required_inventories" type="typens:RequiredInventoriesArray" />
          <xsd:element minOccurs="0" maxOccurs="1" name="action_if_completed" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="userdata" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="AppointmentResponseElement">
        <xsd:all>
          <xsd:element minOccurs="0" maxOccurs="1" name="appt_number" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="customer_number" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="name" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="aid" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="inventories" type="typens:InventoriesResponseArray" />
          <xsd:element minOccurs="0" maxOccurs="1" name="report" type="typens:ReportElement" />
          <xsd:element minOccurs="0" maxOccurs="1" name="userdata" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ProviderElement">
        <xsd:all>
          <xsd:element minOccurs="1" maxOccurs="1" name="external_id" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="fallback_external_id" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="appointment" type="typens:AppointmentElement" />
          <xsd:element minOccurs="0" maxOccurs="1" name="inventories" type="typens:InventoriesArray" />
          <xsd:element minOccurs="0" maxOccurs="1" name="userdata" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ProviderResponseElement">
        <xsd:all>
          <xsd:element minOccurs="1" maxOccurs="1" name="external_id" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="appointment" type="typens:AppointmentResponseElement" />
          <xsd:element minOccurs="0" maxOccurs="1" name="inventories" type="typens:InventoriesResponseArray" />
          <xsd:element minOccurs="0" maxOccurs="1" name="report" type="typens:ReportElement" />
          <xsd:element minOccurs="0" maxOccurs="1" name="userdata" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="PropertiesArray">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="property" type="typens:PropertyElement" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="InventoriesArray">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="unbounded" name="inventory" type="typens:InventoryElement" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="InventoriesResponseArray">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="unbounded" name="inventory" type="typens:InventoryResponseElement" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="PropertyElement">
        <xsd:all>
          <xsd:element minOccurs="1" maxOccurs="1" name="label" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="value" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="InventoryElement">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="properties" type="typens:PropertiesArray" />
          <xsd:element minOccurs="0" maxOccurs="1" name="files" type="typens:FilesArray" />
          <xsd:element minOccurs="0" maxOccurs="1" name="userdata" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="InventoryResponseElement">
        <xsd:all>
          <xsd:element minOccurs="1" maxOccurs="1" name="properties" type="typens:PropertiesArray" />
          <xsd:element minOccurs="0" maxOccurs="1" name="report" type="typens:ReportElement" />
          <xsd:element minOccurs="0" maxOccurs="1" name="userdata" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="invid" type="xsd:int" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ReportElement">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="unbounded" name="message" type="typens:ReportMessageElement" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ReportMessageElement">
        <xsd:all>
          <xsd:element minOccurs="1" maxOccurs="1" name="result" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="type" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="code" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="description" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:element name="inbound_interface_request" type="typens:InboundInterfaceElement" />
      <xsd:element name="inbound_interface_response" type="typens:InboundInterfaceResponseElement" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="InboundInterfaceRequestMsg">
    <wsdl:part name="params" element="typens:inbound_interface_request" />
  </wsdl:message>
  <wsdl:message name="InboundInterfaceResponseMsg">
    <wsdl:part name="params" element="typens:inbound_interface_response" />
  </wsdl:message>
  <wsdl:portType name="InboundInterfacePort">
    <wsdl:operation name="inbound_interface">
      <wsdl:input message="typens:InboundInterfaceRequestMsg" />
      <wsdl:output message="typens:InboundInterfaceResponseMsg" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="InboundInterfaceBinding" type="typens:InboundInterfacePort">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="inbound_interface">
      <soap:operation soapAction="InboundInterfaceService/inbound_interface" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="InboundInterfaceService">
    <wsdl:port name="InboundInterfacePort" binding="typens:InboundInterfaceBinding">
      <soap:address location="https://demo.etadirect.com/soap/inbound/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>